<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>打印出库单</title>
    <link type="text/css" rel="stylesheet" href="./reset.css">
    <link type="text/css" rel="stylesheet" href="./print.css">
    <link type="text/css" rel="stylesheet" href="../../style/iconfont/iconfont.css">
</head>

<body>
    <div class="w">
        <div class="header">
            <div class="h-left">
                <embed src="../../images/logo.svg" style="display:inline-block;width:62%;height:120px" />
                <span class="p-title">出库单</span>
            </div>
            <div class="h-right">
                <embed src="../../images/NO.svg" style="display:inline-block;width:80px;height:40px" />
                <span class="numb">WM002143245</span>
            </div>
        </div>
    </div>
    <div class="w">
        <div class="write-info">
            <div class="write-item"><i>客户：</i><span></span></div>
            <div class="write-item"><i>货权人：</i><span></span></div>
            <div class="write-item"><i>出库单号：</i><span></span></div>
            <div class="write-item"><i>仓库名称：</i><span></span></div>
            <div class="write-item"><i>提单号：</i><span></span></div>
            <div class="write-item"><i>出库日期：</i><span></span></div>
        </div>
    </div>
    <div class="w" style="padding: 0 20px;">
        <table class="weimu-table">
            <tr class="table-header">
                <td>货柜号/批次号</td>
                <td>包号</td>
                <td>品种</td>
                <td>规格/厚度</td>
                <td>等级</td>
                <td>长度</td>
                <td>品牌</td>
                <td>产地</td>
                <td>件数</td>
                <td>数量(m³)</td>
                <td>备注</td>
            </tr>
            <tr>
                <td>888888</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td>888888</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td>888888</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td>888888</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td class="total">合计</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="w">
        <div class="careful"><i class="icon iconfont icon-gantanhao_icon"></i>注意：如对数据有异议，请在签收后24小时内书面告知，并协商解决，否则即视为认可。</div>
    </div>

    <div class="w">
        <div class="sign-info">
            <div class="sign-item"><i>监管方：</i><span></span></div>
            <div class="sign-item"><i>提货人签字：</i><span></span></div>
            <div class="sign-item"><i>仓库：</i><span></span></div>
            <div class="sign-item"><i style="color:transparent;">&nbsp;</i></div>
            <div class="sign-item"><i>地址：</i><span></span></div>
            <div class="sign-item"><i>日期：</i><span></span></div>
            <div class="sign-item"><i>联系人/电话：</i><span></span></div>
        </div>
    </div>
</body>

</html>