<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>打印入库单</title>
    <link type="text/css" rel="stylesheet" href="./reset.css">
    <link type="text/css" rel="stylesheet" href="./print.css">
    <link type="text/css" rel="stylesheet" href="../../style/iconfont/iconfont.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
    <div class="w">
        <div class="header">
            <div class="h-left">
                <embed src="../../images/logo.svg" style="display:inline-block;width:62%;height:120px" />
                <span class="p-title">入库单</span>
            </div>
            <div class="h-right">
                <embed src="../../images/NO.svg" style="display:inline-block;width:80px;height:40px" />
                <span class="numb">WM002143245</span>
            </div>
        </div>
    </div>
    <div class="w">
        <div class="write-info">
            <div class="write-item"><i>客户：</i><span></span></div>
            <div class="write-item"><i>货权人：</i><span></span></div>
            <div class="write-item"><i>入库单号：</i><span></span></div>
            <div class="write-item"><i>仓库名称：</i><span></span></div>
            <div class="write-item"><i>提单号：</i><span></span></div>
            <div class="write-item"><i>入库日期：</i><span></span></div>
        </div>
    </div>
    <div class="w" style="padding: 0 20px;">
        <table class="weimu-table">
            <tr class="table-header">
                <td>货柜号/批次号</td>
                <td>包号</td>
                <td>品种</td>
                <td>规格/厚度</td>
                <td>等级</td>
                <td>长度</td>
                <td>品牌</td>
                <td>产地</td>
                <td>件数</td>
                <td>数量(m³)</td>
                <td>备注</td>
            </tr>
            <!-- <tr>
                <td rowspan="1">888888</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td rowspan="4">888888</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
                <td>1002</td>
            </tr> -->
            <tr class="bottom">
                <td class="total">合计</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="total-num"></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="w">
        <div class="careful"><i class="icon iconfont icon-gantanhao_icon"></i>注意：如对数据有异议，请在签收后24小时内书面告知，并协商解决，否则即视为认可。</div>
    </div>

    <div class="w">
        <div class="sign-info">
            <div class="sign-item"><i>监管方：</i><span></span></div>
            <div class="sign-item"><i>客户签章：</i><span></span></div>
            <div class="sign-item"><i>仓库：</i><span></span></div>
            <div class="sign-item"><i style="color:transparent;">&nbsp;</i></div>
            <div class="sign-item"><i>地址：</i><span></span></div>
            <div class="sign-item"><i>日期：</i><span></span></div>
            <div class="sign-item"><i>联系人/电话：</i><span></span></div>
        </div>
    </div>

    <script>
        var trHeader = $(".table-header");

        var arr = [
            {
                "orderno": "1001",
                "offset": 0,
                "ownername": "谢平",
                "num": 2,
                "depotid": 5,
                "createdate": "2018-11-12 11:19:56",
                "createuser": "xp",
                "ownerid": 6,
                "outdate": "2018-11-12 11:19:56",
                "volume": 20,
                "ishistory": 30,
            },
            {
                "orderno": "1001",
                "offset": 0,
                "ownername": "谢平",
                "num": 2,
                "depotid": 5,
                "createdate": "2018-11-12 11:19:56",
                "createuser": "xp",
                "ownerid": 6,
                "outdate": "2018-11-12 11:19:56",
                "volume": 20,
                "ishistory": 30,
            },
            {
                "orderno": "1001",
                "offset": 0,
                "ownername": "谢平",
                "num": 2,
                "depotid": 5,
                "createdate": "2018-11-12 11:19:56",
                "createuser": "xp",
                "ownerid": 6,
                "outdate": "2018-11-12 11:19:56",
                "volume": 20,
                "ishistory": 30,
            },
            {
                "orderno": "1002",
                "offset": 0,
                "ownername": "杨人",
                "num": 1,
                "depotid": "id",
                "createdate": "2018-11-12 12:30:43",
                "createuser": "xp",
                "ownerid": "owe",
                "outdate": "2018-11-12 12:30:43",
                "volume": 20,
                "ishistory": 30,
            },
            {
                "orderno": "1002",
                "offset": 0,
                "ownername": "杨人",
                "num": 1,
                "depotid": "id",
                "createdate": "2018-11-12 12:30:43",
                "createuser": "xp",
                "ownerid": "owe",
                "outdate": "2018-11-12 12:30:43",
                "volume": 20,
                "ishistory": 30,
            },
            {
                "orderno": "1002",
                "offset": 0,
                "ownername": "杨人",
                "num": 1,
                "depotid": "id",
                "createdate": "2018-11-12 12:30:43",
                "createuser": "xp",
                "ownerid": "owe",
                "outdate": "2018-11-12 12:30:43",
                "volume": 20,
                "ishistory": 30,
            },
            {
                "orderno": "1002",
                "offset": 0,
                "ownername": "杨人",
                "num": 1,
                "depotid": "id",
                "createdate": "2018-11-12 12:30:43",
                "createuser": "xp",
                "ownerid": "owe",
                "outdate": "2018-11-12 12:30:43",
                "volume": 20,
                "ishistory": 30,
            }, 
            {
                "orderno": "1003",
                "offset": 0,
                "ownername": "杨人",
                "num": 1,
                "depotid": "id",
                "createdate": "2018-11-12 12:30:43",
                "createuser": "xp",
                "ownerid": "owe",
                "outdate": "2018-11-12 12:30:43",
                "volume": 20,
                "ishistory": 30,
            }
        ];

        function dataRearr (arr, orderId) {
            var h = {},
                dest = [];
            for (var i = 0; i < arr.length; i++) {
                var ai = arr[i];
                if (!h[ai.orderno]) {
                    dest.push({
                        orderno: ai.orderno,
                        data: [ai]
                    });
                    h[ai.orderno] = ai;
                }
                else {
                    for (var j = 0; j < dest.length; j++) {
                        var dj = dest[j];
                        if (dj.orderno == ai.orderno) {
                            dj.data.push(ai);
                            break;
                        }
                    }
                }
            }
            return dest;
        }

        var arrRear = dataRearr(arr,"orderno");

        var trs = '';

        for (var k = 0; k < arrRear.length; k++) {
            var len = arrRear[k].data.length;
            var arrOll = arrRear[k].data;
            var arrBod = arrOll.slice(1);
            var trH = '<tr>' +
                '<td rowspan="' + len + '">' + arrOll[0].orderno + '</td>' +
                '<td>' + arrOll[0].offset + '</td>' +
                '<td>' + arrOll[0].ownername + '</td>' +
                '<td>' + arrOll[0].num + '</td>' +
                '<td>' + arrOll[0].depotid + '</td>' +
                '<td>' + arrOll[0].createdate + '</td>' +
                '<td>' + arrOll[0].createuser + '</td>' +
                '<td>' + arrOll[0].ownerid + '</td>' +
                '<td>' + arrOll[0].outdate + '</td>' +
                '<td>' + arrOll[0].volume + '</td>' +
                '<td>' + arrOll[0].ishistory + '</td>' +
                '</tr>';
            trs += trH;
            for (var n = 0; n < arrBod.length; n++) {
                var trB = '<tr>' +
                    '<td>' + arrBod[n].offset + '</td>' +
                    '<td>' + arrBod[n].ownername + '</td>' +
                    '<td>' + arrBod[n].num + '</td>' +
                    '<td>' + arrBod[n].depotid + '</td>' +
                    '<td>' + arrBod[n].createdate + '</td>' +
                    '<td>' + arrBod[n].createuser + '</td>' +
                    '<td>' + arrBod[n].ownerid + '</td>' +
                    '<td>' + arrBod[n].outdate + '</td>' +
                    '<td>' + arrBod[n].volume + '</td>' +
                    '<td>' + arrBod[n].ishistory + '</td>' +
                    '</tr>';
                trs += trB;
            }
        }

        trHeader.after(trs);

    </script>
</body>

</html>