.home-content {
    height: 100%;
    padding: 40px 0 40px 40px;
    box-sizing: border-box; 
}

.count {
    overflow: hidden;
}

.count .count-item {
    float: left;
    border-radius: 4px;
    width: 320px;
    height: 88px;
    margin-right: 30px;
    overflow: hidden;
}

.count-item-top {
    width: auto;
    height: 28px;
    padding: 0 10px 0 20px;
    color: #fff;
}

.count-item-top>.top-l {
    float: left;
    font-size: 18px;
    line-height: 28px;
}

.count-item-top>.top-r {
    float: right;
    font-size: 14px;
    margin-top: 7px;
}

.count .count-item[data-color="green"] {
    border: 1px solid #06a488;
}

.count .count-item[data-color="blue"] {
    border: 1px solid #07b1bd;
}

.count .count-item[data-color="orange"] {
    border: 1px solid#f58935;
}

.count .count-item[data-color="green"]>.count-item-top {
    background-color: #06a488;
}

.count .count-item[data-color="blue"]>.count-item-top {
    background-color: #07b1bd;
}

.count .count-item[data-color="orange"]>.count-item-top {
    background-color: #f58935;
}

.count-item-body {
    width: auto;
    font-size: 36px;
    line-height: 60px;
    padding: 0 15px;
}

.count .count-item[data-color="green"]>.count-item-body {
    color: #06a488;
}

.count .count-item[data-color="blue"]>.count-item-body {
    color: #07b1bd;
}

.count .count-item[data-color="orange"]>.count-item-body {
    color: #f58935;
}

.flow-title {
    width: auto;
    overflow: hidden;
    padding: 12px 0;
    border-bottom: 1px solid #dbdbdb;
}

.flow-title .main-title, .flow-title .sub-title  {
    font-size: 20px;
    padding-left: 10px;
    color: #333;
    font-weight: bold;
    float: left;
    position: relative;
}


.flow-title .main-title::before {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    width: 5px;
    height: 20px;
    border-radius: 5px;
    background: #333;
}

.flow-title .sub-title {
    color: #e9e9e9;
}

.flow-path {
    overflow: hidden;
    margin-top: 30px;
}

.flow-path dl, .flow-path>div.arrow {
    float: left;
}

.flow-path dl {
    width: 154px;
    height: 132px;
    background-color: #e7e7e7;
    border-radius: 4px;
}

.flow-path dl>dt {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 70px;
    margin: 15px auto 10px;
    font-size: 0px;
    text-align: center;
}

.flow-path dl>dt>u {
    display: block;
    width: 70px;
    height: 70px;
}

.flow-path dl>dt[data-img="a"]>u {
    background: url("../images/icon_home_a.png") no-repeat center;
}

.flow-path dl>dt[data-img="b"]>u {
    background: url("../images/icon_home_b.png") no-repeat center;
}

.flow-path dl>dt[data-img="c"]>u {
    background: url("../images/icon_home_c.png") no-repeat center;
}

.flow-path dl>dt[data-img="d"]>u {
    background: url("../images/icon_home_d.png") no-repeat center;
}

.flow-path dl>dt[data-img="e"]>u {
    background: url("../images/icon_home_e.png") no-repeat center;
}

.flow-path dl>dt[data-img="f"]>u {
    background: url("../images/icon_home_f.png") no-repeat center;
}

.flow-path dl>dt[data-img="g"]>u {
    background: url("../images/icon_home_g.png") no-repeat center;
}

.flow-path dl>dt[data-img="h"]>u {
    background: url("../images/icon_home_h.png") no-repeat center;
}

.flow-path dl>dd {
    width: auto;
    font-size: 18px;
    color: #666;
    text-align: center
}

.flow-path div.arrow {
    float: left;
    width: 17px;
    height: 134px;
    margin: 0 25px 0 28px;
    background: url("../images/icon_home_arrow.png") no-repeat center;
}