.home-content {
    height: 100%;
    padding: 40px 0 30px 30px;
    box-sizing: border-box; 
}

.count {
    overflow: hidden;
}

.count .count-item {
    float: left;
    border-radius: 4px;
    width: 18.2%;
    min-width: 180px;
    height: 88px;
    margin-right: 30px;
    overflow: hidden;
    padding-left: 20px;
    box-sizing: border-box;
}

.count-item-top {
    width: auto;
    height: 28px;
    padding: 0 10px 0 0;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,.3);
}

.count-item-top>.top-l {
    float: left;
    font-size: 16px;
    line-height: 28px;
}

.count-item-top>.top-r {
    float: right;
    font-size: 14px;
    margin-top: 7px;
}

.count .count-item[data-color="green"] {
    background-color: #20b067;
}

.count .count-item[data-color="blue"] {
    background-color: #228fb3;
}

.count .count-item[data-color="orange"] {
    background-color: #297cca;
}

.count-item-body {
    width: auto;
    font-size: 32px;
    line-height: 60px;
    padding: 0 15px 0 0;
    color: #fff;
}

.count .count-form-item {
    float: left;
    border-radius: 4px;
    /*min-width: 200px;*/
    /*width: 258px;*/
    width: 13.4%;
    min-width: 190px;
    height: 88px;
    margin-right: 30px;
    overflow: hidden;
    color: #537197;
    border: 1px solid #537197;
    box-sizing: border-box;
    display: flex;
}

.count .count-form-item:last-child {
    margin-right: 0px;
}

.count .count-form-item .form-item-lf {
    float: left;
    width: 86px;
    height: 86px;
    text-align: center;
    line-height: 86px;
    background-color: #537197;
    color: #eef6ff;
}

.count .count-form-item .form-item-lf .iconfont {
    font-size: 40px;
}

.count .count-form-item .form-item-rt {
    float: left;
    height: 86px;
    flex: 1;
}

.count .count-form-item .form-item-rt .top {
    display: block;
    width: 100%;
    height: 44px;
    vertical-align: bottom;
    color: #537197;
    font-size: 36px;
    padding-left: 18px;
    /*padding-right: 10px;*/
    box-sizing: border-box;
    margin-top: 6px;
}

.count .count-form-item .form-item-rt .bot {
    display: block;
    width: 100%;
    vertical-align: bottom;
    color: #537197;
    font-size: 16px;
    padding-left: 18px;
    /*padding-right: 10px;*/
    box-sizing: border-box;
    margin-top: 4px;
    min-width: 120px;
}

.flow-path-out {
    margin-top: 40px;
    padding-right: 30px;
}

.flow-path {
     width: 100%;
     height: 486px;
     background-color: #f9f9f9;
}

.flow-path .w {
    width: 1020px;
    margin: 0 auto;
    border-top: 1px solid transparent;
}

.flow-path .w .title {
    font-size: 20px;
    margin-top: 25px;
    color: #333;
    text-align: center;
}
