<div id="formEditView"></div>
<script id="formUser" type="text/html">
<form class="layui-form layer-open-form" action="">
    <div class="layui-form-item  layui-control-line">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" type="submit" lay-filter="addInsSubmit"><i class="iconfont icon-daochu"></i>保存</button>
        </div>
    </div>
    <div class="layui-form-item layui-normal-line">
        <label class="layui-form-label form-required">名称</label>
        <div class="layui-input-inline">
            <input type="text" id="name" name="name" lay-verify="required" placeholder="必填项,请输入分类名" class="layui-input"  value="{{# if(d.name){}}{{d.name}}{{# }}}">
            <input type="hidden" id="id" name="id"   value="{{# if(d.id){}}{{d.id}}{{# }}}">
            <input type="hidden" id="utype" name="utype" value="{{d.utype}}">
        </div>
    </div>
    <div class="layui-form-item layui-normal-line">
        <label class="layui-form-label form-required">上级分类</label>
        <div class="layui-input-inline">
            <select name="pid" lay-verify="required" xm-select="pid" xm-select-height="12px">
                <option value="0">顶级菜单</option>
                {{#  layui.each(d.insList, function(index, item){ }}
                     <option {{# if(d.pid && d.pid == item.id ){}} selected {{# }}} value="{{item.id}}">{{item.name}}</option>
                {{#  }); }}
            </select>
        </div>
    </div>
</form>
</script>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var  data= window.currData;
        if(data!=null){//不是空就是编辑
            console.log(data);
			var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			laytpl(getTpl).render(data, function(html) {
            	view.innerHTML = html;
        	});
		}else{
			var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			var dataOff=data;
			laytpl(getTpl).render(dataOff, function(html) {
				view.innerHTML = html;
			});
		}
		
        form.render(); //重置表单渲染

        //日期时间选择器
        laydate.render({
            elem: '#birthday',
            type: 'datetime',
            max: 0,
            change: function(val) {
                console.log(val);
            }
        });

    });
</script>