<div class="table-page" id="user-list">
    <div class="trr-container">
        <div class="tree-box">
            <div class="tree-header">
                <div class="header-btn-group">
                    <i class="iconfont icon-tianjialeibie" id="addins"></i>
                    <i class="iconfont icon-xiugaileibie" id="updins"></i>
                    <i class="iconfont icon-shanchu" id="delins"></i>
                </div>
            </div>
            <ul id="commonTree3" class="dtree" data-id="0"></ul>
        </div>
        <div class="table-content lay-table-content">
            <!--按钮-->
            <div class="table-content-title">
                <div class="table-tools">
                    <ul class="layui-nav" lay-filter="talbe-tools">
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;" class="creatUser"><i class="iconfont icon-zengjiajiaose"></i>添加用户</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" class="resetPas"><i class="iconfont icon-zhongzhi"></i>重置密码</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" class="userRole"><i class="iconfont icon-jiaoseshezhi"></i>设置角色</a>
                        </li> -->
                        <!--<li class="layui-nav-item item-more">
                            <a href="javascript:;">数据导入导出</a>
                            <dl class="layui-nav-child">
                                <dd><a id="dowmTemp" href="javascript:;">下载模板</a></dd>
                                <dd><a id="toImport" href="javascript:;">导入数据</a></dd>
                                <dd><a id="toExport" href="javascript:;">导出数据</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">打印</a>
                        </li> -->
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;" class="editBtn"><i class="iconfont icon-bianji"></i>编辑</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" class="deleteBtn"><i class="iconfont icon-shanchu"></i>删除</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" class="toExport"><i class="iconfont icon-daochu"></i>导出</a>
                        </li> 
                        <li class="layui-nav-item">
                            <a href="javascript:;" class="depotPower"><i class="iconfont icon-cangkuquanxian"></i>设置仓库权限</a>
                        </li>-->
                    </ul>
                </div>
            </div>
            <!--搜索-->
            <div class="table-page-header">
                <div class="table-page-form">
                    <form class="layui-form" action="">
                        <div class="form-box">
                            <div class="layui-form-item form-left">
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span" id="titleIns">用户名</span>
                                    <input type="text" name="username" placeholder="用户名" autocomplete="off" class="layui-input">
                                    <input type="hidden" name="instid" id="instid" value="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span" id="titleIns">管理的仓库</span>
                                    <input type="text" name="depotname" placeholder="仓库名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item form-right">
                                <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                                    <i class="iconfont icon-sousuo"></i> <span>查询</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--table表格-->
            <div class="table-content-main">
                <table class="layui-hide lay-table" id="tableContainer-userlist" lay-filter="tableContainer-userlist"></table>
            </div>
        </div>
    </div>
</div>
<style scode>
    .lay-table-content {
        padding: 0;
    }

    .table-content-main {
        padding-right: 30px;
        padding-left: 30px;
    }

    .table-page-form .form-box .form-left {
        flex: 0 0 auto;
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'tree', 'eleTree', 'dtree'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var eleTree = layui.eleTree;
        var dtree = layui.dtree;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 63); //内容区域所需减去的高度

        var menuKey = "a_15"; //当前页面key
        var domObj = $("#user-list .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限
        var tableOptionArr = getTableOption(menuKey); //表格列

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key].replace(/^\s*|\s*$/g, "");
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer-userlist',
            height: 'full-' + tableTopHeight,
            url: userList,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                tableOptionArr["tableContainer-userlist"]
                // [ //标题栏
                //     {
                //         field: 'LAY_TABLE_INDEX',
                //         title: '序号',
                //         width: 40,
                //         templet: function(d) {
                //             return d.LAY_TABLE_INDEX + 1;
                //         }
                //     }, {
                //         type: 'checkbox'
                //     }, {
                //         field: 'username',
                //         title: '用户名',
                //     }, {
                //         field: 'instname',
                //         title: '所属目录',
                //     }, {
                //         field: 'phone',
                //         title: '联系电话',
                //     }, {
                //         field: 'rolename',
                //         title: '角色',
                //     }, {
                //         field: 'email',
                //         title: '邮箱',
                //     }, {
                //         field: 'createdate',
                //         title: '创建时间',
                //     }
                // ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            title: "公司员工",
            done: function(res, curr, count) {
                // var addtableBtn = '<div class="rightBotBtn">已经选择<span>0</span>个货物</div>';
                // $(".layui-table-page").append(addtableBtn);
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        //监听表格CheckBox锁定操作
        table.on('checkbox(tableContainer-userlist)', function(obj) {
            var checkStatus = table.checkStatus('tableContainer-userlist'); // 表格选中状态
            $(".rightBotBtn span").html(checkStatus.data.length); // 当前选中了多少货物
        });

        $(".editBtn").click(function() {
            //编辑表格用户信息
            var checkStatus = table.checkStatus('tableContainer-userlist');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要编辑的信息");
            } else if (checkStatus.data.length > 1) {
                layer.msg("请选择需要编辑的单条信息");
            } else {
                var data = checkStatus.data[0];
                // data["instid"] = menuIns.id;
                data["instid"] = checkStatus.data[0].instid;
                data["inaAllList"] = inaAllList;
                window.currData = data; //全局对象存储当前选中行数据
                $.get('view/user/user-add.html', {}, function(str) {
                    eaitLayer = layer.open({
                        title: '编辑用户',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['800px', '560px'],
                    });
                });
            }
        });

        //重置密码
        $(".resetPas").click(function() {
            //编辑
            var checkStatus = table.checkStatus('tableContainer-userlist');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要重置的信息");
            } else if (checkStatus.data.length > 1) {
                layer.msg("请选择需要重置的单条信息");
            } else {
                window.currData = checkStatus.data[0]; //全局对象存储当前选中行数据
                $.get('view/user/user-resetPassword.html', {}, function(str) {
                    eaitLayer = layer.open({
                        title: '重置密码',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['800px', '560px'],
                    });
                });
            }
        });

        //设置角色
        $(".userRole").click(function() {
            //编辑
            var checkStatus = table.checkStatus('tableContainer-userlist');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要设置角色的信息");
            } else if (checkStatus.data.length > 1) {
                layer.msg("请选择需要设置角色的单条信息");
            } else {
                window.currData = checkStatus.data[0]; //全局对象存储当前选中行数据
                $.get('view/user/user-userRole.html', {}, function(str) {
                    eaitLayer = layer.open({
                        title: '设置角色',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['800px', '560px']
                    });
                });
            }
        });

        //设置角色提交
        form.on('submit(roleSubmit)', function(data) {
            // layer.confirm("确认设置角色", {
            //     skin: 'layui-layer-wei',  //layui-layer-wei，维木class
            //     title: '提示'
            // }, function(index) {
            data.field['SESSION_USER_CODE'] = getCookie("SESSION_USER_CODE");
            data.field['TOKEN'] = getCookie("TOKEN");
            $.ajax({
                cache: true,
                type: "POST",
                url: userAuthority,
                data: data.field,
                async: false,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                error: function(request) {
                    layer.msg('提交失败');
                    return false;
                },
                success: function(data) {
                    if (data.status === 0) {
                        layer.close(eaitLayer);
                        layer.msg('提交成功');
                        // 刷新表格
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    }
                    if (data.status === 1) {
                        window.location.href = loginPageUrl;
                    }
                }
            });
            // });
            return false;
        });

        //重置用户密码表单提交
        form.on('submit(resSubmit)', function(data) {
            var userData = window.currData;
            layer.confirm("重置密码", {
                skin: 'layui-layer-wei', //layui-layer-wei，维木class
                title: '提示'
            }, function(index) {
                data.field['SESSION_USER_CODE'] = getCookie("SESSION_USER_CODE");
                data.field['TOKEN'] = getCookie("TOKEN");
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: userPas,
                    data: data.field,
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    error: function(request) {
                        layer.msg('重置失败');
                        return false;
                    },
                    success: function(data) {
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        layer.close(eaitLayer);
                        layer.msg('重置成功');
                    }
                });
            });
            return false;
        });

        $("#allRefresh").click(function() {
            // 刷新表格按钮
            tableIns.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        form.on('submit(editForm)', function(data) {
            //编辑修改提交
            layer.confirm('确认提交修改', {
                skin: 'layui-layer-wei', //layui-layer-wei，维木class
                title: '提示'
            }, function(index) {
                data.field.orderno = window.currData.orderno; //防止单号被篡改
                data.field.origin = window.currData.origin; //
                data.field.supplier = window.currData.supplier; //
                rowDataApi(preEntryUpdate, data.field, function(data) {
                    layer.close(index);
                    layer.close(eaitLayer); //关闭
                    // 刷新表格
                    tableIns.reload({
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                })
            });
            return false;
        });

        $(".deleteBtn").click(function() {
            //删除
            var checkStatus = table.checkStatus('tableContainer-userlist');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    skin: 'layui-layer-wei', //layui-layer-wei，维木class
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.id);
                    });
                    //调用删除接口
                    $.ajax({
                        url: userDel,
                        type: "post",
                        data: {
                            "ids": rowId,
                            'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                            'TOKEN': getCookie('TOKEN')
                        },
                        traditional: true,
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success: function(res) {
                            if (res.status === 0) {
                                // 删除所选行成功
                                layer.close(index);
                                // 刷新表格
                                tableIns.reload({
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                                layer.msg(res.msg);
                            } else if (res.status === 1) {
                                goLogin(); // 跳转到登录页
                            }
                        }
                    });
                });
            }
        });

        //弹出添加用户
        $(".creatUser").click(function() {
            var data = {};
            data["instid"] = menuIns.id;
            data["inaAllList"] = inaAllList;
            window.currData = data;
            $.get('view/user/user-add.html', {}, function(str) {
                eaitLayer = layer.open({
                    title: '添加用户',
                    type: 1,
                    content: str,
                    resize: false,
                    area: ['800px', '560px'],
                });
            });
        });

        //添加用户表单提交
        form.on('submit(addSubmit)', function(data) {
            var userData = window.currData;
            var title = "";
            var userUrl = "";
            var isNameAdd = false; // 判断添加是否同名标识
            var isNameEdit = false; // 判断修改是否同名标识
            var isName = true; // 是否重名标识
            if (data.field.id != null && data.field.id !== "") {
                title = '确认提交修改？';
                userUrl = userUpdate;
                isNameEdit = !!(userData.username !== data.field.username);
            } else {
                title = '确认添加';
                userUrl = userAdd;
                data.field.id = null;
                isNameAdd = true;
            }
            // console.log(data.field.instid );
            var instid = data.field.instid.split("/");
            var ints = instid[instid.length - 1];
            if (ints === "") {
                ints = instid[0];
            }
            data.field.instid = ints;
            // 判断是否用户重复
            if (isNameAdd || isNameEdit) {
                $.ajax({
                    cache: true,
                    type: "get",
                    url: isname_user,
                    data: {
                        instid: data.field.instid,
                        username: data.field.username,
                        'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                        'TOKEN': getCookie('TOKEN')
                    },
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success: function(data) {
                        if (data.status === 1) {
                            goLogin(); // 跳转到登录页
                        }
                        if (data.status === 2) {
                            layer.msg('用户名已存在');
                            isName = false;
                        } else {
                            layer.msg('操作成功，该用户的操作权限或部分信息，需要重新登陆才能刷新！');
                        }

                    }
                });
                if (!isName) {
                    return false;
                }
            }

            // layer.confirm(title, {
            //     icon: 3,
            //     title: '提示'
            // }, function(index) {
            data.field['SESSION_USER_CODE'] = getCookie("SESSION_USER_CODE");
            data.field['TOKEN'] = getCookie("TOKEN");
            $.ajax({
                cache: true,
                type: "post",
                url: userUrl,
                data: data.field,
                async: false,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                error: function(request) {
                    layer.msg('请选择用户类型');
                    return false;
                },
                success: function(data) {
                    if (data.status === 1) {
                        goLogin();
                    }
                    layer.close(eaitLayer);
                    layer.msg('提交成功');
                    // 刷新表格
                    tableIns.reload({
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                }
            });
            // });
            return false;
        });

        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            if (data) {
                data['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                data['TOKEN'] = getCookie('TOKEN');
            } else {
                var data = {};
                data['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                data['TOKEN'] = getCookie('TOKEN');
            }

            $.ajax({
                url: url,
                type: "get",
                data: data,
                traditional: true,
                success: funSuc,
                error: funErr
            })
        }

        //变更下载模板链接
        $("#dowmTemp").attr("href", ilbstockImportTemp);

        //点击导出
        $("#toExport").on('click', function(e) {
            window.location.href = ilbstockExportUrl
        });

        var insList = []; //用户类型顶级目录
        var inaAllList = []; //用户类型所有的数据
        var menuIns = {}; //用户类型被点击的数据


        //菜单树
        function listIns() {
            var treeData = [];
            var data = {
                "utype": 0,
                'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                'TOKEN': getCookie('TOKEN')
            }; //1是仓库主类型
            $.ajax({
                type: "get",
                url: listInstitution,
                data: data,
                cache: false,
                async: false,
                success: function(res) {
                    console.log(res);
                    var insData = res.data;
                    inaAllList = res.data;
                    for (var i = 0; i < insData.length; i++) {
                        //生成樹形一級菜單
                        if (insData[i].pid == 0) {
                            (function() {
                                var item = {};
                                item["id"] = insData[i].id;
                                item["title"] = insData[i].name;
                                item["basicData"] = {
                                    "pid": insData[i].pid
                                };
                                item["isLast"] = true;
                                item["parentId"] = 0;
                                item["level"] = 1;
                                treeData.push(item);
                            })();
                        }
                    }

                    // insList = treeData;
                    for (var x = 0; x < treeData.length; x++) {
                        insList[x] = {};
                        insList[x].id = treeData[x].id
                        insList[x].name = treeData[x].title
                        insList[x].pid = treeData[x].basicData.pid
                    }

                    for (var k = 0; k < treeData.length; k++) {
                        //循环生成二级菜单
                        for (var i = 0; i < insData.length; i++) {
                            if (treeData[k].id == insData[i].pid) {
                                if (!Array.isArray(treeData[k]["children"])) {
                                    treeData[k]["children"] = [];
                                    treeData[k]["isLast"] = false;
                                };
                                (function() {
                                    var item = {};
                                    item["id"] = insData[i].id;
                                    item["title"] = insData[i].name;
                                    item["isLast"] = true;
                                    item["parentId"] = treeData[k].id;
                                    item["basicData"] = {
                                        "pid": insData[i].pid
                                    };
                                    // item["basicData"].push({
                                    //     "pid": insData[i].pid
                                    // });
                                    item["level"] = 2;
                                    treeData[k]["children"].push(item);
                                })()
                            }
                        }
                    }
                    for (var s = 0; s < treeData.length; s++) {
                        if (treeData[s].children && treeData[s].children.length > 0) {
                            firstId = treeData[s].children[0].id;
                            break;
                        }
                    }

                    /*dtree.render({
                        elem: "#commonTree3",
                        data: treeData,
                        icon: "2",
                        checkbar: true
                    });*/

                    dtree.render({
                        elem: "#commonTree3",
                        data: treeData,
                        firstIconArray: {
                            "2": {
                                "open": "iconfont icon-jian",
                                "close": "iconfont icon-jia"
                            }
                        }, // 自定扩展的一级非最后一级图标，从2开始
                        ficon: "2", // 使用
                        nodeIconArray: {
                            "1": {
                                "open": "iconfont icon-yijileibie",
                                "close": "iconfont icon-yijileibie"
                            }
                        }, // 自定扩展的二级非最后一级图标，从1开始
                        icon: ["1", "-1"], // 使用
                        checkbar: true // 不启用复选框
                    });

                }
            })
        }
        listIns();

        dtree.on("node('commonTree3')", function(param) {
            // 树形点击
            resTable(param)
        });

        // 点击菜单，根据菜单刷新表格
        function resTable(data) {
            // 刷新表格
            // console.log(data)
            menuIns.id = data.nodeId;
            menuIns.name = data.context;
            menuIns.pid = JSON.parse(data.basicData).pid;
            // console.log(menuIns)
            $("#instid").val(menuIns.id); //隐藏域保存点击的菜单id
            tableIns.reload({
                where: {
                    "instid": menuIns.id
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }

        //添加用户类型
        $("#addins").click(function() {
            var data = {};
            data["insList"] = insList;
            data["utype"] = 0;
            window.currData = data;
            $.get('view/user/institution-add.html', {}, function(str) {
                eaitLayer = layer.open({
                    title: '添加用户类型',
                    type: 1,
                    content: str,
                    resize: false,
                    area: ['800px', '560px'],
                });
            });
        });
        //修改用户类型
        $("#updins").click(function() {
            var data = menuIns;
            data["insList"] = insList;
            data["utype"] = 0;
            window.currData = data; //全局对象存储当前选中行数据
            $.get('view/user/institution-add.html', {}, function(str) {
                eaitLayer = layer.open({
                    title: '修改用户类型',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    resize: false,
                    area: ['800px', '560px'],
                });
            });
        });
        //删除用户类型
        $("#delins").click(function() {
            if (!menuIns.id) {
                layer.msg('请选择一条数据');
                return;
            }
            var ids = [];
            ids.push(menuIns.id);
            var data = {
                "ids": ids.toString(),
                'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                'TOKEN': getCookie('TOKEN')
            };
            layer.confirm("是否删除类型", {
                skin: 'layui-layer-wei', //layui-layer-wei，维木class
                title: '提示'
            }, function(index) {
                if (data) {
                    data['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                    data['TOKEN'] = getCookie('TOKEN');
                } else {
                    var data = {};
                    data['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                    data['TOKEN'] = getCookie('TOKEN');
                }

                $.ajax({
                    cache: true,
                    type: "post",
                    url: delInstitution,
                    data: data,
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    error: function(msg) {
                        layer.msg('提交失败');
                        return false;
                    },
                    success: function(res) {
                        layer.close(eaitLayer);
                        if (res.status === 0) {
                            layer.msg('提交成功');
                            listIns();
                        } else if (res.status === 1) {
                            goLogin(); // 跳转到登录页
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                });
            });
            return false;
        });

        // 添加用户类型表单提交
        form.on('submit(addInsSubmit)', function(data) {
            var title = "";
            var url = "";
            var isNameAdd = false; // 判断添加是否同名标识
            var isNameEdit = false; // 判断修改是否同名标识
            var isName = true; // 是否重名标识
            //编辑提交
            if (data.field.id != null && data.field.id !== "") {
                title = '确认提交修改';
                userUrl = updInstitution;
                isNameEdit = !!(menuIns.name.trim() !== data.field.name.trim());
            } else {
                title = '确认添加';
                userUrl = addInstitution;
                data.field.id = null;
                isNameAdd = true;
            }
            // 判断用户类型是否重复
            if (isNameAdd || isNameEdit) {
                $.ajax({
                    cache: true,
                    type: "get",
                    url: isname_institution,
                    data: {
                        utype: 0,
                        name: data.field.name,
                        'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                        'TOKEN': getCookie('TOKEN')
                    },
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success: function(data) {
                        if (data.status === 2) {
                            layer.msg('用户类型已存在');
                            isName = false;
                        }
                    }
                });
                if (!isName) {
                    return false;
                }
            }
            // 对输入的用户类型去空格
            data.field.name = data.field.name.replace(/^\s*|\s*$/g, "");
            // layer.confirm(title, {
            //     skin: 'layui-layer-wei',  //layui-layer-wei，维木class
            //     title: '提示'
            // }, function(index) {
            data.field['SESSION_USER_CODE'] = getCookie("SESSION_USER_CODE");
            data.field['TOKEN'] = getCookie("TOKEN");
            $.ajax({
                cache: true,
                type: "post",
                url: userUrl,
                data: data.field,
                async: false,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                error: function(msg) {
                    layer.msg('提交失败');
                    return false;
                },
                success: function(res) {
                    if (res.status === 0) {
                        layer.close(eaitLayer);
                        layer.msg('提交成功');
                        listIns();
                    } else if (res.status === 1) {
                        goLogin(); // 跳转到登录页
                    }
                }
            });
            // });
            return false;
        });

        //点击导出
        $(".toExport").on('click', function(e) {
            table.exportFile(tableIns.config.id, tableIns.config.data, "xls");
        });

        $(".depotPower").click(function() {
            //编辑
            var checkStatus = table.checkStatus('tableContainer-userlist');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择所需设置仓库权限的信息");
            } else if (checkStatus.data.length > 1) {
                layer.msg("请选择单条所需设置仓库权限的信息");
            } else {
                sessionStorage.setItem('userDepotPower',JSON.stringify(checkStatus.data[0]));
                $.get('view/user/user-depotPower.html', {}, function(str) {
                    eaitLayer = layer.open({
                        title: '设置' + checkStatus.data[0].username + '的仓库权限',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        area: ['800px', '700px']
                    });
                });
            }
        });
    });
</script>