<div id="formEditView"></div>
<script id="formUser" type="text/html">
    <form class="layui-form layer-open-form" action="">
        <div class="layui-form-item layui-control-line">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" type="submit" lay-filter="resSubmit"><i class="iconfont icon-baocun"></i>保存</button>
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
				{{# if(d.username){}} {{d.username}} {{# }}}
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label">密 码</label>
            <div class="layui-input-inline">
                <input type="text" id="password" name="password" lay-verify="required" placeholder="必填项,请输入密码" class="layui-input">
				<input type="hidden" id="id" name="id"   value="{{# if(d.id){}} {{d.id}} {{# }}}">
            </div>
        </div>
    </form>
</script>

<style scoped>
    .useradd {
        padding-right: 30px;
        padding-top: 30px;
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var  data= window.currData;
		var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			laytpl(getTpl).render(data, function(html) {
            	view.innerHTML = html;
        	});
        form.render(); //重置表单渲染
    });
</script>