<div id="formEditView"></div>
<script id="formUser" type="text/html">
<div class="useradd layui-form">
    <form>
        <div class="layui-form-item">
            <label class="layui-form-label">按钮名称</label>
            <div class="layui-input-block">
                <input type="text" id="bname" name="bname" lay-verify="required" placeholder="必填项,请输入用户名" class="layui-input"  value="{{# if(d.bname){}} {{d.bname}} {{# }}}">
                <input type="hidden" id="id" name="id"   value="{{# if(d.id){}} {{d.id}} {{# }}}">
                <input type="hidden" id="menuid" name="menuid"   value="{{# if(d.menuid){}} {{d.menuid}} {{# }}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">页面类型</label>
            <div class="layui-input-block">
                <select name="type">
                    <option value="0">父页面</option>
                    <option value="1">子页面</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后台接口地址</label>
            <div class="layui-input-block">
                <input type="text" id="interfacename" name="interfacename" placeholder="选填" value="{{# if(d.interfacename){}}{{d.interfacename}}{{# }}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">事件类名</label>
            <div class="layui-input-block">
                <input type="text" id="classname" name="classname" placeholder="选填" value="{{# if(d.classname){}}{{d.classname}}{{# }}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block">
                <input type="text" id="icon" name="icon" placeholder="选填" value="{{# if(d.icon){}}{{d.icon}}{{# }}}" class="layui-input">
            </div>
        </div>
		<div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" id="sort" name="sort" placeholder="选填" value="{{# if(d.sort){}}{{d.sort}}{{# }}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" type="submit" lay-filter="addSubmit">保存提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</script>

<style scoped>
    .useradd {
        padding-right: 30px;
        padding-top: 30px;
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var  data= window.currData;
		if(data!=null){//不是空就是编辑
			var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			laytpl(getTpl).render(data, function(html) {
            	view.innerHTML = html;
        	});
		}else{
			var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			var dataOff={};
			laytpl(getTpl).render(dataOff, function(html) {
				view.innerHTML = html;
			});
		}
		
        form.render(); //重置表单渲染

        //日期时间选择器
        laydate.render({
            elem: '#birthday',
            type: 'datetime',
            max: 0,
            change: function(val) {
                console.log(val);
            }
        });
    });
</script>