<form class="layui-form layer-open-form" action="" lay-filter="tableTitleForm">
    <div class="layui-form-item layui-control-line">
        <div class="layui-input-block">
            <a href="javascript:;" class="layui-btn addTableTitle"><i class="iconfont icon-baocunxinzeng"></i>新增</a>
            <a href="javascript:;" class="layui-btn layui-btn-primary cancelBtn"><i class="iconfont icon-zhongzhi"></i>取消</a>
        </div>
    </div>
    <div class="table-content-main">
        <table id="tableContainer-tableSet" lay-filter="tableContainer-tableSet"></table>
    </div>
</form>

<style scoped>
    .area-disable {
        line-height: 30px;
    }
</style>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="save">保存</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
<script>
    layui.use(['jquery', 'element', 'form', 'layer', 'laytpl', 'table'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var table = layui.table;

        var menuid = JSON.parse(sessionStorage.getItem('menuData')).id;
        var tableList = [];

        $.ajax({
            url: listtableauth,
            type: "get",
            data: {
                'menuid': menuid
            },
            success: function(res) {
                console.log(res);
                if (res.status == 0) {
                    tableList = res.data;
                    tableSet.reload({
                        data: tableList,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                }
            }
        })

        var tableSet = table.render({
            elem: '#tableContainer-tableSet',
            height: '450px',
            data: tableList,
            cols: [
                [ //标题栏
                    {
                        type: "numbers",
                        align: "center",
                        title: "序号"
                    },
                    {
                        field: "name",
                        title: "表格名称",
                        align: "center",
                        edit: "text"
                    },
                    {
                        field: "code",
                        title: "表格容器",
                        align: "center",
                        edit: "text"
                    },
                    {
                        field: "jsonstr",
                        title: "表格配置",
                        align: "center",
                        event: "edit"
                    },
                    {
                        field: "type",
                        title: "表格所在页面层级",
                        align: "center",
                        edit: "text"
                    },
                    {
                        title: '操作',
                        align: "center",
                        toolbar: '#barDemo'
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [10, 20],
            limit: 10, //每页默认显示的数量
            done: function(res, curr, count) {
                // console.log(res);

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        //监听行工具事件
        table.on('tool(tableContainer-tableSet)', function(obj) {
            var data = obj.data;
            console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function(index) {
                    if (data.id) {
                        var param = {};
                        param['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                        param['TOKEN'] = getCookie('TOKEN');
                        param['id'] = data.id;
                        $.ajax({
                            url: deltableauth,
                            type: "post",
                            data: param,
                            traditional: true,
                            success: function(data) {
                                if (data.status == 0) {
                                    obj.del();
                                    layer.close(index);
                                } else if (data.status == 1) {
                                    goLogin();
                                } else {
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    } else {
                        obj.del();
                        layer.close(index);
                    }
                });
            } else if (obj.event === 'save') {
                //保存
                var param = {};
                param['name'] = data.name;
                param['code'] = data.code;
                param['type'] = data.type;
                param['id'] = data.id;
                param['menuid'] = menuid;
                param['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                param['TOKEN'] = getCookie('TOKEN');
                param["jsonstr"] = data.jsonstr;
                $.ajax({
                    url: addtableauth,
                    type: "post",
                    data: param,
                    traditional: true,
                    success: function(data) {
                        if (data.status == 0) {
                            layer.msg(data.msg, {
                                icon: 1
                            });
                        } else if (data.status == 1) {
                            goLogin();
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2,
                    value: data.jsonstr,
                    area: ['800px', '350px'],
                    maxlength: 2000
                }, function(value, index) {
                    obj.update({
                        jsonstr: value
                    });
                    layer.close(index);
                });
            }
        });

        $(".addTableTitle").click(function() {
            var option = {
                code: "",
                type: 0,
                name: "",
                jsonstr: "",
                id:""
            }
            tableList.push(option);
            tableSet.reload({
                data: tableList,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        $(".cancelBtn").click(function() {
            layer.closeAll();
        });
    })
</script>