<div class="table-page">
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="orderno" placeholder="订单号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <select name="varieties" xm-select="select-varieties">
                                <option value="">品种</option>
                                <option value="红木">红木</option>
                                <option value="黄木">黄木</option>
                                <option value="紫木">紫木</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <select name="levels" xm-select="select-varieties">
                                <option value="">等级</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <select name="spec" xm-select="select-varieties">
                                <option value="">规格</option>
                                <option value="10*10">10*10</option>
                                <option value="10*20">10*20</option>
                                <option value="20*10">20*10</option>
                                <option value="20*20">20*20</option>
                                <option value="20*30">20*30</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="containernum" placeholder="货柜号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="origin" placeholder="产地" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="brand" placeholder="品牌" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="person" placeholder="负责人" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"> <i class="layui-icon layui-icon-refresh"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="table-content">
        <div class="table-content-title">
            <div class="table-tools">
                <ul class="layui-nav" lay-filter="talbe-tools">
                    <li class="layui-nav-item">
                        <a id="toExport" href="javascript:;">导出数据</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">打印</a>
                    </li>
                </ul>
                <!-- <ul class="layui-layout-right">
                        <li><a href="javascript:;" class="editBtn">编辑</a></li>
                    </ul> -->
            </div>
        </div>
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-goodsList" lay-filter="tableContainer-goodsList"></table>
        </div>
    </div>
</div>
<script>
   /* layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        // var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

       
		
		
		
		
    });*/
</script>