<div class="table-page" id="goodsList">
    <div class="table-content-title layer-level">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a id="toExport" href="javascript:;"><i class="iconfont icon-daochu"></i>导出数据</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-dayin"></i>打印</a>
                </li> -->
                <li class="layui-nav-item">
                    <a href="javascript:;" id="addgoodList"><i class="iconfont icon-tianjia"></i>添加</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <!-- <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">订单号</span>
                            <input type="text" name="orderno" placeholder="订单号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">包号</span>
                            <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">品种</span>
                            <select name="varieties" xm-select="selectVarietiesGoods" xm-select-radio>
                                <option value="">品种</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">等级</span>
                            <select name="levels" xm-select="selectLevelsGoods" xm-select-radio>
                                <option value="">等级</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">规格</span>
                            <select name="spec" xm-select="selectSpecGoods" xm-select-radio>
                                <option value="">规格</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">货柜号</span>
                            <input type="text" name="containernum" placeholder="货柜号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">产地</span>
                            <select name="origin" xm-select="originSelectGoods" xm-select-radio>
                                <option value="">产地</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">品牌</span>
                            <input type="text" name="brand" placeholder="品牌" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">提运单</span>
                            <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-gray"> <i class="layui-icon layui-icon-refresh"></i></button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>

                    </div>
                </div>
            </form> -->

        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-goodsList" lay-filter="tableContainer-goodsList"></table>
            <div class="rightBotBtn">已选择<span>0</span>个商品 </div>
        </div>
    </div>
</div>
<style scoped>
    .rightBotBtn {
        text-align: right;
        padding: 15px;
    }
</style>