<div class="table-page">
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <blockquote class="layui-elem-quote">
                    预入库订单号：507230226812502016
                </blockquote>
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline table-form-item-btn">
                            <button class="layui-btn" lay-submit lay-filter="addGoodsBtn">添加货物信息</button>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="cargoowner" placeholder="仓库主" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="depotname" placeholder="仓库名称" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="origin" placeholder="产地" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="table-content">
        <div class="table-content-title">
            <div class="table-tools">
                <ul class="layui-nav" lay-filter="talbe-tools">
                    <li class="layui-nav-item item-more">
                        <a href="javascript:;">数据导入导出</a>
                        <dl class="layui-nav-child">
                            <dd><a id="dowmTemp" href="javascript:;">下载模板</a></dd>
                            <dd><a id="toImport" href="javascript:;">导入数据</a></dd>
                            <dd><a id="toExport" href="javascript:;">导出数据</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">打印</a>
                    </li>
                </ul>
                <ul class="layui-layout-right">
                    <li><a href="javascript:;" class="deleteBtn">删除</a></li>
                </ul>
            </div>
        </div>
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer" lay-filter="tableContainer"></table>
        </div>
    </div>
</div>
<style scoped>
    .table-page-form .table-form-item.table-form-item-btn {
        width: 140px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度
        var tableData = [];
        var addLayer; //添加-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        form.on('submit(addGoodsBtn)', function(data) {
            window.billBaseInfo = data.field;
            $.get('view/form/form-goods.html', {}, function(str) {
                addLayer = layer.open({
                    title: '添加货物信息',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    resize: false,
                    area: ['800px', 'auto'],
                });
            });
            return false;
        });

        form.on('submit(addGoodsForm)', function(data) {
            layer.confirm('确认提交？', {
                icon: 3,
                title: '提示'
            }, function(index) {
                tableData.push(data.field);

                $(".rightBotBtn span").html(tableData.length); //当前选中了多少商品

                tableIns.reload({
                    data: tableData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });

                layer.close(index);
                layer.close(addLayer); //关闭
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer',
            height: 'full-' + tableTopHeight,
            data: tableData,
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    },
                    {
                        type: 'checkbox'
                    }, {
                        field: 'uuid',
                        title: '货物标识码',
                        width: 170,
                    }, {
                        field: 'code',
                        title: '包号'
                    }, {
                        field: 'varieties',
                        title: '品种'
                    }, {
                        field: 'levels',
                        title: '等级'
                    }, {
                        field: 'spec',
                        title: '规格'
                    }, {
                        field: 'pprice',
                        title: '采购价' + unitMoney,
                        width: 130
                    }, {
                        field: 'num',
                        title: '数量（m³）',
                        edit: "txt"
                    }, {
                        field: 'containernum',
                        title: '货柜号'
                    }, {
                        field: 'origin',
                        title: '产地'
                    }, {
                        field: 'brand',
                        title: '品牌'
                    }, {
                        field: 'billloading',
                        title: '提运单',
                    }, {
                        field: 'person',
                        title: '负责人'
                    }, {
                        field: 'createdate',
                        title: '创建日期'
                    }, {
                        field: 'createuser',
                        title: '创建人'
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) {
                var addtableBtn = '<div class="rightBotBtn">已新增<span>0</span>个货物 <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-sm subCancelBtn">取消</a><a href="javascript:;" class="layui-btn layui-btn-sm subConfirmBtn">确认</a></div>';

                $(".layui-table-page").append(addtableBtn);

                $(".subConfirmBtn").click(subConfun);
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        table.on('edit(tableContainer)', function(obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            console.log(obj.value); //得到修改后的值
            console.log(obj.field); //当前编辑的字段名
            var field = obj.field;
            if (field == 'num') {

            }
            console.log(obj.data); //所在行的所有相关数据  
        });

        $(".deleteBtn").click(function() {
            var checkStatus = table.checkStatus('tableContainer');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    icon: 3,
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.orderno);
                    });
                    //调删除接口
                    rowDataApi(preEntryDelete, {
                        "ids": rowId
                    }, function(data) {
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        // 删除所选行成功
                        layer.close(index);
                        // 刷新表格
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(data.msg);
                    });
                });
            }
        });

        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            data['SESSION_NAME']= getCookie('SESSION_NAME');
            data['TOKEN']= getCookie('TOKEN');
            $.ajax({
                url: url,
                type: "post",
                data: data,
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: funSuc,
                error: funErr
            })
        };

        //点击确定
        function subConfun() {
            var basedata = window.billBaseInfo;
            console.log(basedata);
            if (tableData.length > 0 && null != basedata) {

                var dataarr = [];
                //第一步，先去除已在后台存在的数据
                for (var i = 0; i < tableData.length; i++) {
                    var bean = tableData[i];
                    if (undefined == bean.id || null == bean.id) {
                        dataarr.push(bean);
                    }
                }

                var arr = JSON.stringify(dataarr);
                console.log(typeof arr);
                //第二步，提交到后台
                $.ajax({
                    url: preEntryAdd,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    data: {
                        lbarr: arr,
                        cargoowner: basedata.cargoowner,
                        depotname: basedata.depotname,
                        origin: basedata.origin,
                        supplier: basedata.supplier,
                        'SESSION_NAME': getCookie('SESSION_NAME'),
                        'TOKEN': getCookie('TOKEN')
                    },
                    traditional: true,
                    success: function(data) {
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        console.log("成功");
                        console.log(data);
                    },
                    error: function() {}
                })
            }
        }


        //变更下载模板链接
        $("#dowmTemp").attr("href", ilbstockImportTemp);

        //导入
        var importLayer; //导入弹窗
        $("#toImport").on('click', function(e) {
            $.get("view/form/form-import.html", {}, function(str) {
                importLayer = layer.open({
                    title: '文件上传',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    area: ['800px', 'auto'],
                });
                var uploadInst = upload.render({ //上传实例
                    elem: '#importAddBtn',
                    url: ilbstockImportUrl,
                    multiple: false,
                    accept: 'file', //普通文件
                    exts: 'xls|xlsx|xlsm|xlt|xltx|xltm', //只允许上传后缀
                    done: function(res) {
                        if (res.status == 0) {
                            layer.msg("上传成功")
                            layer.close(importLayer);
                        } else {
                            layer.msg(res.msg)
                        }
                    }
                });
            })
        });
        //点击导出
        $("#toExport").on('click', function(e) {
            window.location.href = ilbstockExportUrl
        });

    });
</script>