<div class="table-page">
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="orderno" placeholder="订单号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="cargoowner" placeholder="货权人" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="depotname" placeholder="仓库名称" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="origin" placeholder="产地" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                            <input type="text" name="ishistory" hidden value="1">
                            <!-- 隐藏域 ishistory：1 历史记录 -->
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"> <i class="layui-icon layui-icon-refresh"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-title">
            <div class="table-tools">
                <ul class="layui-nav" lay-filter="talbe-tools">
                    <li class="layui-nav-item">
                        <a id="toExport" href="javascript:;">导出数据</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">打印</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer" lay-filter="tableContainer"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer',
            height: 'full-' + tableTopHeight,
            url: outHistory,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        type: 'checkbox'
                    },
                    {
                        field: 'orderno',
                        title: '单号',
                        sort: true
                    }, {
                        field: 'cargoowner',
                        title: '货权人',
                        sort: true
                    }, {
                        field: 'depotname',
                        title: '仓库名称',
                        sort: true
                    }, {
                        field: 'billloading',
                        title: '提运单',
                        sort: true
                    }, {
                        field: 'num',
                        title: '件数（包）',
                        sort: true
                    }, {
                        field: 'origin',
                        title: '产地',
                        sort: true
                    }, {
                        field: 'supplier',
                        title: '供应商',
                        sort: true
                    }, {
                        field: 'volume',
                        title: '码单数量（m³）',
                        sort: true
                    }, {
                        field: 'estimatedate',
                        title: '预计出库时间'
                    }, {
                        field: 'createdate',
                        title: '创建日期',
                        sort: true
                    }, {
                        field: 'createuser',
                        title: '创建人',
                        sort: true
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [10, 20, 30, 40, 50],
            limit: 10, //每页默认显示的数量
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        table.on('row(tableContainer)', function(obj) {
            // console.log(obj.tr) //得到当前行元素对象
            // console.log(obj.data) //得到当前行数据
            $.get(outHistoryOrderno,{orderno:obj.data.orderno},function(data){
                console.log(data);
                location.hash = "#!stock-historyDetails/" + data.data.orderno;
                sessionStorage.setItem('stockHistoryDetails', JSON.stringify(data));
            })
        });
    });
</script>