<div class="table-page" id="stock-preentry">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="creatBillBtn"><i class="iconfont icon-tianjia"></i>新建预入库单</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="deleteBtn"><i class="iconfont icon-shanchu"></i>删除</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="submissionBtn"><i class="iconfont icon-ruku"></i>入库</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;">打印</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">订单号</span>
                            <input type="text" name="orderno" placeholder="订单号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库主</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">仓库主</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">仓库</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">库位</span>
                            <select name="positionid" xm-select="positionSelect" xm-select-radio>
                                <option value="">库位</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">产地</span>
                            <select name="origin" xm-select="originSelect" xm-select-radio>
                                <option value="">产地</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">供应商</span>
                            <select name="supplierid" xm-select="supplierSelect" xm-select-radio>
                                <option value="">供应商</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">提运单</span>
                            <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                            <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                        </button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-preentry" lay-filter="tableContainer-preentry"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度
        
        var menuKey = "a_12"; //当前页面key
        var domObj = $("#stock-preentry .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //仓库主列表
        });

        layui.formSelects.opened('depotSelect', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        layui.formSelects.opened('positionSelect', function(id) {
            var depotid = formSelects.value('depotSelect', 'val'); //获取仓库ID
            if (depotid.length < 1) {
                layer.msg("请先选择仓库");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
                formSelects.data('positionSelect', 'local', {
                    arr: [] //清空库位列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, false);

                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    formSelects.data('positionSelect', 'local', {
                        arr: [] //清空库位列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
                formSelects.data('positionSelect', 'local', {
                    arr: selectDataInstall(positionDropdown, {
                        "depotid": depotList[0].value
                    }, false) //库位列表
                });
            }
        }, true);

        //监听
        formSelects.on('depotSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('positionSelect', 'local', {
                    arr: [] //仓库列表
                });
            } else {
                formSelects.data('positionSelect', 'local', {
                    arr: selectDataInstall(positionDropdown, {
                        "depotid": vals[0].value
                    }, false) //仓库列表
                });
            }
        }, true);

        formSelects.data('originSelect', 'local', {
            arr: selectDataInstall(CHDList) //产地列表
        });

        formSelects.data('supplierSelect', 'local', {
            arr: selectDataInstall(dropSupplier) //供应商列表
        });

        function selectDataInstall(url, param, bool) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }
                    }
                }
            });
            return arr;
        }

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer-preentry',
            height: 'full-' + tableTopHeight,
            url: preEntry,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [[ //标题栏
                {
                    field: 'LAY_TABLE_INDEX',
                    title: '序号',
                    width: 40,
                    templet: function(d) {
                        return d.LAY_TABLE_INDEX + 1;
                    }
                }, {
                    type: 'checkbox'
                }, {
                    field: 'orderno',
                    title: '单号',
                    event: 'click',
                    style: 'cursor: pointer;color:#0063de;'
                }, {
                    field: 'ownername',
                    title: '仓库主'
                }, {
                    field: 'depname',
                    title: '仓库名称'
                }, {
                    field: 'num',
                    title: '件数（包）'
                }, {
                    field: 'origin',
                    title: '产地'
                },
                //  {
                //     field: 'suppliername',
                //     title: '供应商'
                // } ,
                {
                    field: 'volume',
                    title: '数量（m³）'
                }, {
                    field: 'createdate',
                    title: '创建日期'
                }
            ]],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) {
                var addtableBtn = '<div class="rightBotBtn" id="rightPre">已经选择<span>0</span>个商品';
                if ($("#rightPre").length < 1) {
                    $(".layui-table-page").append(addtableBtn);
                }
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        //监听锁定操作
        table.on('checkbox(tableContainer-preentry)', function(obj) {
            var checkStatus = table.checkStatus('tableContainer-preentry'); //表格选中状态
            $(".rightBotBtn span").html(checkStatus.data.length); //当前选中了多少商品
        });

        $(".submissionBtn").click(function() {
            var checkStatus = table.checkStatus('tableContainer-preentry'); // 表格选中状态
            var datalist = checkStatus.data;
            var ids = [];
            for (var i = 0; i < datalist.length; i++) {
                ids.push(datalist[i].orderno);
            }
            if (ids.length < 1) {
                layer.msg("未选择入库项");
                return false;
            }
            //审核订单为库存
            $.ajax({
                url: preEntryexamineStock,
                type: "POST",
                data: {
                    'ids': ids,
                    'SESSION_NAME': getCookie('SESSION_NAME'),
                    'TOKEN': getCookie('TOKEN')
                },
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(data) {
                    if (data.status === 0) {
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg("审核通过为库存");
                    }
                    //请求过期，重新登陆
                    if (data.status === 1) {
                        window.location.href = loginPageUrl;
                    }
                }
            })
        });

        //查看框里面的提交
        form.on('submit(editForm)', function(data) {
            //编辑提交
            layer.confirm('确认提交修改', {
                icon: 3,
                title: '提示'
            }, function(index) {
                data.field.orderno = window.currData.orderno; //防止单号被篡改
                data.field.origin = window.currData.origin; //
                data.field.supplier = window.currData.supplier; //
                rowDataApi(preEntryUpdate, data.field, function(data) {
                    if (data.status === 1) {
                        window.location.href = loginPageUrl;
                    }

                    layer.close(index);
                    layer.close(eaitLayer); //关闭
                    // 刷新表格
                    tableIns.reload({
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                })
            });
            return false;
        });

        //编辑提交
        form.on('submit(editForm)', function(data) {
            layer.confirm('确认提交修改', {
                icon: 3,
                title: '提示'
            }, function(index) {
                data.field.orderno = window.currData.orderno; //防止单号被篡改
                data.field.origin = window.currData.origin; //
                data.field.supplier = window.currData.supplier; //
                rowDataApi(preEntryUpdate, data.field, function(data) {
                    if (data.status === 1) {
                        window.location.href = loginPageUrl;
                    }
                    layer.close(index);
                    layer.close(eaitLayer); //关闭
                    // 刷新表格
                    tableIns.reload({
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                })
            });
            return false;
        });

        $(".deleteBtn").click(function() {
            //删除
            var checkStatus = table.checkStatus('tableContainer-preentry');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    icon: 3,
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.orderno);
                    });
                    //调删除接口
                    rowDataApi(preEntryDelete, {
                        "ids": rowId
                    }, function(data) {
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        // 删除所选行成功
                        layer.close(index);
                        // 刷新表格
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(data.msg);
                    });
                });
            }
        });

        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            data['SESSION_NAME']= getCookie('SESSION_NAME');
            data['TOKEN']= getCookie('TOKEN');
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: funSuc,
                error: funErr
            })
        }

        $(".creatBillBtn").click(function() {
            //新建预入库单
            // var container = $('.content-body'); //页面容器
            // container.load('/view/stock/stock-newbill.html');
            sessionStorage.removeItem('newbill_orderno');
            tankuang("新建预入库单");
        });

        table.on('tool(tableContainer-preentry)', function(obj) {
            //监听单元格点击事件
            var data = obj.data;
            if (obj.event === 'click') {
                sessionStorage.setItem('newbill_orderno', JSON.stringify(obj.data));
                tankuang("预入库单详情");
            }
        });

        function tankuang(title) {
            $.get('view/form/form-newbill.html', {}, function(str) {
                eaitLayer = layer.open({
                    title: title,
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    area: ['80%', '720px'],
                    end: function() {
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        formSelects.render();
                    }
                });
            })
        }
    });
</script>