<!-- 预入库主菜单 -->
<div class="table-page" id="stock-preentry">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="creatBillBtn"><i class="iconfont icon-tianjia"></i>新建预入库单</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="deleteBtn"><i class="iconfont icon-shanchu"></i>删除</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="submissionBtn"><i class="iconfont icon-ruku"></i>入库</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;">打印</a>
                </li> -->
                <!--<li class="layui-nav-item">
                    <a href="javascript:;" class="toExport"><i class="iconfont icon-daochu"></i>导出</a>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">订单号</span>
                            <input type="text" name="orderno" placeholder="订单号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库主</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">仓库主</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">仓库</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">库位</span>
                            <select name="positionid" xm-select="positionSelect" xm-select-radio>
                                <option value="">库位</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">产地</span>
                            <select name="origin" xm-select="originSelect" xm-select-radio>
                                <option value="">产地</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">供应商</span>
                            <select name="supplierid" xm-select="supplierSelect" xm-select-radio>
                                <option value="">供应商</option>
                            </select>
                        </div>
                        <!-- <div class="table-form-item layui-input-inline">
                            <span class="input-span">提运单</span>
                            <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                        </div> -->
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                            <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                        </button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-preentry" lay-filter="tableContainer-preentry"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var menuKey = "a_12"; //当前页面key
        var domObj = $("#stock-preentry .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //重置下拉选项
        element.render('talbe-tools'); //tab选项卡重置
        formSelects.btns(['remove'], {
            show: 'name'
        });

        // 初始化仓库主数据
        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //仓库主列表
        });

        // 点击仓库下拉框
        layui.formSelects.opened('depotSelect', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        // 点击库位下拉框
        layui.formSelects.opened('positionSelect', function(id) {
            var depotid = formSelects.value('depotSelect', 'val'); //获取仓库ID
            if (depotid.length < 1) {
                layer.msg("请先选择仓库");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库为空则清空列表
            }
        });

        //监听仓库主的选中与取消
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
                formSelects.data('positionSelect', 'local', {
                    arr: [] //清空库位列表
                });
            } else {
                //  获取仓库下拉数据
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, false);
                // console.log(depotList);
                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    formSelects.data('positionSelect', 'local', {
                        arr: [] //清空库位列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                // 根据仓库主id：ownerid查询的仓库数据depotList，初始化仓库select数据
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
            }
        }, true);

        //监听仓库的选中与取消
        formSelects.on('depotSelect', function(id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            //如果return false, 那么将取消本次操作
            if (!isAdd) {
                formSelects.data('positionSelect', 'local', {
                    arr: [] //仓库列表清空
                });
            } else {
                var bitdepotid = vals[0].bitdepotid;
                var positiondIds = vals[0].position;
                var arr1 = [];
                positiondIds && (arr1 = positiondIds.split(","));
                var arr = [];

                $.ajax({
                    url: positiondropdown,
                    type: "get",
                    data: bitdepotid,
                    async: false, // 同步
                    traditional: true,
                    success: function(data) {
                        if (data.status === 0) {
                            //把接口数据转换为[{"name":str,"value":number}]格式
                            if (!Array.isArray(data.data) || data.data.length === 0) {
                                // 判断arr是否为数组并保证内部有值
                                return false;
                            }
                            for (var i = 0; i < data.data.length; i++) {
                                for (var k = 0; k < arr1.length; k++) {
                                    if (data.data[i].id === parseInt(arr1[k])) {
                                        arr.push({
                                            "name": data.data[i].name,
                                            "value": data.data[i].id,
                                        });
                                    }
                                }
                            }
                        }
                    }
                });
                // 库位数据初始化
                formSelects.data('positionSelect', 'local', {
                    arr
                });
            }
        }, true);

        // 产地下拉框数据初始化
        formSelects.data('originSelect', 'local', {
            arr: selectDataZDy(CHDList) //产地列表
        });

        formSelects.data('supplierSelect', 'local', {
            arr: selectDataInstall(dropSupplier) //供应商列表
        });

        function selectDataZDy(url) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                async: false, // 同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].name
                            });
                        }
                    }
                }
            });
            return arr;
        }

        function selectDataInstall(url, param, bool) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, // 同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id,
                                "bitdepotid": data.data[i].bitdepotid,
                                "position": data.data[i].position,
                            });
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }
                    }
                }
            });
            return arr;
        }

        // 查询按钮点击
        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key].replace(/^\s*|\s*$/g, "");
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer-preentry',
            height: 'full-' + tableTopHeight,
            url: preEntry,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        type: "numbers",
                        align: "center",
                        title: "序号",
                        align:"center"
                    }, {
                        type: 'radio'
                    }, {
                        field: 'orderno',
                        title: '单号',
                        event: 'click',
                        style: 'cursor: pointer;color:#0063de;',
                        width: 200,
                        align:"center"
                    }, {
                        field: 'ownername',
                        title: '仓库主',
                        align:"center"
                    }, {
                        field: 'depname',
                        title: '仓库名称',
                        align:"center"
                    }, {
                        field: 'num',
                        title: '件数(包)',
                        align:"center"
                    }, {
                        field: 'origin',
                        title: '产地',
                        align:"center"
                    }, {
                        field: 'suppliername',
                        title: '供应商',
                        align:"center"
                    }, {
                        field: 'volume',
                        title: '数量(m³)',
                        align:"center"
                    }, {
                        field: 'createdate',
                        title: '创建日期',
                        align:"center"
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            title: '预入库',
            done: function(res, curr, count) {
                var addtableBtn = '<div class="rightBotBtn" id="rightPre">已经选择<span>0</span>个货物';
                if ($("#rightPre").length < 1) {
                    $(".layui-table-page").append(addtableBtn);
                }
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        //监听锁定操作
        table.on('checkbox(tableContainer-preentry)', function(obj) {
            var checkStatus = table.checkStatus('tableContainer-preentry'); //表格选中状态
            $(".rightBotBtn span").html(checkStatus.data.length); //当前选中了多少货物
        });

        // 入库按钮点击
        $(".submissionBtn").click(function() {
            var checkStatus = table.checkStatus('tableContainer-preentry'); // 表格选中状态
            var datalist = checkStatus.data;

            if (datalist.length < 1) {
                layer.msg("未选择入库项");
                return false;
            }
            //审核订单为库存 == 入库
            $.ajax({
                url: preEntryexamineStock,
                type: "POST",
                data: {
                    'orderno': datalist[0].orderno,
                    'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                    'TOKEN': getCookie('TOKEN')
                },
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(data) {
                    //请求过期，重新登陆
                    if (data.status === 1) {
                        goLogin(); // 跳转到登录页
                    }
                    if (data.status === 0) {
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg("入库操作成功");
                    }
                    layer.msg(data.msg);
                }
            })
        });

        //编辑提交
        form.on('submit(editForm)', function(data) {
            layer.confirm('确认提交修改', {
                skin: 'layui-layer-wei', //layui-layer-wei，维木class
                title: '提示'
            }, function(index) {
                data.field.orderno = window.currData.orderno; //防止单号被篡改
                data.field.origin = window.currData.origin; //
                data.field.supplier = window.currData.supplier; //
                rowDataApi(preEntryUpdate, data.field, function(data) {
                    if (data.status === 1) {
                        window.location.href = loginPageUrl;
                    }
                    layer.close(index);
                    layer.close(eaitLayer); //关闭
                    // 刷新表格
                    tableIns.reload({
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                })
            });
            return false;
        });

        $(".deleteBtn").click(function() {
            //删除
            var checkStatus = table.checkStatus('tableContainer-preentry');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    skin: 'layui-layer-wei', //layui-layer-wei，维木class
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.orderno);
                    });
                    //调删除接口
                    rowDataApi(preEntryDelete, {
                        "orderno": rowId
                    }, function(data) {
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        // 删除所选行成功
                        layer.close(index);
                        // 刷新表格
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(data.msg);
                    });
                });
            }
        });

        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            data['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            data['TOKEN'] = getCookie('TOKEN');
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: funSuc,
                error: funErr
            })
        }

        $(".creatBillBtn").click(function() {
            //新建预入库单
            sessionStorage.removeItem('newbill_orderno');
            tankuang("新建预入库单", "new");
        });

        table.on('tool(tableContainer-preentry)', function(obj) {
            //监听单元格点击事件
            var data = obj.data;
            if (obj.event === 'click') {
                sessionStorage.setItem('newbill_orderno', JSON.stringify(obj.data));
                tankuang("预入库单详情", "modify");
            }
        });

        function tankuang(title, type) {
            var url;
            if (type == "new") {
                url = "view/form/form-newbill.html"
            } else {
                url = "view/stock/stock-storageBill.html"
            }
            $.get(url, {}, function(str) {
                eaitLayer = layer.open({
                    title: title,
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    area: ['99%', '99%'],
                    end: function() {
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    }
                });
            })
        }

        //点击导出
        $(".toExport").on('click', function(e) {
            table.exportFile(tableIns.config.id, tableIns.config.data);
        });

    });
</script>