<div class="table-page">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item">
                    <a href="javascript:;" id="toExport"><i class="iconfont icon-daochu"></i>导出</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" id="ondayin"><i class="iconfont icon-dayin"></i>打印</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="refreshBtn"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form table-page-info">
            <div class="lay-bread-crumb" id="details-title">

            </div>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer_billDetails" lay-filter="tableContainer_billDetails"></table>
        </div>
    </div>
</div>

<script id="detailsTle" type="text/html">
    <div class="lay-bread-item">
        {{# if(d.type === "outHistory"){}}
        <span>出库订单号：</span>
        {{#  } else{ }}
        <span>入库订单号：</span>
        {{#  } }}
        <span>{{d.data.orderno}}</span>
    </div>
    <div class="lay-bread-item">
        <span>仓库主：</span>
        <span>{{d.data.ownername}}</span>
    </div>
    <div class="lay-bread-item">
        <span>仓库名称：</span>
        <span>{{d.data.depname}}</span>
    </div>
    {{# if(d.data.outdate){}}
        <div class="lay-bread-item">
            <span>出库时间：</span>
            <span>{{d.data.outdate}}</span>
        </div>
        <div class="lay-bread-item">
            <span>司机姓名：</span>
            <span>{{d.vname||""}}</span>
        </div>
        <div class="lay-bread-item">
            <span>车牌号：</span>
            <span>{{d.vehnum||""}}</span>
        </div>
        <div class="lay-bread-item">
            <span>司机身份号：</span>
            <span>{{d.card||""}}</span>
        </div>
    {{#  } }}
</script>
<style scoped>
    .layer-title small {
        font-size: 14px;
    }

    .table-page h3 {
        padding-left: 0;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var billDetails = JSON.parse(sessionStorage.getItem('outBillDetails')); //获取所选择记录详情
        // console.log(billDetails);
        if (!billDetails) {
            //判断是否存在，不存在跳转到首页
            history.replaceState(null, null, "#!home");
            $(".nav-tabs li").last().remove();
            return false;
        }
        // 渲染title的内容
        var getTpl = detailsTle.innerHTML,
            view = document.getElementById('details-title');
        laytpl(getTpl).render(billDetails, function(html) {
            view.innerHTML = html;
        });
        // 出库详情表格字段
        var outCols = [{
            field: 'LAY_TABLE_INDEX',
            title: '序号',
            width: 40,
            templet: function(d) {
                return d.LAY_TABLE_INDEX + 1;
            }
        }, {
            field: 'uuid',
            title: '货物标识码',
            width: 206,
            style:'font-family: Consolas;font-size:16px'
        }, {
            field: "code",
            title: "包号"
        }, {
            field: "varieties",
            title: "品种"
        }, {
            field: "spec",
            title: "规格"
        }, {
            field: "levels",
            title: "等级"
        }, {
            field: "chang",
            title: "长度"
        }, {
            field: 'aprice',
            title: '评估单价'+ unitMoney,
            width: 130,
            templet: function (d) {
                return formatNum(d.aprice) || "";
            },
        }, {
            field: 'num',
            title: '数量（m³）',
            width: 120,
        }, {
            field: "",
            title: "总金额",
            templet: function (d) {
                return formatNum(d.aprice * d.num);
            },
        }, {
            field: "brand",
            title: "品牌"
        }, {
            field: "origin",
            title: "产地"
        }, {
            field: "updauser",
            title: "操作员"
        }, {
            field: "billloading",
            title: "提运单"
        }, {
            field: "containernum",
            title: "货柜号/批次号"
        }];
        // 入库详情表格字段
        var entryCols = [{
            field: 'LAY_TABLE_INDEX',
            title: '序号',
            width: 40,
            templet: function(d) {
                return d.LAY_TABLE_INDEX + 1;
            }
        }, {
            field: "code",
            title: "包号"
        }, {
            field: "varieties",
            title: "品种"
        }, {
            field: "spec",
            title: "规格"
        }, {
            field: "levels",
            title: "等级"
        }, {
            field: "chang",
            title: "长度"
        }, {
            field: "brand",
            title: "品牌"
        }, {
            field: "origin",
            title: "产地"
        }, {
            field: "num",
            title: "数量（m³）"
        }, {
            field: "positionid",
            title: "库位"
        }, {
            field: "updauser",
            title: "操作员"
        }, {
            field: "billloading",
            title: "提运单"
        }, {
            field: "containernum",
            title: "货柜号/批次号"
        }];

        var tableClos; //表格字段赋值
        if (billDetails.type === "outHistory") {
            tableClos = outCols;
        } else {
            tableClos = entryCols;
        }

        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var tableIns = table.render({
            elem: '#tableContainer_billDetails',
            height: 'full-' + tableTopHeight,
            data: billDetails.stocklist,
            cols: [
                tableClos
            ],
            even: true,
            page: true, //是否显示分页
            limits: [billDetails.stocklist.length],
            limit: billDetails.stocklist.length, //每页默认显示的数量
            done: function(res, curr, count) {
                var addtableBtn = '<div class="rightBotBtn" id="rightDetails">合计： 件数<span>' + billDetails.znum + '</span>包 数量：<span>' + billDetails.cube + '</span>m³</div>';
                if($("#rightDetails").length < 1){
                    $(".layui-table-page").append(addtableBtn);
                }
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        //点击导出
        $("#toExport").on('click', function(e) {
            // window.location.href = ilbstockExportUrl+"?outorderno="+billDetails.data.orderno;
            table.exportFile(tableIns.config.id,tableIns.config.data);
        });

        //打印
        $("#ondayin").on('click', function(e) {
            var orderno = billDetails.data.orderno;
            var url;
            if (billDetails.type === "outHistory") {
                url = printoutstore;
            } else {
                url = printinstore;
            }
            sessionStorage.setItem('dayin_orderno', orderno);
            window.open(url, '打印', 'height=800, width=1100, top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');
        });

    });
</script>