<div class="table-page addOutBill" id="stock-positionAdjustment">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="submissionBtn"><i class="iconfont icon-baocun"></i> 保存</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-page-header table-title-top">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left form-down-line">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">移入库位</span>
                            <select name="positionid" xm-select="targetPositionSelect" xm-select-radio>
                                <option value="">库位</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="serverContainer goodsContainer">
            <div class="table-page-header">
                <div class="table-page-form">
                    <form class="layui-form" action="">
                        <div class="form-box clearfix">
                            <div class="layui-form-item form-left">
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span form-required">仓库主</span>
                                    <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                        <option value="">仓库主</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span form-required">仓库</span>
                                    <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                        <option value="">仓库</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">库位</span>
                                    <select name="positionid" xm-select="positionSelect" xm-select-radio>
                                        <option value="">库位</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">货物标识码</span>
                                    <input type="text" name="uuid" placeholder="货物标识码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">包号</span>
                                    <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">品种</span>
                                    <select name="varieties" xm-select="selectVarieties" xm-select-radio>
                                        <option value="">品种</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">等级</span>
                                    <select name="levels" xm-select="selectLevels" xm-select-radio>
                                        <option value="">等级</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">规格/厚度</span>
                                    <select name="spec" xm-select="selectSpec" xm-select-radio>
                                        <option value="">规格</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">货柜号</span>
                                    <input type="text" name="containernum" placeholder="货柜号" autocomplete="off" class="layui-input">
                                </div>
                                <!-- <div class="table-form-item layui-input-inline">
                                    <span class="input-span">产地</span>
                                    <select name="origin" xm-select="originSelect" xm-select-radio="">
                                        <option value="">产地</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">品牌</span>
                                    <input type="text" name="brand" placeholder="品牌" autocomplete="off" class="layui-input">
                                </div> -->
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">提运单</span>
                                    <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                                </div>
                                <!-- <div class="table-form-item layui-input-inline">
                                    <span class="input-span">长度</span>
                                    <input type="text" name="chang" placeholder="长度" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">片数</span>
                                    <input type="text" name="pieces" placeholder="片数" autocomplete="off" class="layui-input">
                                </div> -->
                            </div>
                            <div class="layui-form-item form-right">
                                <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                                    <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                                </button>
                                <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchGoodsForm">
                                    <i class="iconfont icon-sousuo"></i> <span>查询</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-content-main" id="goodsList">

                    <table id="tableContainer-goodsList" lay-filter="tableContainer-goodsList"></table>

                </div>
            </div>
        </div>

        <div class="goodsMoveBtn">
            <a href="javascript:;" class="addGoodsBtn">∨ 添加货物</a>
            <a href="javascript:;" class="deleteGoods">∧ 移除货物</a>
        </div>

        <div class="localContainer goodsContainer">
            <div class="containerTitle">
                <h3 class="titleTxt">被调整货物</h3>
                <div class="rightCon">总共<span class="goodsCount">0</span>个货物</div>
            </div>
            <div class="table-content-main">
                <table id="tableContainer-addOutBill" lay-filter="tableContainer-addOutBill"></table>
            </div>
        </div>

    </div>
</div>
<style scoped>
    .layer-title small {
        font-size: 14px;
    }

    .layer-title li {
        flex: 0 0 280px;
    }

    .goodsContainer {
        border: 1px solid #a0a0a0
    }

    .table-page-form {
        padding: 5px 10px 0 10px
    }

    .goodsMoveBtn {
        height: 30px;
        line-height: 30px;
        margin: 5px 0;
    }

    .goodsMoveBtn a {
        display: inline-block;
        margin-right: 10px;
        background: #f2f9ff;
        color: #333;
        font-size: 14px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-weight: bold
    }

    .goodsMoveBtn a:hover {
        background: #e1ecf6
    }

    .containerTitle {
        height: 44px;
        line-height: 44px;
        position: relative
    }

    .containerTitle h3 {
        font-size: 18px;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
    }

    .leftCon {
        position: absolute;
        left: 12px;
        top: 5px;
        height: 30px;
        line-height: 30px;
    }

    .leftCon a {
        display: inline-block;
        margin-right: 10px;
        color: #333;
        font-size: 14px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-weight: bold
    }

    .leftCon a:hover {
        background: #eee
    }

    .rightCon {
        position: absolute;
        right: 12px;
        top: 0;
    }

    .rightCon span {
        color: #ff3c4e
    }

    .leftCon .dayinBtn {
        display: none;
    }


    .table-page-form .table-form-item {
        width: 230px;
    }

    .table-title-top .table-page-form .table-form-item {
        width: 260px;
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var layer = layui.layer;

        var menuKey = "b_10"; //当前页面key
        var domObj = $("#stock-addOutBill .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限

        formSelects.render(); //下拉选项
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        var goodsData = []; //库存货物
        var tableData = []; //出库清单货物
        var ownerid; //仓库主ID
        var depotid; //仓库ID
        var positionid; //库位ID
        var depotSelectValue; //仓库id暂存用于对比是否改变仓库

        // 仓库主下拉框数据初始化
        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown, null, null, 0) //仓库主列表
        });

        // 打开仓库下拉框回调
        layui.formSelects.opened('depotSelectLayer', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        // 打开库位下拉框回调
        layui.formSelects.opened('positionSelect', function(id) {
            var depotid = formSelects.value('depotSelect', 'val'); //获取仓库ID
            if (depotid.length < 1) {
                layer.msg("请先选择仓库");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库为空则清空列表
            }
        });

        // 监听仓库主select的选中与取消
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
                formSelects.data('positionSelect', 'local', {
                    arr: [] //清空库位列表
                });
                formSelects.data('targetPositionSelect', 'local', {
                    arr: [] //清空库位列表
                });
            } else {
                //  获取仓库下拉数据
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, false, 0, 0);
                console.log(depotList); //仓库下拉数据
                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    formSelects.data('positionSelect', 'local', {
                        arr: [] //清空库位列表
                    });
                    formSelects.data('targetPositionSelect', 'local', {
                        arr: [] //清空库位列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                // 根据仓库主id：ownerid查询的仓库数据depotList，初始化仓库select数据
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
            }
        }, true);

        //监听仓库的选中与取消
        formSelects.on('depotSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('positionSelect', 'local', {
                    arr: [] //仓库列表
                });
            } else {
                ownerid = formSelects.value('ownerSelect', 'valStr');
                depotid = val.value;
                //如果仓库值改变重新获取数据
                if (val.value !== depotSelectValue) {
                    depotSelectValue = val.value;
                    tableData = [];
                    // getDepotList();
                    tableOutBill.reload({
                        data: tableData,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                    arrLength();
                }

                var bitdepotid = vals[0].bitdepotid;
                var positiondIds = vals[0].position;
                var arr1 = [];
                positiondIds && (arr1 = positiondIds.split(","));
                var arr = [];

                $.ajax({
                    url: positiondropdown,
                    type: "get",
                    data: bitdepotid,
                    async: false, // 同步
                    traditional: true,
                    success: function(data) {
                        if (data.status === 0) {
                            //把接口数据转换为[{"name":str,"value":number}]格式
                            if (!Array.isArray(data.data) || data.data.length === 0) {
                                // 判断arr是否为数组并保证内部有值
                                return false;
                            }
                            for (var i = 0; i < data.data.length; i++) {
                                for (var k = 0; k < arr1.length; k++) {
                                    if (data.data[i].id === parseInt(arr1[k])) {
                                        arr.push({
                                            "name": data.data[i].name,
                                            "value": data.data[i].id,
                                        });
                                    }
                                }
                            }
                        }
                    }
                });
                // 库位数据初始化
                formSelects.data('positionSelect', 'local', {
                    arr
                });
                formSelects.data('targetPositionSelect', 'local', {
                    arr
                });
            }
        }, true);

        // 品种多选数据赋值
        formSelects.data('selectVarieties', 'local', {
            arr: selectDataInstall(VTSList, null, 0, 1) //品种列表
        });
        // 等级多选数据赋值
        formSelects.data('selectLevels', 'local', {
            arr: selectDataInstall(levelsList, null, 0, 1) //等级列表
        });
        // 规格多选数据赋值
        formSelects.data('selectSpec', 'local', {
            arr: selectDataInstall(specList, null, 0, 1) //规格列表
        });
        // 产地列表
        formSelects.data('originSelect', 'local', {
            arr: selectDataInstall(CHDList, null, 0, 1) //产地列表
        });

        //下拉选框数据组装
        function selectDataInstall(url, param, bool, type) {
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            if (type === 0) {
                                arr.push({
                                    "name": data.data[i].name,
                                    "value": data.data[i].id,
                                    "bitdepotid": data.data[i].bitdepotid,
                                    "position": data.data[i].position,
                                })
                            } else {
                                arr.push({
                                    "name": data.data[i].name,
                                    "value": data.data[i].name,
                                    "bitdepotid": data.data[i].bitdepotid,
                                    "position": data.data[i].position,
                                })
                            }
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }
                    }
                }
            });
            return arr;
        }

        form.on('submit(searchGoodsForm)', function(data) {
            ownerid = formSelects.value('ownerSelect', 'valStr');
            depotid = formSelects.value('depotSelect', 'valStr');
            positionid = formSelects.value('positionSelect', 'valStr');
            if (ownerid == "" || !ownerid || depotid == "" || !depotid) {
                layer.msg("请先选择需要调整的货物所在仓库主和仓库");
                return false;
            } else {
                //搜索货物
                data.field.ownerid = ownerid;
                data.field.depotid = depotid;
                data.field.positionid = positionid;
                getDepotList(data.field);
            }
            return false;
        });

        // getDepotList(); //默认渲染货物列表
        //货物列表
        var tableInsGood = table.render({
            elem: '#tableContainer-goodsList',
            height: '294px',
            data: goodsData,
            cols: [
                [{
                    type: "numbers",
                    align: "center",
                    title: "序号"
                }, {
                    type: 'checkbox',
                }, {
                    field: 'updadate',
                    align: "center",
                    title: '入库时间',
                    minWidth: 120,
                    templet: function(d) {
                        return d.updadate.substring(0, 10)
                    }
                }, {
                    field: 'uuid',
                    title: '货物标识码',
                    align: "center",
                    minWidth: 180,
                    style: 'font-family: Consolas;font-size:16px'
                }, {
                    field: 'positionname',
                    align: "center",
                    title: '库位',
                    minWidth: 150,
                    style: 'color:#d73948'
                }, {
                    field: 'code',
                    align: "center",
                    title: '包号',
                    minWidth: 150
                }, {
                    field: 'varieties',
                    minWidth: 130,
                    align: "center",
                    title: '品种'
                }, {
                    field: 'levels',
                    minWidth: 130,
                    align: "center",
                    title: '等级'
                }, {
                    field: 'spec',
                    minWidth: 130,
                    align: "center",
                    title: '规格'
                }, {
                    field: 'chang',
                    minWidth: 130,
                    align: "center",
                    title: '长度'
                }, {
                    field: 'num',
                    title: '数量(m³)',
                    align: "center",
                    minWidth: 120,
                }, {
                    field: 'pieces',
                    align: "center",
                    title: '片数'
                }, {
                    field: 'containernum',
                    align: "center",
                    title: '货柜号',
                    minWidth: 150
                }, {
                    field: 'origin',
                    align: "center",
                    title: '产地'
                }, {
                    field: 'brand',
                    align: "center",
                    minWidth: 130,
                    title: '品牌'
                }, {
                    field: 'billloading',
                    align: "center",
                    title: '提运单',
                    minWidth: 180
                }, {
                    field: 'remarks',
                    title: '备注'
                }]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        // 出货申请单详情表格渲染
        var tableOutBill = table.render({
            elem: '#tableContainer-addOutBill',
            height: '300px',
            data: tableData,
            cols: [
                [{
                    title: "序号",
                    align: "center",
                    type: "numbers"
                }, {
                    type: 'checkbox',
                }, {
                    field: 'updadate',
                    align: "center",
                    title: '入库时间',
                    minWidth: 120,
                    templet: function(d) {
                        return d.updadate.substring(0, 10)
                    }
                }, {
                    field: 'uuid',
                    title: '货物标识码',
                    align: "center",
                    minWidth: 180,
                    style: 'font-family: Consolas;font-size:16px'
                }, {
                    field: 'positionname',
                    title: '库位',
                    align: "center",
                    minWidth: 150,
                    style: 'color:#d73948'
                }, {
                    field: 'code',
                    title: '包号',
                    align: "center",
                    minWidth: 130
                }, {
                    field: 'varieties',
                    title: '品种',
                    align: "center",
                    minWidth: 130
                }, {
                    field: 'spec',
                    title: '规格',
                    align: "center",
                    minWidth: 130
                }, {
                    field: 'levels',
                    title: '等级',
                    align: "center",
                    minWidth: 130
                }, {
                    field: 'chang',
                    title: '长度',
                    align: "center",
                    minWidth: 80
                }, {
                    field: 'pieces',
                    title: '片数',
                    align: "center",
                    minWidth: 85
                }, {
                    field: 'billloading',
                    title: '提运单',
                    align: "center",
                    minWidth: 150
                }, {
                    field: 'origin',
                    title: '产地',
                    align: "center",
                    minWidth: 100
                }, {
                    field: 'supplier',
                    title: '供应商',
                    align: "center",
                    minWidth: 120
                }, {
                    field: 'num',
                    title: '数量(m³)',
                    align: "center",
                    minWidth: 100
                }, {
                    field: 'remarks',
                    align: "center",
                    title: '备注'
                }]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 100, 150, 200, 500],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        $(".submissionBtn").unbind("click").bind("click", function() {

            //保存
            var cargoowner = layui.formSelects.value('ownerSelect', "valStr");
            if (cargoowner == "") {
                layer.msg('请选择仓库主');
                return false;
            }

            var depotid = layui.formSelects.value('depotSelect', "valStr");
            if (depotid == "") {
                layer.msg('请选择仓库');
                return false;
            }

            var positionid = layui.formSelects.value('targetPositionSelect', "valStr");
            if (positionid == "") {
                layer.msg('请选择移入库位');
                return false;
            }

            var uuidarr = [];
            if (tableData.length == 0) {
                layer.msg('所选货物不能为空');
                return false;
            }

            for (var i = 0; i < tableData.length; i++) {
                uuidarr.push(tableData[i].uuid);
            }

            var preData = {
                "positionid": positionid,
                "uuidarr": uuidarr.toString()
            };

            //增加出货申请单
            preData['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            preData['TOKEN'] = getCookie('TOKEN');

            layer.confirm('是否确定对所选货物进行库位调整', {
                icon: 3,
                title: '提示'
            }, function(index) {
                //do something
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: ilbstockmovelibrary,
                    async: false,
                    data: preData,
                    error: function(request) {
                        layer.msg(request.msg);
                        return false;
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success: function(res) {
                        if (res.status == 1) {
                            goLogin();
                        }
                        if (res.status == 0) {
                            var positionname = layui.formSelects.value('targetPositionSelect', "nameStr");
                            for (var i = 0; i < tableData.length; i++) {
                                tableData[i].positionname = positionname;
                            }
                            tableOutBill.reload({
                                data: tableData,
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 2000
                        }, function() {

                        });
                    }
                });
                layer.close(index);
            });


        });

        $(".addGoodsBtn").click(function() {
            //添加
            var checkStatus = table.checkStatus('tableContainer-goodsList');
            var checkData = checkStatus.data;
            if (checkData.length < 1) {
                layer.msg("请选择需要移除的信息");
            } else {
                //添加已选中货物
                for (var i = 0; i < checkData.length; i++) {
                    tableData.push(checkData[i]);
                    goodsData.remove("uuid", checkData[i].uuid);
                }
                tableInsGood.reload({
                    data: goodsData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                tableOutBill.reload({
                    data: tableData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                arrLength();
            }
        });

        $(".deleteGoods").click(function() {
            //移除
            var checkStatus = table.checkStatus('tableContainer-addOutBill');
            var checkData = checkStatus.data;
            if (checkData.length < 1) {
                layer.msg("请选择需要移除的信息");
            } else {
                //移除已选中货物
                for (var i = 0; i < checkData.length; i++) {
                    goodsData.push(checkData[i]);
                    tableData.remove("uuid", checkData[i].uuid);
                }

                tableInsGood.reload({
                    data: goodsData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });

                tableOutBill.reload({
                    data: tableData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                arrLength();
            }
        });

        /**
         * tableData长度变化改变显示数量
         */
        function arrLength() {
            $(".goodsCount").html(tableData.length);
        }

        function getDepotList(param) {
            if (!param) {
                param = {}
            };
            if (!param.ownerid || !param.depotid) {
                param.ownerid = ownerid || 0;
                param.depotid = depotid || 0;
            }
            $.get(ilbstockListAll, param, function(res) {
                if (res.status == 0) {
                    goodsData = weedArr(res.data, tableData); //剔除重复
                } else {
                    goodsData = [];
                }
                tableInsGood.reload({
                    data: goodsData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            })
        }

    });
</script>