<div class="table-page addOutBill" id="stock-addOutBill">
    <!-- 订单状态 -->
    <!-- <div class="outbill-status">
    </div> -->
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left form-down-line">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">仓库主</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">仓库主</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">仓库</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">仓库</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">预计时间</span>
                            <input type="text" name="estimatedate" id="estimatedate" required lay-verify="required" placeholder="预计时间" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">车牌号</span>
                            <input type="text" name="vehnum" placeholder="车牌号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">司机姓名</span>
                            <input type="text" name="vname" placeholder="司机姓名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">司机身份证号</span>
                            <input type="text" name="card" placeholder="司机身份证号" autocomplete="off" class="layui-input" lay-verify="identity">
                        </div>
                    </div>
                    <div class="audit-status"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="serverContainer goodsContainer">
            <div class="table-page-header">
                <div class="table-page-form">
                    <form class="layui-form" action="">
                        <div class="form-box clearfix">
                            <div class="layui-form-item form-left">
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">货物标识码</span>
                                    <input type="text" name="uuid" placeholder="货物标识码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">包号</span>
                                    <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">品种</span>
                                    <select name="varieties" xm-select="selectVarieties" xm-select-radio>
                                        <option value="">品种</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">等级</span>
                                    <select name="levels" xm-select="selectLevels" xm-select-radio>
                                        <option value="">等级</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">规格/厚度</span>
                                    <select name="spec" xm-select="selectSpec" xm-select-radio>
                                        <option value="">规格</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">货柜号</span>
                                    <input type="text" name="containernum" placeholder="货柜号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">产地</span>
                                    <select name="origin" xm-select="originSelect" xm-select-radio="">
                                        <option value="">产地</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">品牌</span>
                                    <input type="text" name="brand" placeholder="品牌" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">提运单</span>
                                    <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">长度</span>
                                    <input type="text" name="chang" placeholder="长度" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">片数</span>
                                    <input type="text" name="pieces" placeholder="片数" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item form-right">
                                <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                                    <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                                </button>
                                <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchGoodsForm">
                                    <i class="iconfont icon-sousuo"></i> <span>查询</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-content-main" id="goodsList">

                    <table id="tableContainer-goodsList" lay-filter="tableContainer-goodsList"></table>

                </div>
            </div>
        </div>

        <div class="goodsMoveBtn">
            <a href="javascript:;" class="addGoodsBtn">∨ 添加货物</a>
            <a href="javascript:;" class="deleteGoods">∧ 移除货物</a>
        </div>

        <div class="localContainer goodsContainer">
            <div class="containerTitle">
                <h3 class="titleTxt">出库申请单</h3>
                <div class="leftCon">
                    <a href="javascript:;" class="submissionBtn"><i class="iconfont icon-baocunxinzeng"></i>保存出库单</a>
                    <a href="javascript:;" class="dayinBtn"><i class="iconfont icon-dayin"></i>打印</a>
                </div>
                <div class="rightCon">总共<span class="goodsCount">0</span>个货物</div>
            </div>
            <div class="table-content-main">
                <table id="tableContainer-addOutBill" lay-filter="tableContainer-addOutBill"></table>
            </div>
        </div>

    </div>
</div>
<style scoped>
    .layer-title small {
        font-size: 14px;
    }

    .layer-title li {
        flex: 0 0 280px;
    }

    .goodsContainer {
        border: 1px solid #a0a0a0
    }

    .table-page-form {
        padding: 5px 10px 0 10px
    }

    .goodsMoveBtn {
        height: 30px;
        line-height: 30px;
        margin: 5px 0;
    }

    .goodsMoveBtn a {
        display: inline-block;
        margin-right: 10px;
        background: #f2f9ff;
        color: #333;
        font-size: 14px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-weight: bold
    }

    .goodsMoveBtn a:hover {
        background: #e1ecf6
    }

    .containerTitle {
        height: 44px;
        line-height: 44px;
        position: relative
    }

    .containerTitle h3 {
        font-size: 18px;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
    }

    .leftCon {
        position: absolute;
        left: 12px;
        top: 5px;
        height: 30px;
        line-height: 30px;
    }

    .leftCon a {
        display: inline-block;
        margin-right: 10px;
        color: #333;
        font-size: 14px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-weight: bold
    }

    .leftCon a:hover {
        background: #eee
    }

    .rightCon {
        position: absolute;
        right: 12px;
        top: 0;
    }

    .rightCon span {
        color: #ff3c4e
    }

    .leftCon .dayinBtn {
        display: none;
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var layer = layui.layer;

        var menuKey = "b_34"; //当前页面key
        var domObj = $("#stock-addOutBill .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限
        var tableKey = "a_11"; //当前页面表格key
        var tableOptionArr = getTableOption(tableKey); //表格列

        formSelects.render('depotSelect'); //下拉选项
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        var goodsData = []; //库存货物
        var tableData = []; //出库清单货物
        var ownerid; //仓库主ID
        var depotid; //仓库ID
        var depotSelectValue; //仓库id暂存用于对比是否改变仓库

        //日期时间选择器
        laydate.render({
            elem: '#estimatedate',
            type: 'datetime',
            min: 0,
            change: function(val) {
                // console.log(val);
            }
        });

        //下拉框
        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //仓库主列表
        });

        layui.formSelects.opened('depotSelect', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        layui.formSelects.opened('positionSelect', function(id) {
            var depotid = formSelects.value('depotSelect', 'val'); //获取仓库ID
            if (depotid.length < 1) {
                layer.msg("请先选择仓库");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, false);

                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
            }
        }, true);

        //监听仓库选择
        formSelects.on('depotSelect', function(id, vals, val, isAdd, isDisabled) {
            if (isAdd) {
                ownerid = formSelects.value('ownerSelect', 'valStr');
                depotid = val.value;
                //如果仓库值改变重新获取数据
                if (val.value !== depotSelectValue) {
                    depotSelectValue = val.value;
                    tableData = [];
                    // getDepotList();
                    tableOutBill.reload({
                        data: tableData,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                    arrLength();
                }
            }
        });

        // 品种多选数据赋值
        formSelects.data('selectVarieties', 'local', {
            arr: selectDataInstall(VTSList, null, 0, 1) //品种列表
        });
        // 等级多选数据赋值
        formSelects.data('selectLevels', 'local', {
            arr: selectDataInstall(levelsList, null, 0, 1) //等级列表
        });
        // 规格多选数据赋值
        formSelects.data('selectSpec', 'local', {
            arr: selectDataInstall(specList, null, 0, 1) //规格列表
        });
        // 产地列表
        formSelects.data('originSelect', 'local', {
            arr: selectDataInstall(CHDList, null, 0, 1) //产地列表
        });


        var outBill = JSON.parse(sessionStorage.getItem('addOutBill')); //获取所选择记录详情

        var parmdata = {};
        var pageData;

        if (outBill != null) {
            $(".dayinBtn").css({
                display: "inline-block"
            });
            ownerid = outBill.ownerid;
            depotid = outBill.depotid;

            //回显
            parmdata["orderno"] = outBill.orderno;
            parmdata["ownerid"] = outBill.ownerid;
            parmdata["depotid"] = outBill.depotid;
            parmdata['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            parmdata['TOKEN'] = getCookie('TOKEN');
            $("#estimatedate").val(outBill.outdate);

            $.ajax({
                //获取已保存的待出库货物
                type: "get",
                url: preoutHistoryOrderno,
                data: parmdata,
                async: false,
                success: function(res) {
                    if (res.status === 0) {
                        pageData = res;
                        tableData = pageData.data;
                        arrLength();
                    }
                }
            });

            if (pageData) {
                parmdata["vname"] = pageData.vname; //司机姓名
                parmdata["vehnum"] = pageData.vehnum; //车牌号
                parmdata["card"] = pageData.card; //司机身份证号

                $("input[name='vname']").val(parmdata.vname);
                $("input[name='vehnum']").val(parmdata.vehnum);
                $("input[name='card']").val(parmdata.card);

            }

            formSelects.data('ownerSelect', 'local', {
                arr: [{
                    "name": outBill.ownername,
                    "value": outBill.ownerid,
                    "selected": "selected"
                }] //仓库主列表
            });

            formSelects.data('depotSelect', 'local', {
                arr: [{
                    "name": outBill.depname,
                    "value": outBill.depotid,
                    "selected": "selected"
                }] //仓库主列表
            });
            formSelects.disabled('ownerSelect'); //禁用
            formSelects.disabled('depotSelect'); //禁用
            $("input[name='estimatedate']").attr("disabled", true)
        }

        function selectDataInstall(url, param, bool, type) {
            if (param) {
                param['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                param['TOKEN'] = getCookie('TOKEN');
            } else {
                var param = {};
                param['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                param['TOKEN'] = getCookie('TOKEN');
            }
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            if (type == 1) {
                                arr.push({
                                    "name": data.data[i].name,
                                    "value": data.data[i].name
                                })
                            } else {
                                arr.push({
                                    "name": data.data[i].name,
                                    "value": data.data[i].id
                                })
                            }

                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }
                    }
                }
            });
            return arr;
        }

        form.on('submit(searchGoodsForm)', function(data) {
            ownerid = formSelects.value('ownerSelect', 'valStr');
            depotid = formSelects.value('depotSelect', 'valStr');

            if (ownerid == "" || !ownerid || depotid == "" || !depotid) {
                layer.msg("请先选择需要出货的仓库主和仓库");
                return false;
            } else {
                //搜索货物
                data.field.ownerid = ownerid;
                data.field.depotid = depotid;
                data.field['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                data.field['TOKEN'] = getCookie('TOKEN');
                getDepotList(data.field);
            }
            return false;
        });

        // getDepotList(); //默认渲染货物列表
        //货物列表
        var tableInsGood = table.render({
            elem: '#tableContainer-goodsList',
            height: '278px',
            data: goodsData,
            cols: [
                tableOptionArr["tableContainer-goodsList"]
                // [{
                //     type: "numbers",
                //     title: "序号"
                // }, {
                //     type: 'checkbox',
                // }, {
                //     field: 'uuid',
                //     title: '货物标识码',
                //     width: 206,
                //     style: 'font-family: Consolas;font-size:16px'
                // }, {
                //     field: 'code',
                //     title: '包号',
                //     width: 150
                // }, {
                //     field: 'varieties',
                //     width: 130,
                //     title: '品种'
                // }, {
                //     field: 'levels',
                //     width: 130,
                //     title: '等级'
                // }, {
                //     field: 'spec',
                //     width: 130,
                //     title: '规格'
                // }, {
                //     field: 'aprice',
                //     title: '估值状态',
                //     width: 130,
                //     templet: function(d) {
                //         //默认无
                //         if (d.isapp == 1) {
                //             return '<span>不用估值</span>';
                //         }
                //         //默认无
                //         if (null == d.aprice || d.aprice < 0) {
                //             return '<span style="color:red;">未估值</span>';
                //         }
                //         return d.aprice;
                //     }
                // }, {
                //     field: 'chang',
                //     width: 130,
                //     title: '长度'
                // }, {
                //     field: 'num',
                //     title: '数量(m³)',
                //     width: 120,
                // }, {
                //     field: 'pieces',
                //     title: '片数'
                // }, {
                //     field: 'containernum',
                //     title: '货柜号',
                //     width: 150
                // }, {
                //     field: 'origin',
                //     title: '产地'
                // }, {
                //     field: 'brand',
                //     width: 130,
                //     title: '品牌'
                // }, {
                //     field: 'billloading',
                //     title: '提运单',
                //     width: 180
                // }, {
                //     field: 'remarks',
                //     title: '备注'
                // }]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) {
                // console.log(res);
                var data = res.data;
                var allck = true;
                for (var item in data) {
                    if (data[item].isapp == 0 && (!data[item].aprice || data[item].aprice <= 0)) {
                        allck = false;
                        break;
                    }
                }
                if (!allck) {
                    $("#goodsList .layui-table-header").find("input[name = 'layTableCheckbox'][lay-filter='layTableAllChoose']").each(function() {
                        $(this).attr("disabled", 'disabled').next().removeClass("layui-form-checked");
                        form.render('checkbox');
                    });
                }
                var i = 0;
                $("#goodsList .layui-table-body.layui-table-main").find("input[name='layTableCheckbox']").each(function() {
                    if ((!res.data[i].aprice || data[i].aprice <= 0) && data[i].isapp == 0) {
                        $(this).attr("disabled", 'disabled').removeAttr("checked");
                        form.render('checkbox');
                    }
                    i++;
                });
                i = 0;
                $("#goodsList .layui-table-fixed.layui-table-fixed-l").find(".layui-table-body").find("input[name='layTableCheckbox']").each(function() {
                    if ((!res.data[i].aprice || data[i].aprice <= 0) && data[i].isapp == 0) {
                        $(this).attr("disabled", 'disabled').removeAttr("checked");
                        form.render('checkbox');
                    }
                    i++;
                });
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        // 出货申请单详情表格渲染
        var tableOutBill = table.render({
            elem: '#tableContainer-addOutBill',
            height: '300px',
            data: tableData,
            cols: [
                tableOptionArr["tableContainer-addOutBill"]
                // [{
                //     title: "序号",
                //     type: "numbers"
                // }, {
                //     type: 'checkbox',
                // }, {
                //     field: 'uuid',
                //     title: '货物标识码',
                //     width: 206,
                //     style: 'font-family: Consolas;font-size:16px'
                // }, {
                //     field: 'code',
                //     title: '包号',
                //     width: 130
                // }, {
                //     field: 'varieties',
                //     title: '品种',
                //     width: 130
                // }, {
                //     field: 'spec',
                //     title: '规格',
                //     width: 130
                // }, {
                //     field: 'levels',
                //     title: '等级',
                //     width: 130
                // }, {
                //     field: 'chang',
                //     title: '长度',
                //     width: 80
                // }, {
                //     field: 'pieces',
                //     title: '片数',
                //     width: 85
                // }, {
                //     field: 'billloading',
                //     title: '提运单',
                //     width: 150
                // }, {
                //     field: 'origin',
                //     title: '产地',
                //     width: 100
                // }, {
                //     field: 'supplier',
                //     title: '供应商',
                //     width: 120
                // }, {
                //     field: 'num',
                //     title: '数量(m³)',
                //     width: 100
                // }, {
                //     field: 'aprice',
                //     title: '估值金额(RMB)',
                //     width: 130,
                //     templet: function(d) {
                //         return formatNum(d.aprice) || "";
                //     }
                // }, {
                //     field: 'remarks',
                //     title: '备注'
                // }]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 100, 150, 200, 500],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        $(".submissionBtn").unbind("click").bind("click", function() {
            //保存
            var cargoowner = layui.formSelects.value('ownerSelect', "valStr");
            if (cargoowner == "") {
                layer.msg('仓库主不能为空');
                return false;
            }

            var depotid = layui.formSelects.value('depotSelect', "valStr");
            if (depotid == "") {
                layer.msg('仓库名不能为空');
                return false;
            }

            var estimatedate = $("#estimatedate").val();
            if (estimatedate == "") {
                layer.msg('预计出库时间不能为空');
                return false;
            }

            var lbarr = [];
            if (tableData.length == 0) {
                layer.msg('所选货物不能为空');
                return false;
            }

            for (var i = 0; i < tableData.length; i++) {
                lbarr.push({
                    uuid: tableData[i].uuid,
                    remarks: tableData[i].remarks
                })
            }

            var preData = {
                "ownerid": cargoowner,
                "depotid": depotid,
                "outdateString": estimatedate,
                "lbarr": JSON.stringify(lbarr)
            };

            var outBill = JSON.parse(sessionStorage.getItem('addOutBill'));
            if (outBill != null) {
                // var array = JSON.parse(outBill);
                preData["orderno"] = outBill.orderno;
            }

            var vname = $("input[name='vname']").val();
            var vehnum = $("input[name='vehnum']").val();
            var card = $("input[name='card']").val();
            if (outBill == null) {
                if (!(vname == "" && vehnum == "" && card == "")) {
                    preData.vname = vname;
                    preData.vehnum = vehnum;
                    preData.card = card;
                }
            } else {
                if (!(vname == "" && vehnum == "" && card == "")) {
                    if (pageData.vname != vname) {
                        preData.vname = vname;
                    }
                    if (pageData.vehnum != vehnum) {
                        preData.vehnum = vehnum;
                    }
                    if (pageData.card != card) {
                        preData.card = card;
                    }
                }
            }
            //增加出货申请单
            preData['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            preData['TOKEN'] = getCookie('TOKEN');
            $.ajax({
                cache: true,
                type: "POST",
                url: preoutTreasuryAdd,
                async: false,
                data: preData,
                error: function(request) {
                    layer.msg(request.msg);
                    return false;
                },
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(res) {
                    if (res.status == 1) {
                        goLogin();
                    } else if (res.status == 0) {
                        layer.closeAll();
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 2000
                        }, function() {

                        });
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
        });

        $(".addGoodsBtn").click(function() {
            //添加
            var checkStatus = table.checkStatus('tableContainer-goodsList');
            var checkData = checkStatus.data;
            if (checkData.length < 1) {
                layer.msg("请选择需要添加的货物");
            } else {
                //添加已选中货物
                for (var i = 0; i < checkData.length; i++) {
                    tableData.push(checkData[i]);
                    goodsData.remove("uuid", checkData[i].uuid);
                }
                tableInsGood.reload({
                    data: goodsData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                tableOutBill.reload({
                    data: tableData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                arrLength();
            }
        });

        $(".deleteGoods").click(function() {
            //移除
            var checkStatus = table.checkStatus('tableContainer-addOutBill');
            var checkData = checkStatus.data;
            if (checkData.length < 1) {
                layer.msg("请选择需要移除的货物");
            } else {
                //移除已选中货物
                for (var i = 0; i < checkData.length; i++) {
                    goodsData.push(checkData[i]);
                    tableData.remove("uuid", checkData[i].uuid);
                }

                tableInsGood.reload({
                    data: goodsData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });

                tableOutBill.reload({
                    data: tableData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                arrLength();
            }
        });

        /**
         * tableData长度变化改变显示数量
         */
        function arrLength() {
            $(".goodsCount").html(tableData.length);
        }

        $(".dayinBtn").click(function() {
            window.open(printout, '打印', 'height=800, width=1100, top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');
        });

        function getDepotList(param) {
            if (!param) {
                param = {}
            };
            if (!param.ownerid || !param.depotid) {
                param.ownerid = ownerid || 0;
                param.depotid = depotid || 0;
            }
            $.get(ilbstockListAll, param, function(res) {
                if (res.status == 0) {
                    goodsData = weedArr(res.data, tableData); //剔除重复
                } else {
                    goodsData = [];
                }
                tableInsGood.reload({
                    data: goodsData,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            })
        }

        // 监听table点击事件，修改数量
        table.on('tool(tableContainer-goodsList)', function(obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值(也可以是表头的 event 参数对应的值)
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var param = {};
            param['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            param['TOKEN'] = getCookie('TOKEN');
            if (layEvent === 'edit') {
                layer.prompt({
                    formType: 2,
                    title: '修改包号为' + data.code + '的备注',
                    value: data.remarks
                }, function(value, index) {
                    
                    param['uuid'] = data.uuid;
                    param['remarks'] = value;

                    $.ajax({
                        url: ilupdaStockRemarks,
                        type: "post",
                        data: param,
                        traditional: true,
                        success: function(data) {
                            if (data.status === 1) {
                                goLogin();
                            }
                            if (data.status !== 0) {
                                layer.msg(data.msg);
                            }
                        }
                    });
                    layer.close(index);
                    obj.update({
                        remarks: value
                    });

                });
            }
        });

    });
</script>