<div class="table-page addOutBill" id="stock-addOutBill">
    <div class="table-content-title layer-level butlistbox">
        <div class="table-tools">
            <ul class="layui-nav topmenu" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="addGoodsBtn"><i class="iconfont icon-tianjiahuowu"></i>从库存添加货物</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="suboutlbBtn"><i class="iconfont icon-chuku"></i>出库</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="deleteGoods"><i class="iconfont icon-shanchu"></i>移除</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="submissionBtn"><i class="iconfont icon-baocunxinzeng"></i>保存</a>
                </li> -->
            </ul>
        </div>
    </div>

    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left form-down-line">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">仓库主</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">仓库主</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">仓库</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">仓库</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">预计时间</span>
                            <input type="text" name="estimatedate" id="estimatedate" required lay-verify="required" placeholder="预计时间" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">车牌号</span>
                            <input type="text" name="vehnum" placeholder="车牌号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">司机姓名</span>
                            <input type="text" name="vname" placeholder="司机姓名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">司机身份证号</span>
                            <input type="text" name="card" placeholder="司机身份证号" autocomplete="off" class="layui-input" lay-verify="identity">
                        </div>
                    </div>
                    <!-- <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-gray"><i class="layui-icon layui-icon-refresh"></i></button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchFormAdd">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div> -->
                    <div class="audit-status"></div>
                </div>
            </form>
            <!-- <blockquote class="layui-elem-quote" id="details-title">
                <ul class="layer-title">
                    <li>
                        <small>仓库主</small>
                        <div class="layui-input-inline">
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">选择仓库主</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <small>仓库名称</small>
                        <div class="layui-input-inline">
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">选择仓库</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <small>预计出库时间</small>
                        <div class="layui-input-inline">
                            <input type="text" name="estimatedate" id="estimatedate" required lay-verify="required" placeholder="请选择预计出库时间" autocomplete="off" class="layui-input">
                        </div>
                    </li>
                    <li>
                        <small>车牌号</small>
                        <div class="layui-input-inline">
                            <input type="text" name="vehnum" placeholder="请输入车牌号" autocomplete="off" class="layui-input">
                        </div>
                    </li>
                    <li>
                        <small>司机姓名</small>
                        <div class="layui-input-inline">
                            <input type="text" name="vname" placeholder="请输入司机姓名" autocomplete="off" class="layui-input">
                        </div>
                    </li>
                    <li>
                        <small>司机身份证号</small>
                        <div class="layui-input-inline">
                            <input type="text" name="card" placeholder="请输入司机身份证号" autocomplete="off" class="layui-input" lay-verify="identity">
                        </div>
                    </li>
                    <li>
                        <div class="layui-btn layui-btn-radius layui-btn-normal util-box"></div>
                    </li>
                </ul>
            </blockquote> -->
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-addOutBill" lay-filter="tableContainer-addOutBill"></table>
        </div>
    </div>
</div>
<style scoped>
    .layer-title small {
        font-size: 14px;
    }

    .layer-title li {
        flex: 0 0 280px;
    }

    .table-page h3 {
        padding-left: 0;
    }

    .util-container * {
        display: inline-block
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var laydate = layui.laydate;
        var layer = layui.layer;
        var formSelects = layui.formSelects;

        var menuKey = "b_10"; //当前页面key
        var domObj = $("#stock-addOutBill .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限

        // formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        var goodsListLayer; //货物列表弹窗
        var tableData = [];

        var outBill = JSON.parse(sessionStorage.getItem('addOutBill')); //获取所选择记录详情
        console.log(outBill);
        var data = {};
        var pageData;
        var dataAipUrl = preoutHistoryOrderno; //历史出货单接口
        if (outBill == null) {
            return false;
        } else {
            if (outBill.status == 4) {
                //已出库隐藏按钮
                $(".butlistbox").hide();
            }

            if (outBill.status == 3 && outBill.isexamine == 3) {
                $(".topmenu").hide(); //如果是审核不通过出库单隐藏操作按钮
                dataAipUrl = outfailoutlist;
            }
            //回显
            data["orderno"] = outBill.orderno;
            data["ownerid"] = outBill.ownerid;
            data["depotid"] = outBill.depotid;
            data['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            data['TOKEN'] = getCookie('TOKEN');
            $("#estimatedate").val(outBill.outdate);

            $.ajax({
                cache: true,
                type: "get",
                url: dataAipUrl,
                data: data,
                async: false,
                success: function(res) {
                    if (res.status === 0) {
                        pageData = res;
                        tableData = pageData.data;
                    }
                }
            });

            if (pageData) {
                data["vname"] = pageData.vname; //司机姓名
                data["vehnum"] = pageData.vehnum; //车牌号
                data["card"] = pageData.card; //司机身份证号

                $("input[name='vname']").val(data.vname);
                $("input[name='vehnum']").val(data.vehnum);
                $("input[name='card']").val(data.card);

            }

            // var addOutBill = sessionStorage.getItem("addOutBill");
            var auditStatus = $(".audit-status");
            if (outBill !== null) {
                // 审核状态显示
                if (outBill.status === 1 && outBill.isexamine === 1) {
                    auditStatus.html("<span style='color: #ff3c4e;'>待审核</span>");
                } else if (outBill.status === 1) {
                    auditStatus.html("<span style='color: #666;'>正常待出库</span>");
                } else if (outBill.status === 2) {
                    auditStatus.html("<span style='color: #666;'>审核通过</span>");
                } else if (outBill.status === 4) {
                    auditStatus.html("<span style='color: #666;'>已出库</span>");
                } else {
                    auditStatus.html("<span style='color: #ff3c4e;'>审核不通过</span>");
                }
            } else {
                auditStatus.html("")
            }

            formSelects.data('ownerSelect', 'local', {
                arr: [{
                    "name": outBill.ownername,
                    "value": outBill.ownerid,
                    "selected": "selected"
                }] //仓库主列表
            });
            formSelects.data('depotSelect', 'local', {
                arr: [{
                    "name": outBill.depname,
                    "value": outBill.depotid,
                    "selected": "selected"
                }] //仓库主列表
            });
            formSelects.disabled('ownerSelect'); //禁用
            formSelects.disabled('depotSelect'); //禁用
            $("input[name='estimatedate']").attr("disabled", true);
            $("input[name='vname']").attr("disabled", true);
            $("input[name='vehnum']").attr("disabled", true);
            $("input[name='card']").attr("disabled", true);
        }

        // 出货申请单详情表格渲染
        var tableIns = table.render({
            elem: '#tableContainer-addOutBill',
            height: ($(window).height() * 0.8),
            data: tableData,
            cols: [
                [ //标题栏
                    {
                        type: "numbers",
                        title: "序号"
                    }, {
                        type: 'checkbox',
                    }, {
                        field: 'uuid',
                        title: '货物标识码',
                        width: 206,
                        style: 'font-family: Consolas;font-size:16px'
                    }, {
                        field: 'code',
                        title: '包号',
                        width: 150,
                    }, {
                        field: 'varieties',
                        title: '品种',
                        width: 120,
                    }, {
                        field: 'spec',
                        title: '规格',
                        width: 120,
                    }, {
                        field: 'levels',
                        title: '等级',
                        width: 120,
                    }, {
                        field: 'chang',
                        title: '长度',
                        width: 120,
                    }, {
                        field: 'num',
                        title: '数量（m³）',
                        width: 120,
                    }, {
                        field: 'pieces',
                        title: '片数'
                    }, {
                        field: 'aprice',
                        title: '估值状态',
                        width: 130,
                        templet: function(d) {
                            //默认无
                            if (d.isapp == 1) {
                                return '<span>不用估值</span>';
                            }
                            //默认无
                            if (null == d.aprice || d.aprice < 0) {
                                return '<span style="color:red;">未估值</span>';
                            }
                            return d.aprice;
                        }
                    }, {
                        field: 'aprice',
                        title: '估值单价' + unitMoney,
                        width: 130,
                        templet: function(d) {
                            return formatNum(d.aprice) || "";
                        },
                    }, {
                        field: "",
                        title: "总金额",
                        width: 130,
                        templet: function(d) {
                            return formatNum(d.totalamount) || "";
                        },
                    }, {
                        field: 'billloading',
                        title: '提运单',
                        width: 150
                    }, {
                        field: 'origin',
                        title: '产地',
                        width: 180,
                    }, {
                        field: 'supplier',
                        title: '供应商',
                        width: 160,
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [50, 100, 150, 200, 500],
            limit: 50, //每页默认显示的数量
            done: function(res, curr, count) {
                var addtableBtn = '<div class="rightBotBtn" id="addOutBillRight">共添加<span>' + count + '</span>个货物</div>';
                if ($("#addOutBillRight").length < 1) {
                    $("#tableContainer-addOutBill").siblings().find(".layui-table-page").append(addtableBtn);
                }
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

    });
</script>