<div class="table-page">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a id="toExport" href="javascript:;"><i class="iconfont icon-daochu"></i>导出数据</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="dayin()"><i class="iconfont icon-dayin"></i>打印</a>
                </li> -->
                <li class="layui-nav-item">
                    <a href="javascript:;" class="refreshBtn"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">订单号</span>
                            <input type="text" name="orderno" placeholder="订单号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库主</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">仓库主</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">仓库</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">库位</span>
                            <select name="positionid" xm-select="positionSelect" xm-select-radio>
                                <option value="">库位</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">产地</span>
                            <select name="origin" xm-select="originSelect" xm-select-radio>
                                <option value="">产地</option>
                            </select>
                        </div>
                        <!-- <div class="table-form-item layui-input-inline">
                            <span class="input-span">供应商</span>
                            <select name="supplierid" xm-select="supplierSelect" xm-select-radio>
                                <option value="">供应商</option>
                            </select>
                        </div> -->
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">提运单</span>
                            <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                            <input type="text" name="ishistory" hidden value="1">
                            <!-- 隐藏域 ishistory：1 历史记录 -->
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                            <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                        </button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer" lay-filter="tableContainer"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项

        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //仓库主列表
        });

        layui.formSelects.opened('depotSelect', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        layui.formSelects.opened('positionSelect', function(id) {
            var depotid = formSelects.value('depotSelect', 'val'); //获取仓库ID
            if (depotid.length < 1) {
                layer.msg("请先选择仓库");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
                formSelects.data('positionSelect', 'local', {
                    arr: [] //清空库位列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, false);

                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    formSelects.data('positionSelect', 'local', {
                        arr: [] //清空库位列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
                formSelects.data('positionSelect', 'local', {
                    arr: selectDataInstall(positionDropdown, {
                        "depotid": depotList[0].value
                    }, false) //库位列表
                });
            }
        }, true);

        //监听
        formSelects.on('depotSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('positionSelect', 'local', {
                    arr: [] //仓库列表
                });
            } else {
                formSelects.data('positionSelect', 'local', {
                    arr: selectDataInstall(positionDropdown, {
                        "depotid": vals[0].value
                    }, false) //仓库列表
                });
            }
        }, true);

        formSelects.data('originSelect', 'local', {
            arr: selectDataInstall(CHDList) //产地列表
        });

        // formSelects.data('supplierSelect', 'local', {
        //     arr: selectDataInstall(dropSupplier) //供应商列表
        // });

        function selectDataInstall(url, param, bool) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status == 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length == 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }

                    }
                }
            })
            return arr;
        }

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableInss.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });
        $(".refreshBtn").click(function() {
            tableInss.reload({
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
        });
        var tableInss = table.render({
            elem: '#tableContainer',
            height: 'full-' + tableTopHeight,
            url: outHistory,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    },
                    {
                        field: 'orderno',
                        title: '单号',
                        event: 'click',
                        style: 'cursor: pointer;color:#0063de;',
                    }, {
                        field: 'ownername',
                        title: '仓库主',
                    }, {
                        field: 'depname',
                        title: '仓库名称',
                    }, {
                        field: 'num',
                        title: '件数（包）',
                    }, {
                        field: 'suppliername',
                        title: '供应商',
                    }, {
                        field: 'volume',
                        title: '数量（m³）',
                    }, {
                        field: 'createdate',
                        title: '出库时间',
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        table.on('tool(tableContainer)', function(obj) {
            // console.log(obj.tr) //得到当前行元素对象
            // console.log(obj.data) //得到当前行数据
            if (obj.event === 'click') {
                $.get(outHistoryOrderno, {
                    orderno: obj.data.orderno
                }, function(data) {
                    // console.log(data);
                    data.type = "outHistory";
                    location.hash = "#!stock-outBillDetails/";
                    sessionStorage.setItem('outBillDetails', JSON.stringify(data));
                })
            }
        });

    });

    function dayin() {
        var Width = window.innerWidth;
        var Height = window.innerHeight;

        var winhtml = "http://192.168.10.201:8000/view/print/print-out-store.html"; //需打印的数据源(包括html)
        //弹出准备打印窗口
        var wind = window.open(winhtml, '打印', 'height=' + Height + ', width=' + Width + ', top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');
        //将需打印的内容放在准备打印窗口中
        wind.document.body.innerHTML = winhtml;
        //开始打印
        wind.print();
        return false;
    }
</script>