<div class="table-page" id="stock-outHistory">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a id="toExport" href="javascript:;"><i class="iconfont icon-daochu"></i>导出数据</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="dayin()"><i class="iconfont icon-dayin"></i>打印</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="refreshBtn"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a class="back-in-examine" href="javascript:;"><i class="iconfont icon-daochu"></i>弃审</a>
                </li> -->
                <!--<li class="layui-nav-item">
                    <a href="javascript:;" class="toExport"><i class="iconfont icon-daochu"></i>导出</a>
                </li>-->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="toBatchExport"><i class="iconfont icon-daochu"></i>批量导出</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">单号</span>
                            <input type="text" name="outorderno" placeholder="单号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">货物标识码</span>
                            <input type="text" name="uuid" placeholder="货物标识码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">货柜号</span>
                            <input type="text" name="containernum" placeholder="货柜号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库主</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">仓库主</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">仓库</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">库位</span>
                            <select name="positionid" xm-select="positionSelect" xm-select-radio>
                                <option value="">库位</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">包号</span>
                            <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">品种</span>
                            <select name="varieties" xm-select="selectVarieties" xm-select-radio>
                                <option value="">品种</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">等级</span>
                            <select name="levels" xm-select="selectLevels" xm-select-radio>
                                <option value="">等级</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">规格/厚度</span>
                            <select name="spec" xm-select="selectSpec" xm-select-radio>
                                <option value="">规格</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">长度</span>
                            <input type="text" name="chang" placeholder="长度" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">片数</span>
                            <input type="text" name="pieces" placeholder="片数" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">日期</span>
                            <input type="text" name="date" placeholder="请选择时间范围" autocomplete="off" class="layui-input date">
                        </div>

                        <!-- <div class="table-form-item layui-input-inline">
                            <span class="input-span">产地</span>
                            <select name="origin" xm-select="originSelect" xm-select-radio>
                                <option value="">产地</option>
                            </select>
                        </div> -->
                        <!-- <div class="table-form-item layui-input-inline">
                            <span class="input-span">供应商</span>
                            <select name="supplierid" xm-select="supplierSelect" xm-select-radio>
                                <option value="">供应商</option>
                            </select>
                        </div> -->
                        <!-- <div class="table-form-item layui-input-inline">
                            <span class="input-span">提运单</span>
                            <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                            <input type="text" name="ishistory" hidden value="1">
                        </div> -->
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                            <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                        </button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer" lay-filter="tableContainer"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var laydate = layui.laydate;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var menuKey = "a_13"; //当前页面key
        var domObj = $("#stock-outHistory .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限

        

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项

        laydate.render({
            elem: '.date',
            type: 'date',
            range: true
        });

        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown,null,0) //仓库主列表
        });

        layui.formSelects.opened('depotSelect', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        layui.formSelects.opened('positionSelect', function(id) {
            var depotid = formSelects.value('depotSelect', 'val'); //获取仓库ID
            if (depotid.length < 1) {
                layer.msg("请先选择仓库");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
                formSelects.data('positionSelect', 'local', {
                    arr: [] //清空库位列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, 0);

                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    formSelects.data('positionSelect', 'local', {
                        arr: [] //清空库位列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
                formSelects.data('positionSelect', 'local', {
                    arr: selectDataInstall(positionDropdown, {
                        "depotid": depotList[0].value
                    }, 0) //库位列表
                });
            }
        }, true);

        //监听
        formSelects.on('depotSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('positionSelect', 'local', {
                    arr: [] //仓库列表
                });
            } else {
                formSelects.data('positionSelect', 'local', {
                    arr: selectDataInstall(positionDropdown, {
                        "depotid": vals[0].value
                    }, 0) //仓库列表
                });
            }
        }, true);

        // formSelects.data('originSelect', 'local', {
        //     arr: selectDataInstall(CHDList) //产地列表
        // });

        // formSelects.data('supplierSelect', 'local', {
        //     arr: selectDataInstall(dropSupplier) //供应商列表
        // });

        // 品种多选数据赋值
        formSelects.data('selectVarieties', 'local', {
            arr: selectDataInstall(VTSList, null, 1) //品种列表
        });
        // 等级多选数据赋值
        formSelects.data('selectLevels', 'local', {
            arr: selectDataInstall(levelsList, null, 1) //等级列表
        });
        // 规格多选数据赋值
        formSelects.data('selectSpec', 'local', {
            arr: selectDataInstall(specList, null, 1) //规格列表
        });

        // 获取select数据函数
        function selectDataInstall(url, param,type) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            var name = "";

                            if (data.data[i].name) {
                                name = data.data[i].name;
                            } else {
                                name = data.data[i].username;
                            }

                            if(type == 0){//查询value=id
                                arr.push({
                                    "name": name,
                                    "value": data.data[i].id
                                })
                            }
                            if(type == 1){//查询value=name
                                arr.push({
                                    "name": name,
                                    "value": name
                                })
                            }
                            
                        }
                    }
                }
            });
            return arr;
        }

        form.on('submit(searchForm)', function(data) {
            if (data.field.date) {
                data.field.startdate = data.field.date.substring(0, 10) + " 00:00:00";
                data.field.enddate = data.field.date.substring(13, data.field.date.length) + " 00:00:00";
            }
            
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key].replace(/^\s*|\s*$/g, "");
                }
            }
            tableInss.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });
        $(".refreshBtn").click(function() {
            tableInss.reload({
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
        });
        var tableInss = table.render({
            elem: '#tableContainer',
            height: 'full-' + tableTopHeight,
            url: outHistory,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    }, {
                        type: 'checkbox'
                    }, {
                        field: 'orderno',
                        title: '单号',
                        event: 'click',
                        style: 'cursor: pointer;color:#0063de;',
                        width: 200
                    }, {
                        field: 'ownername',
                        title: '仓库主'
                    }, {
                        field: 'depname',
                        title: '仓库名称'
                    }, {
                        field: 'num',
                        title: '件数（包）'
                    }, {
                        field: 'totalamount',
                        title: '订单总金额' + unitMoney,
                        width: 150,
                        templet: function(d) {
                            return formatNum(d.totalamount);
                        }
                    }, {
                        field: 'suppliername',
                        title: '供应商'
                    }, {
                        field: 'volume',
                        title: '数量（m³）',
                        width: 100
                    }, {
                        field: 'createdate',
                        title: '出库时间',
                        width: 180
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            title: "出库记录",
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        table.on('tool(tableContainer)', function(obj) {
            // console.log(obj.tr) //得到当前行元素对象
            // console.log(obj.data) //得到当前行数据
            if (obj.event === 'click') {
                $.get(outHistoryOrderno, {
                    orderno: obj.data.orderno
                }, function(data) {
                    // console.log(data);
                    if (!data.stocklist) {
                        layer.msg("数据有异常！");
                        return false;
                    }
                    data.type = "outHistory"; // 区分是出库记录还是入库记录的区别
                    location.hash = "#!stock-outBillDetails/";
                    sessionStorage.setItem('outBillDetails', JSON.stringify(data));
                })
            }
        });


        //弃出库
        $(".back-out-examine").click(function() {
            var checkStatus = table.checkStatus('tableContainer'); //表格选中状态
            if (checkStatus.data.length != 1) {
                layer.msg("请选择一条记录");
                return;
            }

            layer.confirm('是否确认把此单转为出库申请状态!', {
                skin: 'layui-layer-wei', //layui-layer-wei，维木class
                title: '提示'
            }, function(index) {
                $.ajax({
                    url: backoutexamine,
                    type: "POST",
                    data: {
                        'SESSION_NAME': getCookie('SESSION_NAME'),
                        'TOKEN': getCookie('TOKEN'),
                        'orderno': checkStatus.data[0].orderno
                    },
                    //async: false, //同步
                    traditional: true,
                    success: function(data) {
                        console.log(data);
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        if (data.status == 0) {
                            layer.msg("弃出库操作成功!");

                            tableInss.reload({
                                page: {
                                    curr: 1 // 重新从第 1 页开始
                                }
                            });
                        }
                    }
                })

            });
        });

        //删除
        $(".in-lb-del").click(function() {
            var checkStatus = table.checkStatus('tableContainer'); //表格选中状态
            if (checkStatus.data.length != 1) {
                layer.msg("请选择一条记录");
                return;
            }

            layer.confirm('是否确认删除此条信息', {
                skin: 'layui-layer-wei', //layui-layer-wei，维木class
                title: '提示'
            }, function(index) {
                $.ajax({
                    url: inlbdel,
                    type: "POST",
                    data: {
                        'SESSION_NAME': getCookie('SESSION_NAME'),
                        'TOKEN': getCookie('TOKEN'),
                        'orderno': checkStatus.data[0].orderno
                    },
                    //async: false, //同步
                    traditional: true,
                    success: function(data) {
                        console.log(data);
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        if (data.status == 0) {
                            layer.msg("删除成功");

                            tableInss.reload({
                                page: {
                                    curr: 1 // 重新从第 1 页开始
                                }
                            });
                        }
                    }
                })

            });
        });

        //导出列表货物
        $(".toBatchExport").on('click', function(e) {
            var checkStatus = table.checkStatus('tableContainer');
            var checkData = checkStatus.data;
            if(checkData.length > 0){
                const neworder = [];
                for (let index = 0; index < checkData.length; index++) {
                    const element = checkData[index];
                    neworder.push(element.orderno);
                }
                window.location.href = outbatchExport+"?orderarr="+neworder.toString();
            }else{
                layer.msg("请选择记录");
            }
        });

        //导出列表
        $(".toExport").on('click', function(e) {
            table.exportFile(tableInss.config.id, tableInss.config.data, "xls");
        });
        
    });
</script>