<div class="table-page formNewill">
    <div class="table-content-title layer-level">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item">
                    <a href="javascript:;" id="dowmTemp"><i class="iconfont icon-xiazaimuban"></i>下载模板</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" id="toImport"><i class="iconfont icon-daoru"></i>导入数据</a>
                </li>
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-dayin"></i>打印</a>
                </li> -->
                <li class="layui-nav-item">
                    <a href="javascript:;" class="addGoodsBtn"><i class="iconfont icon-tianjiahuowu"></i>添加货物信息</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="submissionLayBtn"><i class="iconfont icon-ruku"></i>入库</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="subConfirmBtn"><i class="iconfont icon-baocun"></i>保存</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="subCancelBtn"><i class="iconfont icon-quxiao"></i>取消</a>
                </li>

            </ul>
            <!-- <ul class="layui-layout-right">
                        <li><a href="javascript:;" class="deleteBtn">删除</a></li>
                    </ul> -->
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form form-newbill" action="">
                <!-- <blockquote class="layui-elem-quote">
                </blockquote> -->
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">货权人</span>
                            <select name="ownerid" xm-select="ownerSelectLayer" xm-select-radio>
                                <option value="">货权人</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库</span>
                            <select name="depotid" xm-select="depotSelectLayer" xm-select-radio>
                                <option value="">仓库</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">库位</span>
                            <select name="positionid" xm-select="positionSelectLayer" xm-select-radio>
                                <option value="">库位</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">产地</span>
                            <select name="origin" xm-select="originSelectLayer" xm-select-radio>
                                <option value="">产地</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">供应商</span>
                            <select name="supplierid" xm-select="supplierSelectLayer" xm-select-radio>
                                <option value="">供应商</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-from" lay-filter="tableContainer-from"></table>
        </div>
    </div>
</div>
<style scoped>
    .table-page-form .table-form-item.table-form-item-btn {
        width: 140px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableData = [];
        var addLayer; //添加-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏

        formSelects.data('ownerSelectLayer', 'local', {
            arr: selectDataInstall(ownerDropdown) //货权人列表
        });

        layui.formSelects.opened('depotSelectLayer', function(id) {
            var ownerid = formSelects.value('ownerSelectLayer', 'val'); //获取货权人ID
            if (ownerid.length < 1) {
                layer.msg("请先选择货权人");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果货权人为空则清空列表
            }
        });

        layui.formSelects.opened('positionSelectLayer', function(id) {
            var depotid = formSelects.value('depotSelectLayer', 'val'); //获取仓库ID
            if (depotid.length < 1) {
                layer.msg("请先选择仓库");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelectLayer', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelectLayer', 'local', {
                    arr: [] //清空仓库列表
                });
                formSelects.data('positionSelectLayer', 'local', {
                    arr: [] //清空库位列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, true);

                if (depotList.length < 1) {
                    formSelects.data('depotSelectLayer', 'local', {
                        arr: [] //清空仓库列表
                    });
                    formSelects.data('positionSelectLayer', 'local', {
                        arr: [] //清空库位列表
                    });
                    layer.msg("该货权人下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelectLayer', 'local', {
                    arr: depotList //仓库列表
                });
                formSelects.data('positionSelectLayer', 'local', {
                    arr: selectDataInstall(positionDropdown, {
                        "depotid": depotList[0].value
                    }, true) //库位列表
                });
            }
        }, true);

        //监听
        formSelects.on('depotSelectLayer', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('positionSelectLayer', 'local', {
                    arr: [] //仓库列表
                });
            } else {
                formSelects.data('positionSelectLayer', 'local', {
                    arr: selectDataInstall(positionDropdown, {
                        "depotid": vals[0].value
                    }, true) //仓库列表
                });
            }
        }, true);

        formSelects.data('originSelectLayer', 'local', {
            arr: selectDataInstall(CHDList) //产地列表
        });

        formSelects.data('supplierSelectLayer', 'local', {
            arr: selectDataInstall(dropSupplier) //供应商列表
        });

        function selectDataInstall(url, param, bool) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status == 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length == 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }

                    }
                }
            })
            return arr;
        }

        $(".addGoodsBtn").click(function(){
            $.get('view/form/form-goods.html', {}, function(str) {
                addLayer = layer.open({
                    title: '添加货物信息',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    resize: false,
                    area: ['800px', 'auto'],
                });
            });
            form.render();
            return false;
        });

        form.on('submit(addGoodsForm)', function(data) {
            tableData.push(data.field);
            $(".rightBotBtn span").html(tableData.length); //当前选中了多少商品
            tableIns.reload({
                data: tableData,
                limit: tableData.length,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            layer.close(addLayer); //关闭
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer-from',
            height: '600',
            data: tableData,
            cols: [
                [ //标题栏
                    // {
                    //     type: 'checkbox'
                    // },
                    {
                        field: 'code',
                        title: '包号',
                        sort: true
                    }, {
                        field: 'varieties',
                        title: '品种',
                        sort: true
                    }, {
                        field: 'levels',
                        title: '等级',
                        sort: true
                    }, {
                        field: 'spec',
                        title: '规格',
                        sort: true
                    }, {
                        field: 'pprice',
                        title: '采购价',
                        sort: true
                    }, {
                        field: 'num',
                        title: '数量（m³）',
                        sort: true,
                        event: "edit",
                        style: 'color:red;'
                    },
                    // {
                    //     field: 'actualnum',
                    //     title: '实际数量（m³）',
                    //     sort: true,
                    //     edit: "txt"
                    // },
                    {
                        field: 'containernum',
                        title: '货柜号',
                        sort: true
                    }, {
                        field: 'origin',
                        title: '产地',
                        sort: true
                    }, {
                        field: 'brand',
                        title: '品牌',
                        sort: true
                    }, {
                        field: 'billloading',
                        title: '提运单',
                        sort: true
                    }
                ]
            ],
            even: true,
            page: false, //是否显示分页
            limits: [tableData.length],
            limit: tableData.length, //每页默认显示的数量
            done: function(res, curr, count) {
                var addtableBtn = '<div class="rightBotBtn" id="form-rightBtn">已新增<span>' + count + '</span>个货物</div>';
                //只有点击列表入库订单时才显示入库操作
                var ordernoss = JSON.parse(sessionStorage.getItem('newbill_orderno'));
                if (ordernoss) {
                    // addtableBtn += '<a href="javascript:;" class="layui-btn layui-btn-sm submissionBtn">入库</a>';
                    $(".submissionLayBtn").show();
                }else{
                    $(".submissionLayBtn").hide();
                }


                if ($("#form-rightBtn").length < 1) {
                    $("#tableContainer-from").siblings(".layui-form ").find(".layui-table-page").append(addtableBtn);
                }

                $(".subConfirmBtn").click(function(){
                    subConfun();
                });

                $(".subCancelBtn").click(function() {
                    layer.closeAll();
                })
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        table.on('edit(tableContainer-from)', function(obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            console.log(obj.value); //得到修改后的值
            console.log(obj.field); //当前编辑的字段名
            var field = obj.field;
            if (field == 'num') {

            }
            console.log(obj.data); //所在行的所有相关数据  
        });

        var orderno = JSON.parse(sessionStorage.getItem('newbill_orderno'));

        $(".submissionLayBtn").click(function() {
            if(!orderno){
                return false;
            }
            var ids = []; //订单号
            console.log(orderno.orderno);
            ids.push(orderno.orderno);
            //审核订单为库存
            $.ajax({
                url: preEntryexamineStock,
                type: "get",
                data: {
                    'ids': ids
                },
                traditional: true,
                success: function(data) {
                    if (data.status == 0) {
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg("审核通过为库存");
                    }
                }
            })

        })

        if (orderno) {
            console.log(orderno)
            $(".layui-elem-quote").html("预入库订单号：" + orderno.orderno);
            //下拉框赋值
            formSelects.data('ownerSelectLayer', 'local', {
                arr: [{
                    "name": orderno.ownername,
                    "value": orderno.ownerid,
                    selected: "selected"
                }]
            });
            formSelects.data('depotSelectLayer', 'local', {
                arr: [{
                    "name": orderno.depname,
                    "value": orderno.depotid,
                    selected: "selected"
                }]
            });
            formSelects.data('positionSelectLayer', 'local', {
                arr: [{
                    "name": orderno.positionname,
                    "value": orderno.positionid,
                    selected: "selected"
                }]
            });
            formSelects.data('originSelectLayer', 'local', {
                arr: [{
                    "name": orderno.origin,
                    "value": orderno.origin,
                    selected: "selected"
                }]
            });
            formSelects.data('supplierSelectLayer', 'local', {
                arr: [{
                    "name": orderno.suppliername,
                    "value": orderno.supplierid,
                    selected: "selected"
                }]
            });
            //禁用下拉框
            formSelects.disabled('ownerSelectLayer');
            formSelects.disabled('depotSelectLayer');
            formSelects.disabled('positionSelectLayer');
            formSelects.disabled('originSelectLayer');
            formSelects.disabled('supplierSelectLayer');

            //如果订单号存在，则下拉该订单货物列表
            $.get(preEntrygetByOrderno, {
                orderno: orderno.orderno
            }, function(data) {

                if (data.stocklist != null) {
                    tableData = data.stocklist;
                    tableIns.reload({
                        data: tableData,
                        limit: tableData.length,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                }
            })
        }

        // table.on('edit(tableContainer-from)', function(obj) {
        //     var value = obj.value,
        //         data = obj.data,
        //         field = obj.field;
        //         console.log(value)
        //     console.log(data)
        //     layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
        // });

        table.on('tool(tableContainer-from)', function(obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'edit') {
                layer.prompt({
                    formType: 2,
                    title: '修改包号为' + data.code + '的数量',
                    value: data.num
                }, function(value, index) {
                    if (!value || isNaN(value)) {
                        layer.msg("请输入数字");
                        return false;
                    }
                    layer.msg("修改成功");
                    layer.close(index);
                    obj.update({
                        num: value
                    });
                });

            }
        });

        $(".deleteBtn").click(function() {
            var checkStatus = table.checkStatus('tableContainer-from');
            console.log(checkStatus.data)
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    icon: 3,
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.orderno);
                    });
                    //调删除接口
                    rowDataApi(preEntryDelete, {
                        "ids": rowId
                    }, function(data) {
                        // 删除所选行成功
                        layer.close(index);
                        // 刷新表格
                        tableIns.reload({
                            limit: tableData.length,
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(data.msg);
                    });
                });
            }
        });

        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            $.ajax({
                url: url,
                type: "get",
                data: data,
                traditional: true,
                success: funSuc,
                error: funErr
            })
        };

        //点击入库
        function subConfun() {
            //先判断头部4个选项是否已填
            var parent = $(".form-newbill");
            var cargoowner = parent.find("input[name='ownerid']").val();
            var depotname = parent.find("input[name='depotid']").val();
            var origin = parent.find("input[name='origin']").val();
            var supplier = parent.find("input[name='supplierid']").val();
            var positionid = parent.find("input[name='positionid']").val();

            if (null == cargoowner || cargoowner.length < 1) {
                layer.msg("请填写货权人");
                return;
            }
            if (null == depotname || depotname.length < 1) {
                layer.msg("请填写仓库名称");
                return;
            }
            if (null == origin || origin.length < 1) {
                layer.msg("请填写产地");
                return;
            }
            if (null == supplier || supplier.length < 1) {
                layer.msg("请填写供应商");
                return;
            }
            if (null == positionid || positionid.length < 1) {
                layer.msg("请填写库位");
                return;
            }


            var arr = JSON.stringify(tableData);
            console.log(arr);
            //第二步，提交到后台
            var num;
            if (!orderno) {
                num = "";
            } else {
                num = orderno.orderno;
            }

            $.ajax({
                url: preEntryAdd,
                type: "POST",
                //dataType: "json",
                //contentType: "application/json",
                async: false,
                data: {
                    lbarr: arr.toString(),
                    ownerid: cargoowner,
                    depotid: depotname,
                    origin: origin,
                    supplierid: supplier,
                    positionid: positionid,
                    orderno: num
                },
                traditional: true,
                success: function(data) {
                    console.log(data);
                    layer.msg("提交成功");
                    layer.closeAll();
                    //刷新当前列表
                },
                error: function() {}
            })
        }

        //变更下载模板链接
        $("#dowmTemp").attr("href", ilbstockImportTemp);

        //导入
        var importLayer; //导入弹窗
        $("#toImport").on('click', function(e) {
            $.get("view/form/form-import.html", {}, function(str) {
                importLayer = layer.open({
                    title: '文件上传',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    area: ['800px', 'auto'],
                });
                var uploadInst = upload.render({ //上传实例
                    elem: '#importAddBtn',
                    url: ilbstockImportUrl,
                    multiple: false,
                    accept: 'file', //普通文件
                    exts: 'xls|xlsx|xlsm|xlt|xltx|xltm', //只允许上传后缀
                    done: function(res) {
                        if (res.status == 0) {
                            layer.msg("上传成功")
                            layer.close(importLayer);
                            for (var k = 0; k < res.data.length; k++) {
                                tableData.push(res.data[k]);
                            }
                            tableIns.reload({
                                data: tableData,
                                limit: tableData.length,
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        } else {
                            layer.msg(res.msg)
                        }
                    }
                });
            })
        });

        //点击导出
        $("#toExport").on('click', function(e) {
            window.location.href = ilbstockExportUrl
        });

    });
</script>