<div id="formAddGoodsView"></div>
<script id="formTle" type="text/html">
<div class="addGoods-layer">
    <form class="layui-form" action="formAddGoods">
        <div class="layui-form-item">
            <label class="layui-form-label">包号 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="cargoowner" placeholder="货权人" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">品种 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="depotname" placeholder="仓库名称" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">规格/厚度 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="origin" placeholder="产地" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">长度 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">等级 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">品牌 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">采购单价 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">码单数量 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">货柜号/批次号 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">提运单 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="supplier" placeholder="供应商" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="editForm">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</script>
<style scoped>
    .addGoods-layer {
        width: 500px;
        margin: 20px auto 0;
    }

    .layui-form-label {
        width: 100px;
    }

    .layui-input-block {
        margin-left: 130px;
    }
</style>
<script>
    layui.use(['laytpl', 'laydate'], function() {
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        console.log(window.billBaseInfo)
        var data = window.billBaseInfo; //所选行数据
        var getTpl = formTle.innerHTML,
            view = document.getElementById('formAddGoodsView');
        laytpl(getTpl).render(data, function(html) {
            view.innerHTML = html;
        });

    });
</script>