<div id="formAddGoodsView"></div>
<script id="formTle" type="text/html">
<div class="addGoods-layer">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label form-required">包号</label>
            <div class="layui-input-block">
                <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input" lay-verify="required ">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">品种</label>
            <div class="layui-input-block">
                <!-- <input type="text" name="varieties" placeholder="品种" autocomplete="off" class="layui-input" lay-verify="required"> -->
                <select name="varieties" xm-select="selectVarieties" xm-select-radio>
                    <option value="">品种</option>
                </select>
                <input type="hidden" name="varietiesName" id="varietiesName" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">规格/厚度</label>
            <div class="layui-input-block">
                <!-- <input type="text" name="spec" placeholder="规格/厚度" autocomplete="off" class="layui-input" lay-verify="required"> -->
                <div class="table-form-item layui-input-inline">
                    <select name="spec" xm-select="selectSpec" xm-select-radio>
                        <option value="">规格</option>
                    </select>
                    <input type="hidden" name="specName" id="specName" value="">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">等级 </label>
            <div class="layui-input-block">
                <!-- <input type="text" name="levels" placeholder="等级" autocomplete="off" class="layui-input" lay-verify="required"> -->
                <select name="levels" xm-select="selectLevels" xm-select-radio>
                    <option value="">等级</option>
                </select>
                <input type="hidden" name="levelsName" id="levelsName" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">长度 </label>
            <div class="layui-input-block">
                <input type="text" name="chang" placeholder="长度" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">采购单价</label>
            <div class="layui-input-block">
                <input type="text" name="pprice" placeholder="采购单价" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数量（m³）</label>
            <div class="layui-input-block">
                <input type="text" name="num" placeholder="数量（m³）" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <!-- <div class="layui-form-item">
            <label class="layui-form-label">实际数量 <span class="layui-badge-dot"></span></label>
            <div class="layui-input-block">
                <input type="text" name="actualnum" placeholder="实际数量" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div> -->
        <div class="layui-form-item">
            <label class="layui-form-label">货柜号</label>
            <div class="layui-input-block">
                <input type="text" name="containernum" placeholder="货柜号" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">提运单</label>
            <div class="layui-input-block">
                <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">品牌</label>
            <div class="layui-input-block">
                <input type="text" name="brand" placeholder="品牌 " autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="addGoodsForm">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</script>
<style scoped>
    .addGoods-layer {
        width: 700px;
        margin: 20px auto 0;
    }

    .layui-form-pane .layui-form-label {
        width: 130px;
    }

    .layui-form-pane .layui-input-block {
        margin-left: 130px;
    }
</style>
<script>
    layui.use(['jquery','laytpl', 'laydate','formSelects'], function() {
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var $ = layui.jquery;
        var data = {}; //所选行数据
        var getTpl = formTle.innerHTML,
        view = document.getElementById('formAddGoodsView');
        var formSelects = layui.formSelects;
        laytpl(getTpl).render(data, function(html) {
            view.innerHTML = html;
        });

        formSelects.data('selectVarieties', 'local', {
            arr: selectDataInstall(VTSList) //品种列表
        });

        layui.formSelects.on('selectVarieties', function(id, vals, val, isAdd, isDisabled){
            $("#varietiesName").val(val.name);
            if(val.value == 1){
                return false;
            }
        }); 



        

        formSelects.data('selectLevels', 'local', {
            arr: selectDataInstall(levelsList) //等级列表
        });

        layui.formSelects.on('selectLevels', function(id, vals, val, isAdd, isDisabled){
            $("#levelsName").val(val.name);
            if(val.value == 1){
                return false;
            }
        }); 


        formSelects.data('selectSpec', 'local', {
            arr: selectDataInstall(specList) //规格列表
        });

        layui.formSelects.on('selectSpec', function(id, vals, val, isAdd, isDisabled){
            $("#specName").val(val.name);
            if(val.value == 1){
                return false;
            }
        }); 


       
        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //货权人列表
        });

        formSelects.data('originSelect', 'local', {
            arr: selectDataInstall(CHDList) //产地列表
        });

        function selectDataInstall(url, param) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(data) {
                    console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                    }
                }
            });
            return arr;
        }
    });
</script>