<!-- 仓库设置 新增仓库 -->
<div id="depotView"></div>
<script id="depotTle" type="text/html">
    <form class="layui-form layer-open-form" action="">
    <div class="layui-form-item layui-control-line">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addDepotForm"><i class="iconfont icon-daochu"></i>保存</button>
        </div>
    </div>
    <div class="layer-ownername-form">
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label form-required">编号</label>
            <div class="layui-input-inline">
                <input type="text" name="code" placeholder="编号" value="{{d.code || ''}}" autocomplete="off" class="layui-input" lay-verify="code">
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label form-required">所属大仓库</label>
            <div class="layui-input-inline">
                <select name="bitdepotid" xm-select="positiondropdown" xm-select-radio lay-verify="required">
                    <option value="">选择大仓库</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label form-required">仓库主</label>
            <div class="layui-input-inline">
                <select name="ownerid" xm-select="ownerSelect" xm-select-radio lay-verify="required">
                    <option value="">选择仓库主</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label form-required">仓库名称</label>
            <div class="layui-input-inline">
                <input type="text" id="store-name" name="name" placeholder="仓库名称" value="{{d.name||''}}" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label form-required">物品是否估值</label>
            <div class="layui-input-inline">
                <select name="isvip" xm-select="isvipSelect" xm-select-radio lay-verify="required">
                    <option value="">估值选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-inline">
                <textarea name="address" placeholder="地址" value="{{d.address||''}}" autocomplete="off" class="layui-textarea"></textarea>
                <!--<input type="text" name="address" placeholder="地址" value="{{d.address||''}}" autocomplete="off" class="layui-input">-->
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea name="remarks" placeholder="备注" value="{{d.remarks||''}}" autocomplete="off" class="layui-textarea"></textarea>
                <!--<input type="text" name="remarks" placeholder="备注" value="{{d.remarks||''}}" autocomplete="off" class="layui-input">-->
            </div>
        </div>
    </div>
    <div class="layer-colruyt-form">
        <div class="colruyt-title">
            <span class="search-name">大仓库：</span>
            <span class="search-key"></span>
            <span class="search-box"><input type="text" value="" placeholder="大库位名称搜索"><i class="iconfont icon-sousuo search-colruyt"></i></span>
        </div>
        <div class="table-content">
            <div class="table-content-main">
                <table class="layui-hide" id="table-layer-depotList" lay-filter="table-layer-depotList"></table>
            </div>
        </div>
    </div>
</form>
<div class="warning" style="position: absolute;bottom: 0px;left: 30px;"><i class="iconfont icon-gantanhao_icon"></i>如果修改了仓库【编号】，该仓库下新产生的订单号(仓库编号部分)也会跟随改变</div>
</script>
<style>
    .layer-colruyt-form .table-content {
        padding: 20px 0;
    }

    .colruyt-title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        overflow: hidden;
        line-height: 30px;
    }

    .colruyt-title .search-name {
        float: left;
        margin-right: 5px;
    }

    .colruyt-title .search-key {
        float: left;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .colruyt-title .search-box {
        font-size: 14px;
        color: #999;
        float: right;
        width: 160px;
        position: relative;
    }

    .colruyt-title .search-box>input[type="text"] {
        border-width: 1px;
        border-style: solid;
        background-color: #fff;
        border-radius: 2px;
        display: block;
        width: 100%;
        padding-left: 10px;
        height: 30px;
        border-color: #ddd;
        box-sizing: border-box;
        font-weight: normal;
        padding-right: 10px;
    }

    .colruyt-title .search-box>i.iconfont {
        position: absolute;
        right: 10px;
        top: 1px;
        cursor: pointer;
    }

    .layer-ownername-form {
        float: left;
        width: 300px;
    }

    .layer-colruyt-form {
        float: right;
        width: 420px;
    }

    .layer-ownername-form .layui-form-item .layui-form-label {
        width: 110px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var tableTopHeight = (parseInt($(".layui-layer-page").innerHeight()) - parseInt($(".layui-layer-title").innerHeight()) - parseInt($("#depotView").innerHeight()) - parseInt($(".layer-colruyt-form").innerHeight()) - 56); //内容区域所需减去的高度

        var dataType = JSON.parse(sessionStorage.getItem('depotCheck')) || {}; //获取本地所选仓库信息，判断是否为修改

        var bitdepotid = 0; // 刚进入弹框，设置一个默认的大仓库id
        //编码自定义验证规则
        form.verify({
            code: [/^[a-zA-Z0-9]{4}$/, '编号必须4位，字母或数字组合']
        });
        // console.log(dataType)
        // 渲染模板的内容
        var getTpl = depotTle.innerHTML,
            view = document.getElementById('depotView');
        laytpl(getTpl).render(dataType, function(html) {
            view.innerHTML = html;
        });

        formSelects.render();

        // 大仓库数据初始化
        formSelects.data('positiondropdown', 'local', {
            arr: selectDataInstall(bitdepotList)
        });

        // 仓库主数据初始化
        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown)
        });

        // 物品是否估值数据初始化
        formSelects.data('isvipSelect', 'local', {
            arr: [{
                "name": "估值",
                "value": "0"
            }, {
                "name": "不估值",
                "value": "1"
            }]
        });

        // 监听是否估值select选项选中与否
        formSelects.on('isvipSelect', function(id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            // console.log(val.value);
        }, true);

        // 监听大仓库选择与否
        formSelects.on('positiondropdown', function(id, vals, val, isAdd, isDisabled) {
            bitdepotid = val.value;
            $(".search-key").html(val.name);
            tableIns.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    bitdepotid: val.value
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }, true);

        // 库位搜索按钮点击
        $(".search-colruyt").click(function() {
            var _this = $(this);
            var sinput = _this.siblings("input");
            var value = sinput.val().trim();
            if (value === "" || value == null || value === undefined) {
                sinput.val("");
                layer.msg("请填写大库位名");
                return false;
            } else if (!bitdepotid) {
                sinput.val("");
                layer.msg("请选择大仓库");
                return false;
            } else {
                tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        name: value
                    },
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }
        });

        //下拉选框数据组装
        function selectDataInstall(url, param, bool) {
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }
                    }
                }
            });
            return arr;
        }

        var positionArr = [];
        if (dataType && dataType.position) {
            positionArr = dataType.position.split(',');
        } //库位
        console.log(positionArr);
        // 库位表格渲染
        var tableIns = table.render({
            elem: '#table-layer-depotList',
            // height: 'full-' + tableTopHeight,
            height: 390,
            url: positionList,
            where: {
                bitdepotid: bitdepotid
            },
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status != 0) res.status = 0;
                if (!res.data) {
                    //如果后台没有给data，强行声明data为数组
                    res.data = []
                }
                // 库位表格回写
                if (positionArr.length > 0) {
                    for (var i = 0; i < res.data.length; i++) {
                        for (var x = 0; x < positionArr.length; x++) {
                            if(res.data[i].id == positionArr[x]){
                                res.data[i]["LAY_CHECKED"] = 'true';
                            }
                        }
                    }
                }
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        type: 'checkbox'
                    },
                    /*{
                        field: 'code',
                        title: '库位编号',
                    }, */
                    {
                        field: 'name',
                        title: '库位名称',
                    }
                ]
            ],
            even: true,
            page: false, //是否显示分页
            limits: [10, 20, 50, 100],
            limit: 10, //每页默认显示的数量
            done: function(res, curr, count) {
                
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        // 回填数据，如果是编辑，那么回填select数据
        if (JSON.stringify(dataType) !== "{}") {
            //所属大仓库回填
            if (dataType.bitdepotid) {
                formSelects.value('positiondropdown', [dataType.bitdepotid]); // 设置大仓库选中值
                $(".search-key").html(dataType.bitname || null); // 弹框右侧大仓库名称回填
                tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        bitdepotid: dataType.bitdepotid
                    },
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }
            //仓库主回填
            dataType.ownerid && formSelects.value('ownerSelect', [dataType.ownerid]);
            //物品是否估值回填
            if (dataType.isvip === 0 || dataType.isvip === 1) {
                formSelects.value('isvipSelect', [dataType.isvip + '']);
            }
        }

    });
</script>