<div id="depotView"></div>
<script id="depotTle" type="text/html">
    <form class="layui-form layui-form-pane infodata_form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">类型标识</label>
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{{d.id || ''}}">
            <!-- <input type="text" name="code" placeholder="类型标识" value="{{d.code || ''}}"  autocomplete="off" class="layui-input"> -->
               <!--  <select name="code" xm-select="select-varieties">
                    <option value="VTS">品种</option>
                    <option value="GUG">规格</option>
                    <option value="LEL">等级</option>
                </select>-->
                <select name="instid"  lay-verify="required" placeholder="必填项,请输入类型类型" xm-select="instidSelect" xm-select-radio="" ></select>
        </div>
    </div>
    <!-- <div class="layui-form-item">
            <label class="layui-form-label">父级类型标识</label>
            <div class="layui-input-block">
                <input type="text" name="pcode" placeholder="类型标识" value="{{d.pcode || ''}}" autocomplete="off" class="layui-input">
            </div>
        </div> -->
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="名称" value="{{d.name || ''}}" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="remarks" placeholder="备注" value="{{d.remarks || ''}}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="addinfodataForm">
            <i class="layui-icon layui-icon-ok"></i> <span>提交</span>
        </button>
    </div>
</form>
</script>
<style scoped>
    .layui-form {
        width: 600px;
        margin: 10px auto;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'formSelects', 'laytpl', 'laydate'], function () {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;


        

        var dataType = JSON.parse(sessionStorage.getItem('base_infodata_data')) || {}; //判断是否为修改
        // 渲染模板的内容
        var getTpl = depotTle.innerHTML,
            view = document.getElementById('depotView');
        laytpl(getTpl).render(dataType, function (html) {
            view.innerHTML = html;
        });
        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        addinstidSel(dataType.inaAllList,dataType.instid);
        function  addinstidSel(inaAllList,instid){
            var arr=[];
            var number="";
            for(var i=0;i<inaAllList.length;i++){
                if(inaAllList[i].pid == 0){
                    var map ={};
                    map["name"] = inaAllList[i].name;
                    map["value"] = inaAllList[i].id;
                    var children =[];
                    
                    for(var j=0;j<inaAllList.length;j++){
                        if(inaAllList[i].id == inaAllList[j].pid){
                            var maptwo ={};
                            maptwo["name"] = inaAllList[j].name;
                            maptwo["value"] = inaAllList[j].id;
                            children.push(maptwo);
                            if(inaAllList[j].id == instid){
                                number =inaAllList[j].pid +"/";
                            }
                        }
                    }
                    map["children"] = children;
                    arr.push(map);
                }

            }
            console.log(arr);
            layui.formSelects.data('instidSelect', 'local', {
                arr: arr,
                linkage: true
            });
            if(number.length == 0){
                number =instid+"/";
            }else{
                number =number +instid;
            }
            layui.formSelects.value('instidSelect', [number]);
           
        }
    });
</script>