<div class="edit-layer">
    <fieldset class="layui-elem-field">
        <legend>请完善以下数据，完成最终的预入库操作</legend>
        <div class="layui-field-box">
                <div class="layui-form-item">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="importAddBtn"><i class="layui-icon"></i>点击添加需上传文件（只允许上传后缀为xls，xlsx，xlsm的文件）</button>
                </div>
        </div>
    </fieldset>
</div>
<style scoped>
    .edit-layer {
        width: 500px;
        margin: 20px auto 0;
    }

    .layui-form-label {
        width: 100px;
    }

    .layui-input-block {
        margin-left: 130px;
    }
</style>