
        
<div class="role-power">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-md6">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>权限设置</legend>
                </fieldset>
                <!-- 此扩展能递归渲染一个权限树，点击深层次节点，父级节点中没有被选中的节点会被自动选中，单独点击父节点，子节点会全部 选中/去选中 -->
                    <div class="layui-form-item">
                        <!-- <label class="layui-form-label">选择权限</label> -->
                        <div class="layui-input-block">
                               
                            <div class=" ele1" lay-filter="treeData"></div>
                        </div>
                    </div>
            </div>
            <div class="layui-col-md5 layui-col-md-offset1">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>基本信息 - 按钮权限</legend>
                    <div id="formEditView"></div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script id="formUserRole" type="text/html">
<form class="layui-form">
    <div class="layui-field-box">
            <input type="hidden" name="roleid" value="{{d.id}}"  >
            {{#  layui.each(d.butAllData, function(index, item){ }}
            <div class="layui-form-item">
                <label class="layui-form-label">{{item.bname}}</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="menuid" value="{{item.id}}" {{# if(item.checked){}} checked {{#}}}   lay-filter="clickBut"   lay-skin="switch" lay-text="开启|关闭">
                </div>
            </div>
            {{#  }); }}
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" type="submit" lay-filter="roleSubmit">保存提交</button>
                </div>
            </div>
    </div>
</form>
</script>
<script type="text/javascript">
    layui.use(['jquery', 'authtree', 'form', 'layer', 'element',  'laytpl', 'laydate',"eleTree"] , function () {
        var $ = layui.jquery;
        var authtree = layui.authtree;
        var eleTree = layui.eleTree;
        var form = layui.form;
        var laytpl = layui.laytpl;
        var layer = layui.layer;
        var dataall=window.currData;
        var getTpl = formUserRole.innerHTML,
		view = document.getElementById('formEditView');
        laytpl(getTpl).render(dataall, function(html) {
            	view.innerHTML = html;
        });
        form.render(); //重置表单渲染
        // 初始化(查询所有的菜单)
        $.ajax({
            //url: 'tree.json',
            url:menuAll,
            dataType: 'json',
            success: function (data) {
                 var roleAut= window.currData;
                 var roleData={"roleid":roleAut.id};
                 //查询角色菜单权限
                 getButAuthorityAll(roleData,function(res){
                     var allMenu = data.data;
                     var ant = {};
                     if(res.status == 0){
                        ant = res.data;
                     }
                    for(var i=0;i<allMenu.length;i++){//组装数据树
                         if(allMenu[i].pid == 0){
                            var map = {};
                            map["label"]=allMenu[i].name
                            map["value"]=allMenu[i].id;
                            
                                
                            var list =[];
                            for(var k=0;k<allMenu.length;k++){
                                if(allMenu[i].id == allMenu[k].pid){
                                    var mapTwo = {};
                                    mapTwo["label"]=allMenu[k].name
                                    mapTwo["value"]=allMenu[k].id;
                                    for(var key in ant){ //循环每个菜单
                                        if(allMenu[k].id == key){
                                            mapTwo["checked"]=true;
                                            break;
                                        }else{
                                            mapTwo["checked"]=false;
                                        }
                                    }
                                    list.push(mapTwo);
                                }
                            }
                            if(list.length > 0){
                                map["children"]=list;
                            }else{
                                for(var key in ant){ //循环每个菜单
                                    if(allMenu[i].id == key){
                                        map["checked"]=true;
                                        break;
                                    }else{
                                        map["checked"]=false;
                                    }
                                }
                            }
                            trees.push(map);
                         }
                     }
                     console.log(trees);
                     eleTree.render({
                        elem: '.ele1',
                        data: trees,
                        showCheckbox: true,
                        drag: false,
                        accordion: true
                    });


                    allButtonData(function (res){//查询所有的按钮
                        allbutData = res.data;
                    });
    
                    // allAuthority ;//所有的权限格式：[{'菜单id':[按钮id]}]
                    for(var key in ant){ //循环每个菜单
                        var map = {};
                        var butlist=ant[key];
                        map[key] = butlist;
                        allAuthority.push(map);
                    }
                    console.log(allAuthority);
                    var val = JSON.stringify(allAuthority);
                    sessionStorage.setItem('allAuthority', val);
                    
                 });

                
            }
        });

        eleTree.on("add(treeData)",function(data) {
            console.log(0);
            console.log(data);
            // 若后台修改，则重新获取后台数据，然后重载
            // eleTree.reload(".ele1", {where: {data: JSON.stringify(data.data)}})
        })
        eleTree.on("edit(treeData)",function(data) {
            console.log(1);
            console.log(data);
        })
        eleTree.on("remove(treeData)",function(data) {
            console.log(2);
            console.log(data);
        })
        eleTree.on("toggleSlide(treeData)",function(data) {//点击树
            //console.log(3);
            //console.log(data);
            var cur=data.currentData;
            //if(!cur.children){
                menuid = cur.value;
                allbutton(cur.value);
            //}
        })
        eleTree.on("checkbox(treeData)",function(data) {//选中或者取消复选框
            console.log(4);
            console.log(data);
            var cur=data.currentData;
            var isChoice = cur.checked
            //是否有子节点
            if(cur.children){
                var children =cur.children;
                for(var i=0;i<children.length;i++){
                    var child= children[i];
                    muneAut(child.value,isChoice);
                }
            }else{
                muneAut(cur.value,isChoice);
            }
            menuid = cur.value;
            allbutton(cur.value);
            
            
        });

        //根据选中以及取消菜单权限赋值menuid(菜单id)，isChoice(选中还是权限)
        function muneAut(menuids,isChoice){
            console.log("menuids:"+menuids);
            console.log("isChoice:"+isChoice);
            console.log(allAuthority);
            var number =0;//是否已经存在权限里面,0:否，1：是
            var dellist =[];//要删除的id
            for(var k=0;k<allAuthority.length;k++){
                var autData = allAuthority[k];
                for(var key in autData){ //循环每个菜单的权限
                    if(key == menuids){
                        var map ={};
                        number =1;
                        var butlist =[];
                        console.log(key+"=="+menuids);
                        console.log(key+"=="+menuids);
                        if(isChoice){
                            for(var i=0;i<allbutData.length;i++){
                                var mapTwo = allbutData[i];
                                if(mapTwo.menuid == menuids){
                                    butlist.push(mapTwo.id);
                                }
                            }
                           
                        }else{
                            dellist.push(key);
                        }
                        map[key] =butlist;
                        allAuthority[k]=map
                       
                    }
                }
            }
            if(number == 0){//原本权限里面没有权限
                var butlist =[];
                var map ={};
                if(isChoice){
                    for(var i=0;i<allbutData.length;i++){
                        var maps = allbutData[i];
                        if(maps.menuid == menuids){
                            butlist.push(maps.id);
                        }
                    }
                    map[menuids] = butlist;
                    allAuthority.push(map)
                }
               
            }
            if(dellist.length > 0){//删除数据
                for(var i=0;i<dellist.length;i++){
                    for(var k=0;k<allAuthority.length;k++){
                        var autData = allAuthority[k];
                        for(var key in autData){ //循环每个菜单的权限
                            if(key == dellist[i]){
                                allAuthority.splice(k,k+1);//删除
                            }
                        }
                    }
                }
            }
            var val = JSON.stringify(allAuthority);
            sessionStorage.setItem('allAuthority', val);
        }




        
        //查询角色权限
        function allMuneAuthority(data,success){
            $.ajax({
            //url: 'tree.json',
            url:rolegetAuthority,
            data:data,
            dataType: 'json',
            success: success
            });
        } 


        var allbutData=[];//所有的按钮
        var menuid = null;//被点击的按钮id
        var allAuthority =[];//所有的权限格式：[{'菜单id':[按钮id]}]
        var trees =[];//整个权限树

        //查询菜单下面的按钮(menuid菜单id)
        function allbutton(menuid){
            menuid = menuid;
            var butAllData = [];
            for(var i=0;i<allbutData.length;i++){
                if(allbutData[i].menuid == menuid){
                    var map = allbutData[i];
                    var check =0;//是否需要选中
                    for(var j=0;j<allAuthority.length;j++){//循环权限
                        var but = allAuthority[j];
                        for(var key in but){ //循环每个菜单的权限
                            if(key == menuid){
                                var butlist = but[key];
                                for(var k=0;k<butlist.length;k++){//循环菜单下面的按钮权限
                                    if(map.id == butlist[k]){
                                        check =1;
                                        break;
                                    }
                                }
                                break;
                            }
                            
                        } 
                    }
                    if(check ==1){
                        map["checked"] ="checked";
                    }else{
                        map["checked"] =null;
                    }
                    butAllData.push(map);
                }
            }
            dataall["butAllData"] = butAllData;
            laytpl(getTpl).render(dataall, function(html) {
                    view.innerHTML = html;
            });
            form.render(); //重置表单渲染
        }

         //查询所有的按钮
         function allButtonData(success){
            $.ajax({
            url:buttonAllList,
            dataType: 'json',
            success: success
            });
        } 

        //根据角色id查询所有的按钮权限
        function getButAuthorityAll(data,success){
            $.ajax({
            url:getAuthorityAll,
            data:data,
            dataType: 'json',
            success: success
            });
        } 
        

        


        //获取按钮权限取消和添加
        form.on('switch(clickBut)', function(data){
            var autkey=null;//菜单原本是否添加过权限
            for(var i=0;i<allAuthority.length;i++){
                var autData = allAuthority[i];
                for(var key in autData){ //循环每个菜单的权限
                    if(key == menuid){//判断是否是被点击的id
                        autkey = key;
                        var butlist = autData[key];
                        if(data.elem.checked){//开关是否开启，true或者false
                            butlist.push(data.value);
                        }else{
                            for(var h=0;h<butlist.length;h++){
                                if(butlist[h] == data.value){
                                    butlist.splice(h,h+1);//删除
                                }
                            }
                        }
                        var map={};
                        map[key] = butlist
                        allAuthority[i] =map;
                    }
                }
            }
            if(autkey == null){//原本没有添加过菜单权限
                var map ={};
                var butlist=[];
                butlist.push(data.value)
                map[menuid]=butlist;
                allAuthority.push(map);
                toptrees();
                alltrees();
            }
            var val = JSON.stringify(allAuthority);
            sessionStorage.setItem('allAuthority', val);
            console.log(data.elem); //得到checkbox原始DOM对象
            console.log(data.elem.checked); //开关是否开启，true或者false
            console.log(data.value); //开关value值，也可以通过data.elem.value得到
            console.log(data.othis); //得到美化后的DOM对象
        }); 


        //顶级菜单增加权限
        function toptrees(){
            var number =0;//顶级菜单是否原本就有数据,0是没有，1是有
            var keys = null;//顶级菜单id
            for(var i=0;i<trees.length;i++){//循环菜单
                var map = trees[i];
                if(map.children){
                    var children = map.children;
                    for(var j=0;j<children.length;j++){//二级菜单循环
                        if(children[j].value == menuid){
                            for(var k=0;k<allAuthority.length;k++){
                                var autData = allAuthority[k];
                                var s = 0;//是否有已经有权限了
                                for(var key in autData){ //循环每个菜单的权限
                                    if(key == map.value){
                                        number = 1;
                                        break;
                                    }
                                }
                            }
                            keys = map.value;
                            break;
                        }
                    }
                }
            }
            if(number == 0){
                var map ={};
                var butlist=[];
                map[keys]=butlist;
                allAuthority.push(map);
            }
        }

        //权限数据重新获取
        function alltrees(){
            for(var i=0;i<trees.length;i++){//循环菜单
                var map = trees[i];
                if(map.children){
                    var children = map.children;
                    for(var j=0;j<children.length;j++){//二级菜单循环
                        var mapTwo = children[j];
                        if(mapTwo.value == menuid){//是否是被选中的菜单
                            map["spread"] = true;
                        }
                        for(var k=0;k<allAuthority.length;k++){
                            var autData = allAuthority[k];
                            var s = 0;//是否有已经有权限了
                            for(var key in autData){ //循环每个菜单的按钮权限
                                
                                if(key == mapTwo.value){//菜单是否有权限
                                    s =1;
                                    mapTwo["checked"]=true;
                                    break;
                                }else{
                                    mapTwo["checked"]=false;
                                }
                            }
                            if(s == 1){
                                break;
                            }else{
                                mapTwo["checked"] = false;
                            }
                        }
                        children[j]=mapTwo;
                    }
                    map["children"] =children;
                }
                trees[i] = map;
            }
            eleTree.reload(".ele1", {where: {data: trees}});
        }
    });
</script>