<form class="layui-form">
        
<div class="role-power">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-md6">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>权限设置</legend>
                </fieldset>
                <!-- 此扩展能递归渲染一个权限树，点击深层次节点，父级节点中没有被选中的节点会被自动选中，单独点击父节点，子节点会全部 选中/去选中 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">选择权限</label>
                        <div class="layui-input-block">
                            <div class=" ele1" lay-filter="treeData"></div>
                        </div>
                    </div>
            </div>
            <div class="layui-col-md5 layui-col-md-offset1">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>基本信息 - 用户列表</legend>
                    <div id="formEditView"></div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script id="formUserRole" type="text/html">
    <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="zzz"  checked  lay-skin="switch" lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="zzz" lay-skin="switch" lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="zzz" lay-skin="switch" lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="zzz" lay-skin="switch" lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="zzz" lay-skin="switch" lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="zzz" lay-skin="switch" lay-text="开启|关闭">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" type="submit" lay-filter="roleSubmit">保存提交</button>
                </div>
            </div>
    </div>
</script>
<script type="text/javascript">
    layui.use(['jquery', 'authtree', 'form', 'layer', 'element',  'laytpl', 'laydate',"eleTree"] , function () {
        var $ = layui.jquery;
        var authtree = layui.authtree;
        var eleTree = layui.eleTree;
        var form = layui.form;
        var laytpl = layui.laytpl;
        var layer = layui.layer;
        var dataall=window.currData;
        var getTpl = formUserRole.innerHTML,
		view = document.getElementById('formEditView');
        laytpl(getTpl).render(dataall, function(html) {
            	view.innerHTML = html;
        });
        form.render(); //重置表单渲染
        // 初始化(查询所有的菜单)
        $.ajax({
            //url: 'tree.json',
            url:menuAll,
            dataType: 'json',
            success: function (data) {
                 var roleAut= window.currData;
                 var roleData={"roleid":roleAut.id};
                 //查询角色菜单权限
                 allMuneAuthority(roleData,function(res){
                     var allMenu = data.data;
                     var ant = [] ;
                     if(res.status == 0){
                        ant = res.data;
                     }
                     var trees =[];

                    for(var i=0;i<allMenu.length;i++){//组装数据树
                         if(allMenu[i].pid == 0){
                            var map = {};
                            map["label"]=allMenu[i].name
                            map["value"]=allMenu[i].id;
                            for(var j=0;j<ant.length;j++){
                                if(allMenu[i].id == ant[j].id){
                                    map["checked"]=true;
                                    break;
                                }
                            }
                            var list =[];
                            for(var k=0;k<allMenu.length;k++){
                                if(allMenu[i].id == allMenu[k].pid){
                                    var mapTwo = {};
                                    mapTwo["label"]=allMenu[k].name
                                    mapTwo["value"]=allMenu[k].id;
                                    for(var h=0;h<ant.length;h++){
                                        if(allMenu[i].id == ant[h].id){
                                            mapTwo["checked"]=true;
                                            break;
                                        }
                                    }
                                    list.push(mapTwo);
                                }
                            }
                            if(list.length > 0){
                                map["children"]=list;
                            }
                            trees.push(map);
                         }
                     }
                     eleTree.render({
                        elem: '.ele1',
                        data: trees,
                        showCheckbox: true,
                        drag: false,
                        accordion: true
                    });


                    allButtonData(function (res){//查询所有的按钮
                        allbutData = res.data;
                    });
                    getButAuthorityAll(roleData,function(res){//查询所有的按钮权限
                        if(res.status == 0){
                            buttonAut = res.data;
                        }
                    });
                 });

                
            }
        });

        eleTree.on("add(treeData)",function(data) {
            console.log(0);
            console.log(data);
            // 若后台修改，则重新获取后台数据，然后重载
            // eleTree.reload(".ele1", {where: {data: JSON.stringify(data.data)}})
        })
        eleTree.on("edit(treeData)",function(data) {
            console.log(1);
            console.log(data);
        })
        eleTree.on("remove(treeData)",function(data) {
            console.log(2);
            console.log(data);
        })
        eleTree.on("toggleSlide(treeData)",function(data) {
            console.log(3);
            console.log(data);
        })
        eleTree.on("checkbox(treeData)",function(data) {
            console.log(4);
            console.log(data);
        })

        
        //查询角色权限
        function allMuneAuthority(data,success){
            $.ajax({
            //url: 'tree.json',
            url:rolegetAuthority,
            data:data,
            dataType: 'json',
            success: success
            });
        } 



        // 使用 authtree.on() 不会有冒泡延迟
        authtree.on('change(lay-check-auth)', function (data) {
            console.log('监听 authtree 触发事件数据', data);
            // 获取所有节点
            var all = authtree.getAll('#LAY-auth-tree-index');
            console.log('all', all);
            // 获取所有已选中节点
            var checked = authtree.getChecked('#LAY-auth-tree-index');
            console.log('checked', checked);
            // 获取所有未选中节点
            var notchecked = authtree.getNotChecked('#LAY-auth-tree-index');
            console.log('notchecked', notchecked);
            // 获取选中的叶子节点
            var leaf = authtree.getLeaf('#LAY-auth-tree-index');
            console.log('leaf', leaf);
            // 获取最新选中
            var lastChecked = authtree.getLastChecked('#LAY-auth-tree-index');
            console.log('lastChecked', lastChecked);
            // 获取最新取消
            var lastNotChecked = authtree.getLastNotChecked('#LAY-auth-tree-index');
            console.log('lastNotChecked', lastNotChecked);

            
        });
        authtree.on('deptChange(lay-check-auth)', function (data) {
            console.log('监听到显示层数改变', data);
        });
        
        var allbutData=[];//所有的按钮
        var buttonAut=[];//按钮权限

        //查询按钮下面的按钮(menuid菜单id)
        function allbutton(menuid){
            var butAllData = [];
            for(var i=0;i<allbutData.length;i++){
                if(allbutData[i].menuid == menuid){
                    var map = allbutData[i];
                    for(var j=0;j<buttonAut.length;j++){
                        if(map.id == buttonAut[i].id){
                            map["checked"] ="checked";
                            break;
                        }
                    }
                    butAllData.push(map);
                }
            }
            dataall["butAllData"] = butAllData;
            laytpl(getTpl).render(dataall, function(html) {
                    view.innerHTML = html;
            });
        }

         //查询所有的按钮
         function allButtonData(success){
            $.ajax({
            url:buttonAllList,
            dataType: 'json',
            success: success
            });
        } 

        //根据角色id查询所有的按钮权限
        function getButAuthorityAll(data,success){
            $.ajax({
            url:getAuthorityAll,
            data:data,
            dataType: 'json',
            success: success
            });
        } 
        
    });
</script>