<div class="table-page adjuststock" id="ilbstock-adjuststock">
    <div class="table-content">
        <div class="serverContainer goodsContainer">
            <div class="table-page-header">
                <div class="table-page-form">
                    <form class="layui-form" action="">
                        <div class="form-box clearfix">
                            <div class="layui-form-item form-left">
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">仓库主</span>
                                    <select name="ownerid" xm-select="ownerSelectAdju" xm-select-radio>
                                        <option value="">仓库主</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">仓库</span>
                                    <select name="depotid" xm-select="depotSelectAdju" xm-select-radio>
                                        <option value="">仓库</option>
                                    </select>
                                </div>

                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">货物标识码</span>
                                    <input type="text" name="uuid" placeholder="货物标识码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">包号</span>
                                    <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">品种</span>
                                    <select name="varieties" xm-select="selectVarietiesAdju" xm-select-radio>
                                        <option value="">品种</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">等级</span>
                                    <select name="levels" xm-select="selectLevelsAdju" xm-select-radio>
                                        <option value="">等级</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">规格/厚度</span>
                                    <select name="spec" xm-select="selectSpecAdju" xm-select-radio>
                                        <option value="">规格</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">货柜号</span>
                                    <input type="text" name="containernum" placeholder="货柜号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">产地</span>
                                    <select name="origin" xm-select="originSelectAdju" xm-select-radio="">
                                        <option value="">产地</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">品牌</span>
                                    <input type="text" name="brand" placeholder="品牌" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">提运单</span>
                                    <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                                </div>

                            </div>
                            <div class="layui-form-item form-right">
                                <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                                    <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                                </button>
                                <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchGoodsForm">
                                    <i class="iconfont icon-sousuo"></i> <span>查询</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="table-content-main" id="goodsList">
                    <table id="tableContainer-goodsList" lay-filter="tableContainer-goodsList"></table>
                    <div class="botBtnBox">
                        <a href="javascript:;" class="addGoodsBtn subBtnAdj">∨ 添加货物</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="localContainer goodsContainer">
            <div class="containerTitle">
                <h3 class="titleTxt">货物调整单</h3>
                <div class="leftCon">
                    <a href="javascript:;" class="submissionBtn subBtnAdj"><i class="iconfont icon-baocunxinzeng"></i>保存调整单</a>
                    <a href="javascript:;" class="dayinBtn subBtnAdj"><i class="iconfont icon-dayin"></i>打印</a>
                </div>
                <div class="rightCon billNumber">单据号：<span>0</span></div>
            </div>
            <div class="table-subbox">
                <div class="table-subbox-title">
                    <span>调整前的货物：</span>
                    <a href="javascript:;" class="deleteGoods subBtnAdj">∧ 移出货物</a>
                    <div class="rightCon">调整前货物总共<span class="goodsCount2">0</span>个</div>
                </div>
                <div class="table-content-main">
                    <table id="tableContainer-2" lay-filter="tableContainer-2"></table>
                </div>
            </div>

            <div class="table-subbox">
                <div class="table-page-form rightSelect">
                    <div class="layui-form">
                        <div class="form-box clearfix">
                            <div class="layui-form-item form-left form-down-line">
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">库位</span>
                                    <select name="positionid" xm-select="positionSelectAdju" xm-select-radio>
                                        <option value="">库位</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">产地</span>
                                    <select name="origin" xm-select="originSelectAdju2" xm-select-radio>
                                        <option value="">产地</option>
                                    </select>
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">供应商</span>
                                    <select name="supplierid" xm-select="supplierSelectAdju" xm-select-radio>
                                        <option value="">供应商</option>
                                    </select>
                                    <input type="hidden" name="suppliername" value="" class="suppliernameAdju">
                                </div>
                                <div class="table-form-item rightConCount">调整后货物总共<span class="goodsCount3">0</span>个</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-subbox-title">
                    <span>调整后的货物：</span>
                    <a href="javascript:;" class="importBtnAdj subBtnAdj"><i class="iconfont icon-daoru"></i> 导入货物</a>
                    <a href="javascript:;" class="addBtnAdj subBtnAdj"><i class="iconfont icon-tianjia"></i> 新建货物</a>
                    <a href="javascript:;" class="deleBtnAdj subBtnAdj"><i class="iconfont icon-shanchu"></i> 删除货物</a>
                </div>
                <div class="table-content-main">
                    <table id="tableContainer-3" lay-filter="tableContainer-3"></table>
                </div>
            </div>
        </div>

    </div>
</div>
<style scoped>
    .billNumber {
        display: none;
    }

    .rightSelect {
        position: absolute;
        right: 0;
        top: 0
    }

    #ilbstock-adjuststock {
        padding: 5px 0;
    }

    .layer-title small {
        font-size: 14px;
    }

    .layer-title li {
        flex: 0 0 280px;
    }

    .goodsContainer {
        border: 1px solid #a0a0a0
    }

    .table-page-form {
        padding: 5px 10px 0 10px
    }

    .containerTitle {
        height: 44px;
        line-height: 44px;
        position: relative
    }

    .containerTitle h3 {
        font-size: 18px;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
    }

    .leftCon {
        position: absolute;
        left: 12px;
        top: 5px;
        height: 30px;
        line-height: 30px;
    }

    .subBtnAdj {
        display: inline-block;
        margin-right: 10px;
        color: #333;
        font-size: 14px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-weight: bold;
        line-height: 28px;
    }

    .subBtnAdj:hover {
        background: #eee
    }

    .rightCon {
        position: absolute;
        right: 12px;
        top: 0;
    }

    .containerTitle .rightCon {
        font-size: 18px;
        color: #333;
    }

    .localContainer {
        margin-top: 10px;
    }

    .botBtnBox {
        height: 40px;
        padding: 10px 0 0 156px;
    }

    .table-subbox {
        margin: 0 10px 10px;
        border: 1px solid #ccc;
        border-width: 1px 0 0 0;
        position: relative
    }

    .table-subbox-title {
        height: 50px;
        line-height: 50px;
        border: 1px solid #ccc;
        border-width: 0 1px 0 1px;
    }

    .table-subbox-title span {
        width: 136px;
        text-align: right;
        display: inline-block
    }

    .table-subbox .rightCon span {
        width: auto;
        color: #ff3c4e;
        font-weight: bold
    }

    .table-page-form .table-form-item {
        width: 255px;
    }

    .rightSelect .table-form-item .input-span {
        width: 50px;
    }

    .rightSelect.table-page-form .table-form-item {
        width: 200px;
    }

    .table-page-form .table-form-item.rightConCount {
        margin: 0;
        width: auto;
    }

    .table-page-form .table-form-item.rightConCount span {
        width: auto;
        color: #ff3c4e;
        font-weight: bold
    }

    .dayinBtn {
        display: none;
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function () {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var layer = layui.layer;
        var upload = layui.upload;

        formSelects.render('depotSelectAdju'); //下拉选项
        formSelects.render("positionSelectAdju"); //下拉选项
        formSelects.btns(['remove'], {
            show: 'name'
        });

        var tableData2 = []; //本地的货物列表2
        var tableData3 = []; //本地的货物列表3
        var tableData3Number = 0; //本地货物计数，用于赋值唯一标识
        $(".goodsCount2").html(tableData2.length);
        $(".goodsCount3").html(tableData3.length);

        var ownerid; //仓库主ID
        var depotid; //仓库ID
        var depotSelectAdjuValue; //仓库id暂存用于对比是否改变仓库

        //下拉框
        formSelects.data('ownerSelectAdju', 'local', {
            arr: selectDataInstall(ownerDropdown, null, null, 0) //仓库主列表
        });

        layui.formSelects.opened('depotSelectAdju', function (id) {
            var ownerid = formSelects.value('ownerSelectAdju', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        layui.formSelects.opened('positionSelectAdju', function (id) {
            var depotid = formSelects.value('depotSelectAdju', 'val'); //获取仓库ID
            if (depotid.length < 1) {
                layer.msg("请先选择仓库");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelectAdju', function (id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelectAdju', 'local', {
                    arr: [] //清空仓库列表
                });
                formSelects.data('positionSelectAdju', 'local', {
                    arr: [] //清空库位列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, false, 0);
                // console.log(depotList); //仓库下拉数据
                if (depotList.length < 1) {
                    formSelects.data('depotSelectAdju', 'local', {
                        arr: [] //清空仓库列表
                    });
                    formSelects.data('positionSelectAdju', 'local', {
                        arr: [] //清空库位列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelectAdju', 'local', {
                    arr: depotList //仓库列表
                });
            }
        }, true);


        //监听仓库选择
        formSelects.on('depotSelectAdju', function (id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('positionSelectAdju', 'local', {
                    arr: [] //仓库列表
                });
            } else {
                var bitdepotid = vals[0].bitdepotid;
                var positiondIds = vals[0].position;
                var arr1 = [];
                positiondIds && (arr1 = positiondIds.split(","));
                var arr = [];

                $.ajax({
                    url: positiondropdown,
                    type: "get",
                    data: bitdepotid,
                    async: false, // 同步
                    traditional: true,
                    success: function (data) {
                        if (data.status === 0) {
                            //把接口数据转换为[{"name":str,"value":number}]格式
                            if (!Array.isArray(data.data) || data.data.length === 0) {
                                // 判断arr是否为数组并保证内部有值
                                return false;
                            }
                            for (var i = 0; i < data.data.length; i++) {
                                for (var k = 0; k < arr1.length; k++) {
                                    if (data.data[i].id === parseInt(arr1[k])) {
                                        arr.push({
                                            "name": data.data[i].name,
                                            "value": data.data[i].id,
                                        });
                                    }
                                }
                            }
                        }
                    }
                });

                // 库位数据初始化
                formSelects.data('positionSelectAdju', 'local', {
                    arr
                });
                ownerid = formSelects.value('ownerSelectAdju', 'valStr');
                depotid = val.value;
                //如果仓库值改变重新获取数据
                if (val.value !== depotSelectAdjuValue) {
                    depotSelectAdjuValue = val.value;
                    tableData2 = [];

                    table2.reload({
                        data: tableData2,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                    $(".goodsCount2").html(tableData2.length);
                }
            }
        }, true);

        // 品种多选数据赋值
        formSelects.data('selectVarietiesAdju', 'local', {
            arr: selectDataInstall(VTSList, null, 0, 1) //品种列表
        });
        // 等级多选数据赋值
        formSelects.data('selectLevelsAdju', 'local', {
            arr: selectDataInstall(levelsList, null, 0, 1) //等级列表
        });
        // 规格多选数据赋值
        formSelects.data('selectSpecAdju', 'local', {
            arr: selectDataInstall(specList, null, 0, 1) //规格列表
        });
        var originArr = selectDataInstall(CHDList, null, 0, 1); //产地下拉列表
        // 产地列表
        formSelects.data('originSelectAdju', 'local', {
            arr: originArr //产地列表
        });
        formSelects.data('originSelectAdju2', 'local', {
            arr: originArr //本地货物产地列表
        });

        // 供应商列表select下拉数据后台获取
        var supplierData;
        $.ajax({
            url: dropSupplier,
            type: "get",
            async: false, //同步
            traditional: true,
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            success: function (data) {
                if (data.status === 0) {
                    supplierData = data.data;
                }
            }
        });

        if (!(supplierData instanceof Array)) {
            console.log("供应商列表为空");
        }
        // 供应商列表select下拉初始化
        formSelects.data('supplierSelectAdju', 'local', {
            arr: selectDataInstall(dropSupplier, null, false, 0) //供应商列表
        });

        // 监听供应商列表select选中与取消
        formSelects.on('supplierSelectAdju', function (id, vals, val, isAdd, isDisabled) {
            if (isAdd) {
                for (var i = 0; i < supplierData.length; i++) {
                    if (supplierData[i].id === val.value) {
                        $(".suppliernameAdju").val(supplierData[i].name);
                        break;
                    }
                }
            } else {
                $(".suppliernameAdju").val("");
            }
        });


        var adjustParam = JSON.parse(sessionStorage.getItem('adjustParam')); //获取所选择记录详情
        console.log(adjustParam);
        if (adjustParam != null) {
            $(".dayinBtn").css({ display: 'inline-block' });
            if (adjustParam.status == 1 || adjustParam.status == -1) {
                $(".submissionBtn").hide();
            }
            var parmdata = {};
            var pageData;
            var dataAipUrl = adjustagetOrderinfo; //调整单接口

            //回显
            parmdata["orderno"] = adjustParam.orderno;
            parmdata['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            parmdata['TOKEN'] = getCookie('TOKEN');

            $.ajax({
                cache: true,
                type: "get",
                url: dataAipUrl,
                data: parmdata,
                async: false,
                success: function (res) {
                    if (res.status == 0) {
                        console.log(res)
                        pageData = res;
                        tableData2 = pageData.frontarr;
                        tableData3 = pageData.afterarr;
                    }
                }
            });

            ownerid = pageData.data.ownerid; //仓库主ID
            depotid = pageData.data.depotid; //仓库ID

            formSelects.value('ownerSelectAdju', [pageData.data.ownerid]);
            formSelects.data('depotSelectAdju', 'local', {
                arr: [{
                    "name": adjustParam.depname,
                    "value": pageData.data.depotid,
                    "selected": "selected"
                }] //仓库主列表
            });

            // 库位初始化
            var bitdepotid = adjustParam.bitdepotid;
            var positiondIds = adjustParam.position;
            var arr1 = [];
            positiondIds && (arr1 = positiondIds.split(","));
            var arr = [];
            $.ajax({
                url: positiondropdown,
                type: "get",
                data: bitdepotid,
                async: false, // 同步
                traditional: true,
                success: function (data) {
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            for (var k = 0; k < arr1.length; k++) {
                                if (data.data[i].id === parseInt(arr1[k])) {
                                    arr.push({
                                        "name": data.data[i].name,
                                        "value": data.data[i].id,
                                    });
                                }
                            }
                        }
                    }
                }
            });
            console.log(arr)
            // 库位数据初始化
            formSelects.data('positionSelectAdju', 'local', {
                arr
            });
            //设置库位select下拉框赋值
            if (adjustParam.positionid) {
                formSelects.value('positionSelectAdju', [adjustParam.positionid]);
            }

            formSelects.value('originSelectAdju2', [adjustParam.origin]);
            formSelects.value('supplierSelectAdju', [adjustParam.supplierid]);

            formSelects.disabled('ownerSelectAdju'); //禁用
            formSelects.disabled('depotSelectAdju'); //禁用
            $(".billNumber").show().find("span").html(adjustParam.orderno);
            $(".goodsCount2").html(tableData2.length);
            $(".goodsCount3").html(tableData3.length);
        }

        //下拉选框数据组装
        function selectDataInstall(url, param, bool, type) {
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function (data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            if (type === 0) {
                                arr.push({
                                    "name": data.data[i].name,
                                    "value": data.data[i].id,
                                    "bitdepotid": data.data[i].bitdepotid,
                                    "position": data.data[i].position,
                                })
                            } else {
                                arr.push({
                                    "name": data.data[i].name,
                                    "value": data.data[i].name,
                                    "bitdepotid": data.data[i].bitdepotid,
                                    "position": data.data[i].position,
                                })
                            }
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }
                    }
                }
            });
            return arr;
        }

        form.on('submit(searchGoodsForm)', function (data) {
            ownerid = formSelects.value('ownerSelectAdju', 'valStr');
            depotid = formSelects.value('depotSelectAdju', 'valStr');

            if (ownerid == "" || !ownerid || depotid == "" || !depotid) {
                layer.msg("请先选择需要出货的仓库主和仓库");
                return false;
            } else {
                //搜索货物
                data.field.ownerid = ownerid;
                data.field.depotid = depotid;

                table1.reload({
                    where: data.field,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }

            return false;
        });

        //库存货物列表
        var table1 = table.render({
            elem: '#tableContainer-goodsList',
            height: '228px',
            url: ilbstockListAdjustlb,
            where: {
                "ownerid": ownerid || 0,
                "depotid": depotid || 0
            },
            parseData: function (res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data, //解析数据列表
                    "aprice": res.aprice, //解析数据列表
                    "znum": res.znum //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function (d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    }, {
                        type: 'checkbox',
                    }, {
                        field: 'uuid',
                        title: '货物标识码',
                        width: 206,
                        style: 'font-family: Consolas;font-size:16px'
                    }, {
                        field: 'code',
                        title: '包号',
                        width: 150
                    }, {
                        field: 'varieties',
                        width: 130,
                        title: '品种'
                    }, {
                        field: 'levels',
                        width: 130,
                        title: '等级'
                    }, {
                        field: 'spec',
                        width: 130,
                        title: '规格'
                    }, {
                        field: 'chang',
                        width: 130,
                        title: '长度'
                    }, {
                        field: 'num',
                        title: '数量(m³)',
                        width: 120,
                    }, {
                        field: 'containernum',
                        title: '货柜号',
                        width: 150
                    }, {
                        field: 'origin',
                        title: '产地'
                    }, {
                        field: 'brand',
                        width: 130,
                        title: '品牌'
                    }, {
                        field: 'billloading',
                        title: '提运单',
                        width: 180
                    }, {
                        field: 'remarks',
                        title: '备注',
                        width: 180
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function (res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        var table2 = table.render({
            elem: '#tableContainer-2',
            height: '340px',
            data: tableData2,
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function (d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    }, {
                        type: 'checkbox',
                    }, {
                        field: 'uuid',
                        title: '货物标识码',
                        width: 206,
                        style: 'font-family: Consolas;font-size:16px'
                    }, {
                        field: 'code',
                        title: '包号'
                    }, {
                        field: 'varieties',
                        title: '品种'
                    }, {
                        field: 'spec',
                        title: '规格'
                    }, {
                        field: 'levels',
                        title: '等级'
                    }, {
                        field: 'chang',
                        title: '长度'
                    }, {
                        field: 'pieces',
                        title: '片数',
                    }, {
                        field: 'billloading',
                        title: '提运单',
                        width: 150
                    }, {
                        field: 'origin',
                        title: '产地'
                    }, {
                        field: 'supplier',
                        title: '供应商'
                    }, {
                        field: 'num',
                        title: '数量(m³)'
                    }, {
                        field: 'aprice',
                        title: '估值金额' + unitMoney,
                        width: 130,
                        templet: function (d) {
                            return formatNum(d.aprice) || "";
                        }
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [50, 100, 150, 200, 500],
            limit: 50, //每页默认显示的数量
            done: function (res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });


        // 
        var table3 = table.render({
            elem: '#tableContainer-3',
            height: '340px',
            data: tableData3,
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function (d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    }, {
                        type: 'checkbox',
                    }, {
                        field: 'uuid',
                        title: '货物标识码',
                        width: 206,
                        style: 'font-family: Consolas;font-size:16px'
                    }, {
                        field: 'code',
                        title: '包号'
                    }, {
                        field: 'varieties',
                        title: '品种'
                    }, {
                        field: 'spec',
                        title: '规格'
                    }, {
                        field: 'levels',
                        title: '等级'
                    }, {
                        field: 'chang',
                        title: '长度'
                    }, {
                        field: 'pieces',
                        title: '片数',
                    }, {
                        field: 'billloading',
                        title: '柜号',
                        width: 150
                    }, {
                        field: 'brand',
                        width: 130,
                        title: '品牌'
                    }, {
                        field: 'num',
                        title: '数量(m³)'
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [50, 100, 150, 200, 500],
            limit: 50, //每页默认显示的数量
            done: function (res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });


        $(".submissionBtn").unbind("click").bind("click", function () {
            //保存
            var ownerid = layui.formSelects.value('ownerSelectAdju', "valStr");
            if (ownerid == "") {
                layer.msg('仓库主不能为空');
                return false;
            }

            var depotid = layui.formSelects.value('depotSelectAdju', "valStr");
            if (depotid == "") {
                layer.msg('仓库名不能为空');
                return false;
            }

            var positionid = layui.formSelects.value('positionSelectAdju', "valStr");
            var origin = layui.formSelects.value('originSelectAdju2', "valStr");
            var supplierid = layui.formSelects.value('supplierSelectAdju', "valStr");
            var supplier = $(".suppliernameAdju").val();

            var uuidlist2 = [];
            if (tableData2.length == 0) {
                layer.msg('调整前货物不能为空');
                return false;
            }
            if (tableData3.length == 0) {
                layer.msg('调整后货物不能为空');
                return false;
            }

            for (var i = 0; i < tableData2.length; i++) {
                uuidlist2.push(tableData2[i].uuid);
            }

            var preData = {
                "ownerid": ownerid,
                "depotid": depotid,
                "origin": origin,
                "supplierid": supplierid,
                "supplier": supplier,
                "positionid": positionid,
                "modifyBefore": uuidlist2.toString(), //调整前uuid数组
                "modifyAfter": JSON.stringify(tableData3)
            };

            var outBill = JSON.parse(sessionStorage.getItem('adjustParam'));
            if (outBill != null) {
                preData["orderno"] = outBill.orderno;
            }

            //增加申请单
            preData['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            preData['TOKEN'] = getCookie('TOKEN');
            $.ajax({
                cache: true,
                type: "POST",
                url: adjustadd,
                async: false,
                data: preData,
                success: function (res) {
                    if (res.status == 1) {
                        goLogin();
                    }
                    if (res.status == 0) {
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 2000
                        }, function () {
                            layer.closeAll();
                        });
                    } else {
                        layer.msg(res.msg, {
                            icon: 2,
                            time: 2000
                        });
                    }
                },
                error: function (request) {
                    layer.msg('请检查您的网络或联系网站管理员', {
                        icon: 2,
                        time: 2000
                    });
                    return false;
                }
            });
        });

        $(".addGoodsBtn").click(function () {
            //添加货物
            var checkStatus = table.checkStatus("tableContainer-goodsList");
            var checkData = checkStatus.data;
            if (checkData.length == 0) {
                return false;
            }

            if (tableData2.length > 0) {
                // 出库单已有货物
                tableData2 = tableData2.concat(checkStatus.data);
                tableData2 = tableData2.uniqueJson("id");
            } else {
                tableData2 = checkStatus.data;
            }

            tableData2 = checkData;
            table2.reload({
                data: tableData2,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            $(".goodsCount2").html(tableData2.length);
        });

        $(".deleteGoods").click(function () {
            //移除
            var checkStatus = table.checkStatus('tableContainer-2');
            var checkData = checkStatus.data;
            if (checkData.length < 1) {
                layer.msg("请选择需要移除的信息");
            } else {
                //移除已选中货物
                for (var i = 0; i < checkData.length; i++) {
                    tableData2.remove("id", checkData[i].id);
                }
                table2.reload({
                    data: tableData2,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                $(".goodsCount2").html(tableData2.length);
            }
        });

        //弹出添加货物信息窗口
        var addLayer;
        $(".addBtnAdj").click(function () {
            $.get('view/form/form-goods.html', {}, function (str) {
                addLayer = layer.open({
                    title: '添加货物信息',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    resize: false,
                    area: ['800px', '700px']
                });
            });
            form.render();
            return false;
        });

        // 保存添加货物信息
        form.on('submit(addGoodsForm)', function (data) {
            tableData3Number++; //计数增加
            data.field.localID = tableData3Number;
            tableData3.push(data.field);
            tableData3 = createNum(tableData3); //codenum

            table3.reload({
                data: tableData3,
                limit: tableData3.length,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            $(".goodsCount3").html(tableData3.length);
            layer.close(addLayer); //关闭
            return false;
        });

        //删除货物
        $(".deleBtnAdj").click(function () {
            var checkStatus = table.checkStatus('tableContainer-3');
            var checkData = checkStatus.data;
            console.log(checkData);
            if (checkData.length < 1) {
                layer.msg("请选择需要移除的信息");
            } else {
                //移除已选中货物
                for (var i = 0; i < checkData.length; i++) {
                    tableData3.remove("localID", checkData[i].localID);
                }
            }
            table3.reload({
                data: tableData3,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            $(".goodsCount3").html(tableData3.length);
        });

        //导入
        var importLayer; //导入弹窗
        $(".importBtnAdj").on('click', function (e) {
            $.get("view/form/form-import.html", {}, function (str) {
                importLayer = layer.open({
                    title: '文件上传',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    area: ['500px', '340px'],
                });
                var uploadInst = upload.render({ //上传实例
                    elem: '#importAddBtn',
                    url: ilbstockImportUrl,
                    data: {
                        'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                        'TOKEN': getCookie('TOKEN')
                    },
                    multiple: false,
                    accept: 'file', //普通文件
                    exts: 'xls|xlsx|xlsm|xlt|xltx|xltm', //只允许上传后缀
                    done: function (res) {
                        if (res.status == 1) {
                            goLogin(); // 跳转到登录页
                        }

                        if (res.status == 0) {
                            layer.msg("上传成功");
                            layer.close(importLayer);
                            for (var k = 0; k < res.data.length; k++) {
                                tableData3Number++;
                                res.data[k].localID = tableData3Number;
                                tableData3.push(res.data[k]);
                            }
                            tableData3 = createNum(tableData3); //num
                            tableData3 = objValueMake(tableData3, 'chang'); //长度去.0
                            table3.reload({
                                data: tableData3,
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                            $(".goodsCount3").html(tableData3.length);
                        } else {
                            var msgstr = "------以下行有问题------</br></br>";
                            for (var i = 0; i < res.data.length; i++) {
                                msgstr += res.data[i];
                            }
                            layer.msg(msgstr, {
                                time: 60000, //60s后自动关闭
                                btn: ['关闭'],
                                area: ["100%", "100%"]
                            });
                        }
                    }
                });
            })
        });

        $(".dayinBtn").click(function () {
            window.open(printadjust, '打印', 'height=800, width=1100, top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
        });

        /**
         * 生成num(实际数量字段)
         */
        function createNum(arr) {
            for (var i = 0; i < arr.length; i++) {
                if (arr[i].num == undefined || arr[i].num == null) {
                    arr[i].num = arr[i].codenum;
                }
            }
            return arr;
        }

        
    });
</script>