<div class="table-page">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item"><a id="toExport" href="javascript:;"><i class="iconfont icon-daochu"></i>导出数据</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class="saveNumBtn"><i class="iconfont icon-baocun"></i>保存</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class="addBtn"><i class="iconfont icon-zengjiakucun"></i>增加库存</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class="reduceBtn"><i class="iconfont icon-jianshaokucun"></i>减少库存</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class="splitBtn"><i class="iconfont icon-kucunchaifen"></i>库存拆分</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class="modifyBtn"><i class="iconfont icon-xiugaileibie"></i>修改</a></li>
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">货柜号</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">货权人</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库名称</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">仓库名称</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">包号</span>
                            <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">品种</span>
                            <select name="varieties" xm-select="selectVarieties" xm-select-radio>
                                <option value="">品种</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">规格/厚度</span>
                            <select name="spec" xm-select="selectSpec" xm-select-radio>
                                <option value="">规格/厚度</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">等级</span>
                            <select name="levels" xm-select="selectLevels" xm-select-radio>
                                <option value="">等级</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">长度</span>
                            <input type="text" name="chang" placeholder="长度" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">品牌</span>
                            <select name="brand" xm-select="brandLevels" xm-select-radio>
                                <option value="">品牌</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">产地</span>
                            <select name="origin" xm-select="originSelect" xm-select-radio>
                                <option value="">产地</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-gray"> <i class="layui-icon layui-icon-refresh"></i></button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-abnormal" lay-filter="tableContainer-abnormal"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var addLayer; //增加库存-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //货权人列表
        });

        layui.formSelects.opened('depotSelect', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取货权人ID
            if (ownerid.length < 1) {
                layer.msg("请先选择货权人");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果货权人为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, true);

                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    layer.msg("该货权人下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
            }
        }, true);

        formSelects.data('selectVarieties', 'local', {
            arr: selectDataInstall(VTSList) //品种列表
        });

        formSelects.data('selectSpec', 'local', {
            arr: selectDataInstall(specList) //规格列表
        });

        formSelects.data('selectLevels', 'local', {
            arr: selectDataInstall(levelsList) //等级列表
        });

        // formSelects.data('changLevels', 'local', {
        //     arr: selectDataInstall(ownerDropdown) //长度列表
        // });

        // formSelects.data('brandLevels', 'local', {
        //     arr: selectDataInstall(ownerDropdown) //品牌列表
        // });

        formSelects.data('originSelect', 'local', {
            arr: selectDataInstall(CHDList) //产地列表
        });

        // formSelects.data('dateSelect', 'local', {
        //     arr: selectDataInstall(ownerDropdown) //创建日期
        // });

        function selectDataInstall(url, param, bool) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status == 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length == 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }

                    }
                }
            })
            return arr;
        }

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer-abnormal',
            height: 'full-' + tableTopHeight,
            url: ilbstockList,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data, //解析数据列表
                    "aprice": res.aprice, //解析数据列表
                    "znum": res.znum //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        type: 'checkbox'
                    }, {
                        field: 'ownername',
                        title: '货权人'
                    }, {
                        field: 'depname',
                        title: '仓库名称'
                    }, {
                        field: 'code',
                        title: '包号'
                    }, {
                        field: 'varieties',
                        title: '品种'
                    }, {
                        field: 'spec',
                        title: '规格/厚度'
                    }, {
                        field: 'levels',
                        title: '等级'
                    }, {
                        field: 'chang',
                        title: '长度'
                    }, {
                        field: 'brand',
                        title: '品牌'
                    }, {
                        field: 'origin',
                        title: '产地'
                    }, {
                        field: 'num',
                        title: '数量(m³)',
                        edit: "txt",
                        style: "color:red;cursor: pointer"
                    }, {
                        field: 'origin',
                        title: '采购单价(RMB)'
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [15, 20, 30, 40, 50],
            limit: 15, //每页默认显示的数量
            done: function(res, curr, count) {
                console.log(res);
                var addtableBtn = '<div class="rightBotBtn">合计总库存数量<span>' + res.znum + '</span>㎡ 总库存估价金额：<span>' + res.aprice + '</span>(RMB)</div>';
                $(".layui-table-page").append(addtableBtn);
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        //点击增加库存
        $(".addBtn").click(function() {
            addStore();
        });

        var apriceChangeValue = {}; //单元格编辑更改评估价格数据对象

        //监听编辑
        table.on('edit(tableContainer-abnormal)', function(obj) {
            // console.log(obj.value); //得到修改后的值
            // console.log(obj.field); //当前编辑的字段名
            // console.log(obj.data); //所在行的所有相关数据
            if (!obj.value || isNaN(obj.value)) {
                layer.msg("数量只能为数字");
            }
            apriceChangeValue[obj.data.id] = obj.value;
            console.log(apriceChangeValue);
        });

        $(".saveNumBtn").click(function() {
            var status = true;
            console.log(apriceChangeValue)
            //保存评估价
            if ($.isEmptyObject(apriceChangeValue)) {
                layer.msg("数量未作修改");
            } else {
                for (var key in apriceChangeValue) {
                    if (isNaN(apriceChangeValue[key]) || apriceChangeValue[key] == "") {
                        layer.msg("保存数量修改失败，只能为数字");
                        status = false;
                    }
                }
                if (status) {
                    status = editAprice(apriceChangeValue, tableIns); //提交评估单价
                    if (status) {
                        apriceChangeValue = {}; //如果提交成功清空估价数组
                        tableIns.reload({
                            page: {
                                curr: 1 // 重新从第 1 页开始
                            }
                        });
                    } else {
                        layer.msg("提交估价失败，请检查网络"); //估价提交失败提示
                    }
                } else {
                    return false;
                }
            }
        });
        //保持提交  修改异常调整数据
        function editAprice(apriceJson, tableObj) {
            //请求数据源示例
            var status = false;
            $.ajax({
                url: ilbstockSaveAbnor,
                type: "POST",
                async: false,
                data: {
                    lbarr: JSON.stringify(apriceJson)
                },
                // traditional: true,
                success: function(res) {
                    if (res.status == 0) {
                        layer.msg(res.msg);
                        status = true;
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
            return status;
        };

        function addStore() {
            $.get('view/ilbstock/ilbstock-layerAbnormal.html', {}, function(str) { // 请求弹框

                addLayer = layer.open({
                    title: '异常调整-增加库存',
                    type: 1,
                    content: str, // 注意，如果str是object，那么需要字符拼接。
                    area: ['80%', '80%'],
                });

                var tableInsAssess = table.render({
                    elem: '#tableContainer-layerAbnormal',
                    height: '472', // full -- 高度将始终铺满 - 差值
                    url: ilbstockList,

                    parseData: function(res) { //res 即为原始返回的数据
                        return {
                            "code": res.status, //解析接口状态
                            "msg": res.message, //解析提示文本
                            "count": res.count, //解析数据长度
                            "data": res.data, //解析数据列表
                        }
                    },
                    cols: [
                        [ // 标题栏
                            {
                                type: 'checkbox'
                            }, {
                                field: 'orderno',
                                title: '单号'
                            }, {
                                field: 'name',
                                title: '货权人'
                            }, {
                                field: 'depotid',
                                title: '仓库名称'
                            }, {
                                field: 'billloading',
                                title: '提运单'
                            }, {
                                field: '',
                                title: '库存件数(包)'
                            }, {
                                field: '',
                                title: '实际件数(包)'
                            }, {
                                field: 'num',
                                title: '库存数量(m³)'
                            }, {
                                field: 'actualnum',
                                title: '实际数量(m³)'
                            }, {
                                field: 'createdate',
                                title: '创建日期'
                            }, {
                                field: '',
                                title: '操作员'
                            }, {
                                field: '',
                                title: '状态'
                            }
                        ]
                    ],
                    page: true,
                    limit: 10,
                    limits: [10, 20, 30, 40, 50],
                    even: true, // 开启隔行背景
                    done: function(res, curr, count) { // 数据渲染完的回调
                        // var addtableBtn = '<div class="rightBotBtn">已选择<span>' + 20 + '</span>个商品<span><button class="layui-btn" lay-submit="" type="submit" lay-filter="keepSubmit">确认添加</button></div>';
                        // $(".layui-table-page").append(addtableBtn);
                    },
                    text: { // 自定义文本，如空数据时的异常提示等
                        none: "无匹配数据"
                    }
                });
            });
        }
    });
</script>