<div class="table-page">
    <div class="table-content-title layer-level">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-tianjia"></i>从库存添加货物</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-bianji"></i>编辑</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-shanchu"></i>删除</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-shanchu"></i>确认添加</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-layerAbnormal" lay-filter="tableContainer-layerAbnormal"></table>
        </div>
        <div class="rightBotBtn">已选择<span>0</span>个商品</div>
    </div>
</div>
<style>
    .rightBotBtn {
        float: right;
    }

    .rightBotBtn button {
        margin: 0 20px;
    }
</style>