<div class="table-page">
    <div class="table-content">
        <div class="table-content-title">
            <div class="table-tools">
                <ul class="layui-nav" lay-filter="talbe-tools">
                    <li class="layui-nav-item">
                        <a href="javascript:;">从库存添加货物</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">编辑</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">删除</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-layerAbnormal" lay-filter="tableContainer-layerAbnormal"></table>
        </div>
        <div class="rightBotBtn">已选择<span>20</span>个商品<span><button class="layui-btn" lay-submit="" type="submit" lay-filter="keepSubmit">确认添加</button></div>
    </div>
</div>
<style>
    .rightBotBtn{
        float: right;
    }
    .rightBotBtn button{
        margin: 0 20px;
    }
</style>