<!--点击 盘点记录 进入页面-->
<div class="table-page">
    <!--<div class="table-content-title layer-level">
        <div class="table-tools layerInventoryTools">
            <ul class="layui-nav" lay-filter="talbe-tools">
    
            </ul>
        </div>
    </div>-->
    <div class="table-page-header">
        <div class="table-page-form table-page-info">
            <div class="store-bread-crumb" id="details-title">
                <div class="store-bread-item">
                    <span>仓库主：</span>
                    <span class='owner-name'></span>
                </div>
                <div class="store-bread-item">
                    <span>仓库名称：</span>
                    <span class='dep-name'></span>
                </div>
                <div class="store-bread-item">
                    <span>盘点时间：</span>
                    <span class='create-date'></span>
                </div>
                <div class="store-bread-item">
                    <span>盘点人：</span>
                    <span class='user-name'></span>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="table-page-header layer-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box layerInventory">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">仓库主：</span>
                             <select name="ownerid" xm-select="ownerSelectLayer" xm-select-radio lay-verify="required">
                                <option value="">仓库主</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span form-required">仓库名称：</span>
                             <select name="depotid" xm-select="depotSelectLayer" xm-select-radio lay-verify="required">
                                <option value="">仓库名称</option>
                            </select>
                        </div>
                    </div>
                     <div class="layui-form-item form-right">
                        <button class="layui-btn layui-btn-md layui-btn-gray" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                        </button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm-layer">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>-->
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-layerInventory" lay-filter="tableContainer-layerInventory"></table>
        </div>
    </div>
</div>
<style scoped>
    .table-content{
        padding-bottom: 30px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;

        var tableLayerHeight = (parseInt($(".layui-layer-page").innerHeight()) - parseInt($(".layui-layer-title").innerHeight()) - parseInt($(".table-page-header").innerHeight()) - 30); //内容区域所需减去的高度

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项

        var depotData = {
            ownerid: 0,
            depotid: 0
        };
        var echoData = JSON.parse(sessionStorage.getItem('inventoryParam'));

        if (echoData) {
            // $(".layerInventory").hide();
            // if (echoData.status == 1) {
            //     $(".layerInventoryTools").hide();
            // }
            $(".owner-name").html(echoData.ownername);
            $(".dep-name").html(echoData.depname);
            $(".create-date").html(echoData.createdate);
            $(".user-name").html(echoData.username);

            depotData.ownerid = echoData.ownerid;
            depotData.depotid = echoData.depotid;
            depotData.cid = echoData.id;
        }

        form.on('submit(searchForm-layer)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key]
                }
            }
            depotData.ownerid = data.field.ownerid;
            depotData.depotid = data.field.depotid;

            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        formSelects.data('ownerSelectLayer', 'local', {
            arr: selectDataInstall(ownerDropdown) //仓库主列表
        });

        layui.formSelects.opened('depotSelectLayer', function(id) {
            var ownerid = formSelects.value('ownerSelectLayer', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelectLayer', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelectLayer', 'local', {
                    arr: [] //清空仓库列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, false);

                if (depotList.length < 1) {
                    formSelects.data('depotSelectLayer', 'local', {
                        arr: [] //清空仓库列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelectLayer', 'local', {
                    arr: depotList //仓库列表
                });
            }
        }, true);

        function selectDataInstall(url, param, bool) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }
                    }
                }
            });
            return arr;
        }
        var apiurl;
        switch(echoData.status){
            case 0:
            apiurl = checklbList;
            break;
            case 1:
            apiurl = getByidList;
            break;
        }

        var tableIns = table.render({
            elem: '#tableContainer-layerInventory',
            height: tableLayerHeight,
            url: apiurl,
            where: depotData,
            parseData: function(res) { //res 即为原始返回的数据
                //if (res.status !== 0) res.status = 0;
                console.log(this);
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    }, {
                        field: 'num',
                        title: '盘点前数量（m³）',
                        width:150
                    }, {
                        field: 'num1',
                        title: '盘点后数量（m³）',
                        style: "cursor: pointer",
                        width:150,
                        templet: function(d) {
                            var num = d.num;
                            var num1= d.num1;
                            if(num !== num1){
                                return "<span style='color:red'>"+num1+"</span>";
                            }else{
                                return num1;
                            }
                        }
                    },
                    //  {
                    //     field: 'null',
                    //     title: '盘盈盘亏',
                    //     style: "color:red;cursor: pointer",
                    //     width:90,
                    //     templet: function(d) {
                    //         var num = d.num;
                    //         var num1= d.num1;
                    //         var v = num1 - num;
                    //         if(v > 0){
                    //             return "<span style='color:#00FF7F'>"+v+"</span>";
                    //         }else{
                    //             return "<span style='color:red'>"+v+"</span>";
                    //         }
                            
                    //     }
                    // },
                    {
                        field: 'uuid',
                        title: '货物标识码',
                        width: 170,
                    }, {
                        field: 'code',
                        title: '包号'
                    }, {
                        field: 'varieties',
                        title: '品种'
                    }, {
                        field: 'spec',
                        title: '规格/厚度'
                    }, {
                        field: 'levels',
                        title: '等级'
                    }, {
                        field: 'chang',
                        title: '长度'
                    }, {
                        field: 'brand',
                        title: '品牌'
                    }, {
                        field: 'origin',
                        title: '产地'
                    }, {
                        field: 'pprice',
                        title: '采购单价'
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            // limits: [data.length],
            // limit: data.length, //每页默认显示的数量
            done: function(res, curr, count) {},
            loading: true
        });

        var numChangeValue = {}; //单元格编辑更改评估价格数据对象
        //监听编辑
        table.on('edit(tableContainer-layerInventory)', function(obj) {
            if (!obj.value || isNaN(obj.value)) {
                layer.msg("数量只能为数字");
            }
            numChangeValue[obj.data.id] = obj.value;
            console.log(numChangeValue);
        });

        $(".saveBtn").click(function() {
            submitOrSave(depotData, numChangeValue, checkAdd)
        });

        $(".confirmBtn").click(function() {
            submitOrSave(depotData, numChangeValue, endInventory)
        });

        function submitOrSave(dataObj, valueArr, url) {
            if (!dataObj.ownerid || !dataObj.depotid) {
                layer.msg('请选择仓库主和仓库并查询后再进行异常操作');
                return false;
            }

            var status = true;
            for (var key in numChangeValue) {
                if (isNaN(numChangeValue[key]) || numChangeValue[key] === "") {
                    layer.msg("保存数量修改失败，只能为数字");
                    status = false;
                }
            }
            var tableDataArr = table.cache["tableContainer-layerInventory"];
            console.log(tableDataArr);

            if (status) {
                status = editAprice(dataObj, tableDataArr, url);
                if (status) {
                    numChangeValue = {};
                    layer.closeAll();
                }
            } else {
                return false;
            }
        }

        //保持提交  修改异常调整数据
        function editAprice(depotData, apriceJson, url) {
            //请求数据源示例
            console.log(depotData);
            var status = false;
            $.ajax({
                url: url,
                type: "POST",
                async: false,
                data: {
                    id: depotData.id,
                    ownerid: depotData.ownerid,
                    depotid: depotData.depotid,
                    lbarr: JSON.stringify(apriceJson)
                },
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                // traditional: true,
                success: function(res) {
                    if (res.status === 1) {
                        window.location.href = loginPageUrl;
                    }
                    if (res.status === 0) {
                        status = true;
                    }
                    layer.msg(res.msg);
                }
            });
            return status;
        }
    });
</script>