<div class="table-page" id="ilbstock-info">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="toExport"><i class="iconfont icon-daochu"></i> 导出数据</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="refreshBtn"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-dayin"></i> 打印</a>
                </li> -->
            </ul>
            <!-- <ul class="layui-layout-right">
                <li><a href="javascript:;" class="editBtn">编辑</a></li>
            </ul> -->
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left">
                        <!-- <div class="table-form-item layui-input-inline">
                            <span class="input-span">订单号</span>
                            <input type="text" name="orderno" placeholder="订单号" autocomplete="off" class="layui-input">
                        </div> -->
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">货物标识码</span>
                            <input type="text" name="uuid" placeholder="货物标识码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">包号</span>
                            <input type="text" name="code" placeholder="包号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">品种</span>
                            <select name="varieties" xm-select="selectVarieties" xm-select-radio>
                                <option value="">品种</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">等级</span>
                            <select name="levels" xm-select="selectLevels" xm-select-radio>
                                <option value="">等级</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">规格/厚度</span>
                            <select name="spec" xm-select="selectSpec" xm-select-radio>
                                <option value="">规格</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">货柜号</span>
                            <input type="text" name="containernum" placeholder="货柜号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">产地</span>
                            <select name="origin" xm-select="originSelect" xm-select-radio="">
                                <option value="">产地</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">品牌</span>
                            <input type="text" name="brand" placeholder="品牌" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">提运单</span>
                            <input type="text" name="billloading" placeholder="提运单" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库主</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">仓库主</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">仓库</option>
                            </select>
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">评估状态</span>
                            <select name="isaprice" xm-select="" xm-select-radio>
                                <option value="">评估状态</option>
                                <option value="2">已评估</option>
                                <option value="1">未评估</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                            <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                        </button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer" lay-filter="tableContainer"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var menuKey = "a_8"; //当前页面key
        var domObj = $("#ilbstock-info .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限
        element.render('talbe-tools'); //表格工具栏

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render();//重新渲染所有的已存在多选框

        //自定义多选框btn
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });
        // 品种多选数据赋值
        formSelects.data('selectVarieties', 'local', {
            arr: selectDataInstall(VTSList, null, 1) //品种列表
        });
        // 等级多选数据赋值
        formSelects.data('selectLevels', 'local', {
            arr: selectDataInstall(levelsList, null, 1) //等级列表
        });
        // 规格多选数据赋值
        formSelects.data('selectSpec', 'local', {
            arr: selectDataInstall(specList, null, 1) //规格列表
        });
        // 仓库主多选数据赋值
        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown, null, 0) //仓库主列表
        });

        // 选择仓库时判断是否选中了仓库主，opened：打开下拉框的回调事件
        layui.formSelects.opened('depotSelect', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取仓库主ID
            if (ownerid.length < 1) {
                layer.msg("请先选择仓库主");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果仓库主为空则清空列表
            }
        });

        // 监听select的选中与取消
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            //如果return false, 那么将取消本次操作
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, false);
                // 判断仓库主名下是否有仓库
                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    layer.msg("该仓库主下无仓库信息");
                    return false;
                }
                // 如果仓库主名下有仓库，渲染仓库select
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
            }
        }, true);

        formSelects.data('originSelect', 'local', {
            arr: selectDataInstall(CHDList, null, 1) //产地列表
        });

        // 获取select数据函数
        function selectDataInstall(url, param, bool) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    // console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length === 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            var name = "";
                            if (data.data[i].name) {
                                name = data.data[i].name;
                            } else {
                                name = data.data[i].username;
                            }
                            arr.push({
                                "name": name,
                                "value": data.data[i].id
                            })
                        }
                    }
                }
            });
            return arr;
        }

        // 表单搜索按钮点击
        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableIns.reload({
                where: paramSearch, //设定异步数据接口的额外参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        // 刷新按钮
        $(".refreshBtn").click(function() {
            tableIns.reload({
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
        });

        // table表格渲染
        var tableIns = table.render({
            elem: '#tableContainer',
            height: 'full-' + tableTopHeight,
            url: ilbstockList,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data, //解析数据列表
                    "aprice": res.aprice, //解析数据列表
                    "znum": res.znum //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    }, {
                        type: 'checkbox',
                    }, {
                        field: 'uuid',
                        title: '货物标识码',
                        width: 206,
                        style: 'font-family: Consolas;font-size:16px'
                    }, {
                        field: 'code',
                        title: '包号',
                        width: 100,
                    }, {
                        field: 'aprice',
                        title: '评估状态（RMB）',
                        templet: function(d) {
                            if (d.aprice <= 0 || null == d.aprice) {
                                return '<span style="color:#0063de;">待评估</span>';
                            }
                            return d.aprice;
                        },
                        width: 138,
                    }, {
                        field: 'varieties',
                        title: '品种',
                        width: 100,
                    }, {
                        field: 'levels',
                        title: '等级',
                        width: 100,
                    }, {
                        field: 'spec',
                        title: '规格',
                        width: 100,
                    }, {
                        field: 'chang',
                        title: '长度',
                        width: 100,
                    }, {
                        field: 'num',
                        title: '数量（m³）',
                        width: 120,
                    }, {
                        field: 'containernum',
                        title: '货柜号',
                        width: 150,
                    }, {
                        field: 'origin',
                        title: '产地',
                        width: 150,
                    }, {
                        field: 'brand',
                        title: '品牌',
                        width: 100,
                    }, {
                        field: 'billloading',
                        title: '提运单',
                        width: 140,
                    }, {
                        field: 'depname',
                        title: '仓库',
                        width: 150,
                    }, {
                        field: 'positionname',
                        title: '库位',
                        width: 150,
                    }, {
                        field: 'createdate',
                        title: '入库时间',
                        width: 170,
                    }, {
                        field: 'ownername',
                        title: '仓库主',
                        width: 100,
                    }, {
                        field: 'remarks',
                        title: '备注',
                        width: 160,
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [500, 1000, 2000, 5000],
            limit: 500, //每页默认显示的数量
            done: function(res, curr, count) {
                var addtableBtn = '<div class="rightBotBtn" id="rightBox">合计总库存数量<span>' + res.znum + '</span>㎡ 总库存估价金额：<span>' + formatNum(res.aprice) + '</span>(RMB)</div>';
                if ($("#rightBox").length < 1) {
                    $(".layui-table-page").append(addtableBtn);
                }
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        //点击导出
        $(".toExport").on('click', function(e) {
            window.location.href = ilbstockExportUrl
        });

    });
</script>