<div class="table-page">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="creatUser" id="creatRole"><i class="iconfont icon-tianjia"></i>添加菜单</a>
                </li>
                <!--<li class="layui-nav-item item-more">
                    <a href="javascript:;">数据导入导出</a>
                    <dl class="layui-nav-child">
                        <dd><a id="dowmTemp" href="javascript:;">下载模板</a></dd>
                        <dd><a id="toImport" href="javascript:;">导入数据</a></dd>
                        <dd><a id="toExport" href="javascript:;">导出数据</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">打印</a>
                </li> -->
                <li class="layui-nav-item">
                    <a href="javascript:;" class="editBtn"><i class="iconfont icon-bianji"></i>编辑</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="deleteBtn"><i class="iconfont icon-shanchu"></i>删除</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">菜单名称</span>
                            <input type="text" name="rolename" placeholder="菜单名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                        <!--<button type="reset" class="layui-btn layui-btn-primary"> <i class="layui-icon layui-icon-refresh"></i></button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainerMenu" lay-filter="tableContainerMenu"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 93); //内容区域所需减去的高度

        var eaitLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });


        var tableIns = table.render({
            elem: '#tableContainerMenu',
            height: 'full-' + tableTopHeight,
            url: menuList,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 50,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    },
                    {
                        type: 'checkbox'
                    },
                    {
                        field: 'code',
                        title: '菜单KEY',
                        event: 'click',
                        sort: true
                    }, {
                        field: 'name',
                        title: '菜单名称',
                        event: 'click',
                        sort: true
                    }, {
                        field: 'icon',
                        title: '菜单图标',
                        sort: true
                    }, {
                        field: 'sort',
                        title: '排序',
                        sort: true
                    }, {
                        field: 'url',
                        title: '地址',
                        sort: true
                    }, {
                        field: 'level',
                        title: '菜单层级',
                        sort: true
                    }, {
                        field: 'createdate',
                        title: '创建时间',
                        sort: true
                    }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [10, 20, 30, 40, 50],
            limit: 10, //每页默认显示的数量
            done: function(res, curr, count) {
                var addtableBtn = '<div class="rightBotBtn">已经选择<span>0</span>个数据</div>';
                $(".layui-table-page").append(addtableBtn);
            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        //监听锁定操作
        table.on('checkbox(tableContainerMenu)', function(obj) {
            var checkStatus = table.checkStatus('tableContainerMenu'); //表格选中状态
            $(".rightBotBtn span").html(checkStatus.data.length); //当前选中了多少条数据
        });

        //编辑
        $(".editBtn").click(function() {
            var checkStatus = table.checkStatus('tableContainerMenu');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要编辑的信息");
            } else if (checkStatus.data.length > 1) {
                layer.msg("请选择需要编辑的单条信息");
            } else {
                var currData = checkStatus.data[0];
                console.log(currData.menulist);
                $.ajax({
                    url: menuAll,
                    type: "get",
                    cache: true,
                    async: false,
                    success: function(res) {
                        if (res.status === 0) {
                            currData["menulist"] = res.data; //全局对象存储数据;
                            window.currData = currData;
                        } else if (res.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                    },
                    error: function(msg) {
                        layer.msg('提交失败');
                        return false;
                    }
                });
                $.get('view/menu/menu-add.html', {}, function(str) {
                    eaitLayer = layer.open({
                        title: '编辑',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['800px', '560px'],
                    });
                });
            }
        });


        $(".deleteBtn").click(function() {
            //删除
            var checkStatus = table.checkStatus('tableContainerMenu');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    icon: 3,
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.id);
                    });
                    //调用删除接口
                    $.ajax({
                        url: menuDel,
                        type: "post",
                        data: {
                            "ids": rowId
                        },
                        traditional: true,
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success: function(res) {
                            if (res.status === 0) {
                                // 删除所选行成功
                                layer.close(index);
                                // 刷新表格
                                tableIns.reload({
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                                layer.msg(res.msg);
                            } else if (res.status === 1) {
                                window.location.href = loginPageUrl;
                            }
                        }
                    });
                });
            }
        });

        //弹出添加角色
        $("#creatRole").click(function() {
            var checkStatus = table.checkStatus('tableContainerMenu');
            var currData = {};
            console.log(currData.menulist);
            $.ajax({
                cache: true,
                type: "get",
                url: menuAll,
                async: false,
                error: function(request) {
                    layer.msg('提交失败');
                    return false;
                },
                success: function(data) {
                    currData["menulist"] = data.data; //全局对象存储数据;
                    window.currData = currData;
                }
            });
            $.get('view/menu/menu-add.html', {}, function(str) {
                eaitLayer = layer.open({
                    title: '添加菜单',
                    type: 1,
                    content: str,
                    resize: false,
                    area: ['800px', '60%'],
                });
            });
        });

        //添加角色表单提交
        form.on('submit(addSubmit)', function(data) {
            var userData = window.currData;
            var title = "";
            var userUrl = "";
            if (userData != null && userData.id) {
                title = '确认提交修改';
                userUrl = menuUpdate;
            } else {
                title = '确认添加';
                userUrl = menuAdd;
            }
            layer.confirm(title, {
                icon: 3,
                title: '提示'
            }, function(index) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: userUrl,
                    data: data.field,
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    error: function(request) {
                        layer.msg('提交失败');
                        return false;
                    },
                    success: function(data) {
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        layer.close(eaitLayer);
                        layer.msg('提交成功');
                        // 刷新表格
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    }
                });
            });
            return false;
        });

        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            $.ajax({
                url: url,
                type: "post",
                data: data,
                traditional: true,
                success: funSuc,
                error: funErr
            })
        }
        //变更下载模板链接
        $("#dowmTemp").attr("href", ilbstockImportTemp);

        //点击导出
        $("#toExport").on('click', function(e) {
            window.location.href = ilbstockExportUrl
        });

        table.on('tool(tableContainerMenu)', function(obj) {
            //监听单元格点击事件
            var data = obj.data;
            if (obj.event === 'click') {
                location.hash = "#!button-list/";
                sessionStorage.setItem('buttonData', JSON.stringify(data));
            }
        });
    });
</script>