<div id="formEditView"></div>


<script id="formUser" type="text/html">
<div class="useradd layui-form">

    <form>
		<div class="layui-form-item">
            <label class="layui-form-label">父菜单</label>
            <div class="layui-input-block">
                <select name="pid" lay-verify="required">
					 	<option {{# if(d.pid && d.pid == 0){}} selected {{# }}} value="0">主菜单</option>
					{{#  layui.each(d.menulist, function(index, item){ }}
						 <option {{# if(d.pid && d.pid == item.id ){}} selected {{# }}} value="{{item.id}}">{{ item.name }}</option>
					{{#  }); }}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" lay-verify="required" placeholder="必填项,请输入用户名" class="layui-input"  value="{{# if(d.name){}} {{d.name}} {{# }}}">
				<input type="hidden" id="id" name="id"   value="{{# if(d.id){}} {{d.id}} {{# }}}">
            </div>

        </div>
		
		<div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" id="url" name="url" placeholder="选填" value="{{# if(d.url){}} {{d.url}} {{# }}}" class="layui-input">
            </div>
        </div>
		
		
		<div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" id="sort" name="sort" placeholder="选填" value="{{# if(d.sort){}} {{d.sort}} {{# }}}" class="layui-input">
            </div>
        </div>
		
		

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" type="submit" lay-filter="addSubmit">保存提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>
</script>

<style scoped>
    .useradd {
        padding-right: 30px;
        padding-top: 30px;
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var  data= window.currData;
		if(data!=null && data.id){//不是空就是编辑
			var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			laytpl(getTpl).render(data, function(html) {
            	view.innerHTML = html;
        	});
		}else{
			var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			laytpl(getTpl).render(data, function(html) {
				view.innerHTML = html;
			});
		}
		
        form.render(); //重置表单渲染

        //日期时间选择器
        laydate.render({
            elem: '#birthday',
            type: 'datetime',
            max: 0,
            change: function(val) {
                console.log(val);
            }
        });


    });
</script>