<div class="home-content">
    <div class="count">
        <div class="count-item" data-color="green">
            <div class="count-item-body" id="weekInCount">0</div>
            <div class="count-item-top">
                <span class="top-l">本周入库量统计</span>
                <span class="top-r">单位：m³</span>
            </div>
        </div>
        <div class="count-item" data-color="blue">
            <div class="count-item-body" id="weekOutCount">0</div>
            <div class="count-item-top">
                <span class="top-l">本周出库量统计</span>
                <span class="top-r">单位：m³</span>
            </div>
        </div>
        <div class="count-item" data-color="orange">
            <div class="count-item-body" id="weekStockCount">0</div>
            <div class="count-item-top">
                <span class="top-l">库存总数</span>
                <span class="top-r">单位：m³</span>
            </div>
        </div>
        <div class="count-form-item">
            <div class="form-item-lf"><i class="iconfont icon-chuhuoshenqing1"></i></div>
            <div class="form-item-rt">
                <span class="top" id="shipForm">310</span>
                <span class="bot">出货申请（单）</span>
            </div>
        </div>
        <div class="count-form-item">
            <div class="form-item-lf"><i class="iconfont icon-shouyeruku"></i></div>
            <div class="form-item-rt">
                <span class="top" id="receiptForm">128</span>
                <span class="bot">预入库（单）</span>
            </div>
        </div>
    </div>

    <div class="flow-path-out">
        <div class="flow-path">
            <div class="w">
                <div class="title">系统操作流程图</div>
                <div class="path-arrow">
                    <dl class="dl-1">
                        <dt><i class="iconfont icon-shouyeruku"></i></dt>
                        <dd>新建仓库</dd>
                    </dl>
                    <dl class="dl-2">
                        <dt><i class="iconfont icon-bianji"></i></dt>
                        <dd>完善基础数据</dd>
                    </dl>
                    <dl class="dl-2">
                        <dt><i class="iconfont icon-bianji"></i></dt>
                        <dd>完善基础数据</dd>
                    </dl>
                    <dl class="dl-3">
                        <dt><i class="iconfont icon-yuruku"></i></dt>
                        <dd>预入库</dd>
                    </dl>
                    <dl class="dl-4">
                        <dt><i class="iconfont icon-shouyeruku"></i></dt>
                        <dd>入库</dd>
                    </dl>
                    <dl class="dl-5">
                        <dt><i class="iconfont icon-cangkuguanli"></i></dt>
                        <dd>库存</dd>
                    </dl>
                    <dl class="dl-6">
                        <dt><i class="iconfont icon-pinggu"></i></dt>
                        <dd>货品估值</dd>
                    </dl>
                    <dl class="dl-7">
                        <dt><i class="iconfont icon-chuhuoshenqing"></i></dt>
                        <dd>出货申请</dd>
                    </dl>
                    <dl class="dl-8">
                        <dt><i class="iconfont icon-shouyechuhuo"></i></dt>
                        <dd>出货</dd>
                    </dl>
                    <dl class="dl-9">
                        <dt><i class="iconfont icon-fengkongguanli"></i></dt>
                        <dd>风控审核</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;
        var contentHeight = parseInt($(".layui-body").innerHeight() - $(".content-header").innerHeight() - 42);
        $(".home-content").innerHeight(contentHeight);

//本周入库统计立方
        $.get(
            weekInCount,
            {},
            function (src) {
                if (src.status === 0) {
                    console.log(src.data)
                    $("#weekInCount").html(src.data);
                }
            }
        );

        //本周出库统计立方
        $.get(
            weekOutCount,
            {},
            function (src) {
                if (src.status === 0) {
                    $("#weekOutCount").html(src.data);
                }
            }
        );

        //本周库存统计立方
        $.get(
            weekStockCount,
            {},
            function (src) {
                if (src.status === 0) {
                    $("#weekStockCount").html(src.data);
                }
            }
        );
    });
</script>