<div class="table-page" id="base-infodata">
    <div class="trr-container">
        <div class="tree-box">
            <!--<div class="tree-header">
                <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-sm layui-btn-primary" id="addins">
                        <i class="layui-icon">&#xe654;</i>
                    </button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" id="updins">
                        <i class="layui-icon">&#xe642;</i>
                    </button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" id="delins">
                        <i class="layui-icon">&#xe640;</i>
                    </button>
                </div>
            </div>-->
            <ul id="commonTree3" class="dtree" data-id="0"></ul>
        </div>
        <div class="table-content lay-table-content">
            <div class="table-content-title">
                <div class="table-tools">
                    <ul class="layui-nav" lay-filter="talbe-tools">
                        <!-- <li class="layui-nav-item">
                            <a id="toAdd" href="javascript:;"><i class="iconfont icon-tianjia"></i>添加</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" class="updateBtn"><i class="iconfont icon-bianji"></i>修改</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" class="deleteBtn"><i class="iconfont icon-shanchu"></i>删除</a>
                        </li> -->
                        <!-- <li class="layui-nav-item">
                            <a href="javascript:;" class="toImport"><i class="iconfont icon-daochu"></i>导入</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="table-page-header">
                <div class="table-page-form">
                    <form class="layui-form" action="">
                        <div class="form-box">
                            <div class="layui-form-item form-left">
                                <div class="table-form-item layui-input-inline">
                                    <span class="input-span">名称</span>
                                    <input type="text" name="name" placeholder="名称" autocomplete="off" class="layui-input">
                                </div>
                                <input type="hidden" name="instid" id="instid" value="" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-item form-right">
                                <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                                    <i class="iconfont icon-sousuo"></i> <span>查询</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-content-main">
                <table class="layui-hide lay-table" id="tableContainer_baseinfo" lay-filter="tableContainer_baseinfo"></table>
            </div>
        </div>
    </div>
</div>
<style scode>
    .lay-table-content {
        padding: 0;
    }

    .table-content-main {
        padding-right: 30px;
        padding-left: 30px;
    }

    .form-right {
        position: absolute;
        left: 250px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'tree', 'eleTree', 'upload', 'dtree'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var eleTree = layui.eleTree;
        var dtree = layui.dtree;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 63); //内容区域所需减去的高度

        var menuKey = "a_18"; //当前页面key
        var domObj = $("#base-infodata .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限
        var tableOptionArr = getTableOption(menuKey);//表格列

        var eaitLayer; //编辑-弹层
        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key].replace(/^\s*|\s*$/g, "");
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer_baseinfo',
            height: 'full-' + tableTopHeight,
            url: basicsInfoList,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
            tableOptionArr["tableContainer_baseinfo"]
                // [
                //     {
                //         type: 'checkbox'
                //     }, {
                //         field: 'name',
                //         title: '名称',
                //         sort:true
                //     }, {
                //         field: 'instname',
                //         title: '所属目录',
                //     }, {
                //         field: 'remarks',
                //         title: '备注',
                //         sort:true
                //     }
                // ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            title: "货物设置",
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        // 点击添加货物
        $(".toAdd").click(function() {
            var data = {};
            data["instid"] = menuIns.id;
            data["inaAllList"] = inaAllList;
            sessionStorage.setItem('base_infodata_data', JSON.stringify(data));
            $.get('view/form/form-infodata.html', {}, function(str) {
                addLayer = layer.open({
                    title: '添加货物',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    area: ['800px', '560px'],
                });
            });
            return false;
        });

        // 点击修改货物
        $(".updateBtn").click(function() {
            var checkStatus = table.checkStatus('tableContainer_baseinfo');
            if (checkStatus.data.length !== 1) {
                layer.msg("请选择一条需要修改的信息");
            } else {
                $.get('view/form/form-infodata.html', {}, function(str) {
                    var data = checkStatus.data[0];
                    // data["instid"] = menuIns.id;
                    data["instid"] = checkStatus.data[0].instid;
                    data["inaAllList"] = inaAllList;
                    sessionStorage.setItem('base_infodata_data', JSON.stringify(data));
                    addLayer = layer.open({
                        title: '添加货物信息',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['800px', '560px'],
                    });
                });
                return false;
            }
        });

        //修改货物表单提交
        form.on('submit(addinfodataForm)', function(data) {
            // data.field.orderno = window.currData.orderno; //防止单号被篡改
            // data.field.origin = window.currData.origin; //
            // data.field.supplier = window.currData.supplier; //
            /// var fromdata = $(".infodata_form").serialize();
            //var fromdataarr = $(".infodata_form").serializeArray();
            var isNameAdd = false; // 判断添加是否同名标识
            var isNameEdit = false; // 判断修改是否同名标识
            var isName = true; // 是否重名标识

            var id = data.field.id;
            var url;
            var tableData = JSON.parse(sessionStorage.getItem("base_infodata_data"));
            if (undefined === id || '' === id) {
                url = basicsInfoAdd; // 如果没有id，那么是添加
                isNameAdd = true;
            } else {
                url = basicsInfoUpdate; // 否则为修改
                isNameEdit = !!(tableData.name !== data.field.name);
            }
            var instid = data.field.instid.split("/");
            var ints = instid[instid.length - 1];
            if (ints === "") {
                ints = instid[0];
            }
            data.field.instid = ints;
            // 判供货物是否重复
            if (isNameAdd || isNameEdit) {
                $.ajax({
                    cache: true,
                    type: "get",
                    url: isname_info,
                    data: {
                        instid: data.field.instid,
                        name: data.field.name,
                        'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                        'TOKEN': getCookie('TOKEN'),
                    },
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success: function(data) {
                        if (data.status === 2) {
                            layer.msg('货物已存在');
                            isName = false;
                        }
                    }
                });
                if (!isName) {
                    return false;
                }
            }
            data.field['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            data.field['TOKEN'] = getCookie('TOKEN');
            // 添加
            $.ajax({
                url: url,
                type: "POST",
                data: data.field,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                error:function(d){
                    layer.msg('请选择类型标识');
                    return false;
                },
                success: function(res) {
                    if (res.status === 0) {
                        sessionStorage.removeItem('base_infodata_data');
                        layer.close(addLayer); //关闭
                        // 刷新表格
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    } else if (res.status === 1) {
                        goLogin(); // 跳转到登录页
                    }
                }
            });
            return false;
        });

        //删除货物
        $(".deleteBtn").click(function() {
            var checkStatus = table.checkStatus('tableContainer_baseinfo');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    skin: 'layui-layer-wei', //layui-layer-wei，维木class
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        //rowId.push(parseInt(v.id));
                        rowId[rowId.length] = v.id;
                    });
                    //调删除接口
                    $.ajax({
                        url: basicsInfoDelete,
                        type: "post",
                        data: {
                            "idsstr": rowId.toLocaleString(),
                            'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                            'TOKEN': getCookie('TOKEN'),
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success: function(res) {
                            if (res.status === 0) {
                                // 删除所选行成功
                                layer.close(index);
                                // 刷新表格
                                tableIns.reload({
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                                layer.msg(res.msg);
                            } else if (res.status === 1) {
                                goLogin(); // 跳转到登录页
                            }
                        }
                    });
                });
            }
        });

        //点击表格行
        table.on('row(tableContainer_baseinfo)', function(obj) {
            // console.log(obj.tr) //得到当前行元素对象
            // console.log(obj.data) //得到当前行数据
            // $.get(outHistoryOrderno,{orderno:obj.data.orderno},function(data){
            //     // console.log(data);
            //     data.type = "outHistory";
            //     location.hash = "#!stock-billDetails/";
            //     sessionStorage.setItem('billDetails', JSON.stringify(data));
            // })
        });


        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            data['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
            data['TOKEN'] = getCookie('TOKEN');
            $.ajax({
                url: url,
                type: "get",
                data: data,
                traditional: true,
                success: funSuc,
                error: funErr
            })
        }

        var insList = []; //货物类型顶级目录
        var inaAllList = []; //货物类型所有的数据
        var menuIns = {}; //货物类型被点击的数据

        //菜单树
        function listIns() {
            var treeData = [];
            var data = {
                "utype": 3,
                'SESSION_USER_CODE': getCookie('SESSION_USER_CODE'),
                'TOKEN': getCookie('TOKEN'),
            }; //1是仓库主类型
            $.ajax({
                type: "get",
                url: listInstitution,
                data: data,
                cache: false,
                async: false,
                success: function(res) {
                    console.log(res);
                    var insData = res.data;
                    inaAllList = res.data;
                    for (var i = 0; i < insData.length; i++) {
                        //生成樹形一級菜單
                        if (insData[i].pid == 0) {
                            (function() {
                                var item = {};
                                item["id"] = insData[i].id;
                                item["title"] = insData[i].name;
                                item["basicData"] = {
                                    "pid": insData[i].pid
                                };
                                item["isLast"] = true;
                                item["parentId"] = 0;
                                item["level"] = 1;
                                treeData.push(item);
                            })();
                        }
                    }

                    // insList = treeData;
                    for (var x = 0; x < treeData.length; x++) {
                        insList[x] = {};
                        insList[x].id = treeData[x].id
                        insList[x].name = treeData[x].title
                        insList[x].pid = treeData[x].basicData.pid
                    }


                    for (var k = 0; k < treeData.length; k++) {
                        //循环生成二级菜单
                        for (var i = 0; i < insData.length; i++) {
                            if (treeData[k].id == insData[i].pid) {
                                if (!Array.isArray(treeData[k]["children"])) {
                                    treeData[k]["children"] = [];
                                    treeData[k]["isLast"] = false;
                                };
                                (function() {
                                    var item = {};
                                    item["id"] = insData[i].id;
                                    item["title"] = insData[i].name;
                                    item["isLast"] = true;
                                    item["parentId"] = treeData[k].id;
                                    item["basicData"] = {
                                        "pid": insData[i].pid
                                    };
                                    // item["basicData"].push({
                                    //     "pid": insData[i].pid
                                    // });
                                    item["level"] = 2;
                                    treeData[k]["children"].push(item);
                                })()
                            }
                        }
                    }
                    for (var s = 0; s < treeData.length; s++) {
                        if (treeData[s].children && treeData[s].children.length > 0) {
                            firstId = treeData[s].children[0].id;
                            break;
                        }
                    }
                    /*dtree.render({
                        elem: "#commonTree3",
                        data: treeData,
                        icon: "2",
                        checkbar: true
                    });*/
                    dtree.render({
                        elem: "#commonTree3",
                        data: treeData,
                        firstIconArray: {"2":{"open":"iconfont icon-jian","close":"iconfont icon-jia"}}, // 自定扩展的一级非最后一级图标，从2开始
                        ficon: "2", // 使用
                        nodeIconArray:{"1":{"open":"iconfont icon-yijileibie","close":"iconfont icon-yijileibie"}},  // 自定扩展的二级非最后一级图标，从1开始
                        icon: ["1","-1"], // 使用
                        checkbar: true // 不启用复选框
                    });
                }
            })
        }
        listIns();

        dtree.on("node('commonTree3')", function(param) {
            // 树形点击
            resTable(param)
        });

        // 点击菜单，根据菜单刷新表格
        function resTable(data) {
            // 刷新表格
            // console.log(data)
            menuIns.id = data.nodeId;
            menuIns.name = data.context;
            menuIns.pid = JSON.parse(data.basicData).pid;
            // console.log(menuIns)
            $("#instid").val(menuIns.id); //隐藏域保存点击的菜单id
            tableIns.reload({
                where: {
                    "instid": menuIns.id
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }

        //添加货物类型
        $("#addins").click(function() {
            var data = {};
            data["insList"] = insList;
            data["utype"] = 3;
            window.currData = data;
            $.get('view/user/institution-add.html', {}, function(str) {
                eaitLayer = layer.open({
                    title: '添加货物类型',
                    type: 1,
                    content: str,
                    resize: false,
                    area: ['800px', '560px'],
                });
            });
        });

        //修改货物类型
        $("#updins").click(function() {
            var data = menuIns;
            data["insList"] = insList;
            data["utype"] = 3;
            window.currData = data; //全局对象存储当前选中行数据
            $.get('view/user/institution-add.html', {}, function(str) {
                eaitLayer = layer.open({
                    title: '修改货物类型',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    resize: false,
                    area: ['800px', '560px'],
                });
            });
        });

        //删除货物类型
        $("#delins").click(function() {

            if (!menuIns.id) {
                layer.msg('请选择一条数据');
                return;
            }

            var ids = [];
            ids.push(menuIns.id);
            var data = {
                "ids": ids.toString()
            };

            layer.confirm("是否删除类型", {
                skin: 'layui-layer-wei', //layui-layer-wei，维木class
                title: '提示'
            }, function(index) {
                data['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                data['TOKEN'] = getCookie('TOKEN');
                $.ajax({
                    cache: true,
                    type: "post",
                    url: delInstitution,
                    data: data,
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    error: function(msg) {
                        layer.msg('提交失败');
                        return false;
                    },
                    success: function(res) {
                        if (res.status === 0) {
                            layer.close(eaitLayer);
                            layer.msg('提交成功');
                            listIns();
                        } else if (res.status === 1) {
                            goLogin(); // 跳转到登录页
                        }
                    }
                });
            });
            return false;
        });

        // 货物类型添加修改表单提交
        form.on('submit(addInsSubmit)', function(data) {
            var title = "";
            var url = "";
            //编辑提交
            if (data.field.id != null && data.field.id !== "") {
                title = '确认提交修改';
                url = updInstitution;
            } else {
                title = '确认添加';
                url = addInstitution;
                data.field.id = null;
            }
            layer.confirm(title, {
                skin: 'layui-layer-wei', //layui-layer-wei，维木class
                title: '提示'
            }, function(index) {
                data.field['SESSION_USER_CODE'] = getCookie('SESSION_USER_CODE');
                data.field['TOKEN'] = getCookie('TOKEN');
                $.ajax({
                    cache: true,
                    type: "post",
                    url: url,
                    data: data.field,
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    error: function(request) {
                        layer.msg('提交失败');
                        return false;
                    },
                    success: function(res) {
                        if (res.status === 0) {
                            layer.close(eaitLayer);
                            layer.msg('提交成功');
                            listIns();
                        } else if (res.status === 1) {
                            goLogin(); // 跳转到登录页
                        }
                    }
                });
            });
            return false;
        });

        //点击导出
        $(".toExport").on('click', function(e) {
            table.exportFile(tableIns.config.id, tableIns.config.data,"xls");
        });
    });
</script>