<!--编写模板-->
<script id="formUser" type="text/html">
    <form class="layui-form layer-open-form" action="">
        <div class="layui-form-item layui-control-line">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="addSubmit"><i class="iconfont icon-baocun"></i>保存</button>
                <button class="layui-btn addKeep" lay-submit lay-filter="addKeepSubmit"><i class="iconfont icon-baocun"></i>保存新增</button>
                <!--<button class="layui-btn layui-btn-primary" type="reset"><i class="iconfont icon-zhongzhi"></i>重置</button>-->
            </div>
        </div>
        {{# if(d.userOWnerInfo.isOwner == 1){}}
        <input type="hidden" name="ownerid" value="{{d.userOWnerInfo.ownerid}}">
        {{# }else{ }}
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label form-required">用户类型</label>
            <div class="layui-input-inline">
                <select name="ownerid" lay-verify="required" xm-select="instidSelect" placeholder="必填项,请输入用户类型" xm-select-radio="" ></select>
            </div>
        </div>
        {{#}}}
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label form-required">角色名称</label>
            <div class="layui-input-inline">
                <input type="text" id="rolename" name="rolename" lay-verify="required" placeholder="请输入用户名" class="layui-input"  value="{{# if(d.rolename){}}{{d.rolename}}{{# }}}">
                <input type="hidden" id="id" name="id"  value="{{# if(d.id){}}{{d.id}}{{# }}}">
            </div>
        </div>
        <!-- <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label">等级</label>
            <div class="layui-input-inline">
                <input type="text" id="level" name="level" placeholder="选填" value="{{# if(d.level){}} {{d.level}} {{# }}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-normal-line">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" id="sort" name="sort" placeholder="选填" value="{{# if(d.sort){}} {{d.sort}} {{# }}}" class="layui-input">
            </div>
        </div> -->
    </form>
</script>

<!--建立视图，用于呈现渲染结果。-->
<div id="formEditView"></div>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'laytpl', 'laydate'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var data = window.currData;
        data.userOWnerInfo = JSON.parse(sessionStorage.getItem("roleInfo"));
        // layui.laytpl模板引擎 -- 渲染模版
        var getTpl = formUser.innerHTML,
            view = document.getElementById('formEditView');
        if (data != null) { // 不是空就是编辑角色
            laytpl(getTpl).render(data, function(html) {
                view.innerHTML = html;
            });
            $("#formEditView .addKeep").hide(); // 隐藏保存添加按钮
        } else { // 添加角色
            var dataOff = {};
            laytpl(getTpl).render(dataOff, function(html) {
                view.innerHTML = html;
            });
        }
        form.render(); //重置表单渲染 -- 更新全部

        addinstidSel(data.inaAllList, data.ownerid);

        function addinstidSel(inaAllList, ownerid) {
            console.log(inaAllList)
            console.log(ownerid)
            var arr = [];
            var number = "";
            for (var i = 0; i < inaAllList.length; i++) {
                // if(inaAllList[i].pid === 0){
                var map = {};
                map["name"] = inaAllList[i].name;
                map["value"] = inaAllList[i].id;
                var children = [];
                for (var j = 0; j < inaAllList.length; j++) {
                    if (inaAllList[i].id === inaAllList[j].pid) {
                        var maptwo = {};
                        maptwo["name"] = inaAllList[j].name;
                        maptwo["value"] = inaAllList[j].id;
                        children.push(maptwo);
                        if (inaAllList[j].id === ownerid) {
                            number = inaAllList[j].pid + "/";
                        }
                    }
                }
                map["children"] = children;
                arr.push(map);
            }
            layui.formSelects.data('instidSelect', 'local', {
                arr: arr,
                linkage: true
            });
            if (number.length === 0) {
                number = instid + "/";
            } else {
                number = number + instid;
            }
            layui.formSelects.value('instidSelect', [number]);
        }
    });
</script>