<div id="formEditView"></div>


<script id="formUser" type="text/html">
<div class="useradd layui-form">

    <form>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="instid"  lay-verify="required" placeholder="必填项,请输入用户类型" xm-select="instidSelect" xm-select-radio="" ></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" lay-verify="required" placeholder="必填项,请输入名称" class="layui-input"  value="{{d.name||""}}">
                <input type="hidden" id="id" name="id" value="{{d.id||""}}">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">员工</label>
            <div class="layui-input-block">
                <!-- <input type="text" id="personid" name="personid" placeholder="选填" value="{{d.personid||""}}" class="layui-input"> -->
                <select name="personid" xm-select="personSelect" xm-select-radio>
                        <option value="">选择货权人</option>
                    </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">货权人</label>
            <div class="layui-input-block">
                <!-- <input type="text" id="ownerid" name="ownerid" placeholder="选填" value="{{d.ownerid||""}}" class="layui-input"> -->
                <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                        <option value="">选择货权人</option>
                    </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" id="phone" name="phone" placeholder="选填" value="{{d.phone||""}}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="text" id="remarks" name="remarks" placeholder="选填" value="{{d.remarks||""}}" class="layui-input">
                </div>
            </div>
		
        
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" type="submit" lay-filter="addSubmit">保存提交</button>
            </div>
        </div>
    </form>

</div>
</script>

<style scoped>
    .useradd {
        padding-right: 30px;
        padding-top: 30px;
    }
</style>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'laytpl', 'laydate','formSelects'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;
        var  data= window.currData;
        var formSelects = layui.formSelects;
		if(data!=null && data.id){//不是空就是编辑
			var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			laytpl(getTpl).render(data, function(html) {
            	view.innerHTML = html;
        	});
		}else{
			var getTpl = formUser.innerHTML,
			view = document.getElementById('formEditView');
			var dataOff=data;
			laytpl(getTpl).render(dataOff, function(html) {
				view.innerHTML = html;
			});
		}
		
        form.render(); //重置表单渲染

        //日期时间选择器
        laydate.render({
            elem: '#birthday',
            type: 'datetime',
            max: 0,
            change: function(val) {
                console.log(val);
            }
        });

        addinstidSel(data.inaAllList,data.instid);
        function  addinstidSel(inaAllList,instid){
            var arr=[];
            var number="";
            for(var i=0;i<inaAllList.length;i++){
                if(inaAllList[i].pid == 0){
                    var map ={};
                    map["name"] = inaAllList[i].name;
                    map["value"] = inaAllList[i].id;
                    var children =[];
                    
                    for(var j=0;j<inaAllList.length;j++){
                        if(inaAllList[i].id == inaAllList[j].pid){
                            var maptwo ={};
                            maptwo["name"] = inaAllList[j].name;
                            maptwo["value"] = inaAllList[j].id;
                            children.push(maptwo);
                            if(inaAllList[j].id == instid){
                                number =inaAllList[j].pid +"/";
                            }
                        }
                    }
                    map["children"] = children;
                    arr.push(map);
                }

            }
            console.log(arr);
            layui.formSelects.data('instidSelect', 'local', {
                arr: arr,
                linkage: true
            });
            if(number.length == 0){
                number =instid+"/";
            }else{
                number =number +instid;
            }
            console.log(number);
            layui.formSelects.value('instidSelect', [number]);
        }

        formSelects.data('personSelect', 'local', {
            arr: selectDataInstall(userdropdown) //员工列表
        });
        
        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //货权人列表
        });

        function selectDataInstall(url, param) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    console.log(data);
                    if (data.status == 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length == 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            var name = "";
                            if(data.data[i].name){
                                name = data.data[i].name;
                            }else{
                                name = data.data[i].username;
                            }
                            arr.push({
                                "name": name,
                                "value": data.data[i].id
                            })
                        }
                    }
                }
            })
            return arr;
        }

    });
</script>