<div class="layerModifyWarnView"></div>
<script id="templateWarn" type="text/html">
<form class="layui-form layer-open-form" action="">
    <div class="layui-form-item layui-control-line">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo"><i class="iconfont icon-baocun"></i>保存</button>
            <button class="layui-btn layui-btn-primary" type="reset"><i class="iconfont icon-zhongzhi"></i>重置</button>
        </div>
    </div>
    <div class="layui-form-item layui-normal-line">
        <label class="layui-form-label">仓库主</label>
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{{d.id || ''}}">
            <div class="area-disable" data-name="name">{{d.name || ""}}</div>
        </div>
    </div>
    <div class="layui-form-item layui-normal-line">
        <label class="layui-form-label">融资金额</label>
        <div class="layui-input-inline">
            <input type="text" name="financingmoney" value="{{d.financingmoney || ''}}" placeholder="请输入融资金额" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">元</div>
    </div>
    <div class="layui-form-item layui-normal-line">
        <label class="layui-form-label">警戒线金额</label>
        <div class="layui-input-inline">
            <input type="text" name="cordonmoney" value="{{d.cordonmoney || ''}}" placeholder="请输入警戒线金额" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">元</div>
    </div>
    <div class="layui-form-item layui-normal-line">
        <label class="layui-form-label">比例</label>
        <div class="layui-input-inline">
            <div class="area-disable" data-name="proportion"></div>
        </div>
    </div>
</form>
</script>
<style scoped>
    .area-disable {
        line-height: 30px;
    }
</style>