<div class="table-page" id="risk-shipWarn">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a id="toExport" href="javascript:;"><i class="iconfont icon-daochu"></i>导出</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-dayin"></i>打印</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-bianji"></i>修改</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="refreshBtn"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库主</span>
                            <!-- <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">仓库主</option>
                            </select> -->
                            <input type="text" name="name" placeholder="请输入仓库主" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                            <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                        </button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer" lay-filter="tableContainer"></table>
        </div>
    </div>
</div>
<style scode>
    .form-right{
        position: absolute;
        left: 250px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 93); //内容区域所需减去的高度

        var menuKey = "a_23"; //当前页面key
        var domObj = $("#risk-shipWarn .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限

        var modifyLayer; // 出货警戒线修改- 弹层

        form.render(); // 重置表单渲染

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                // 参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key]
                }
            }
            // 表格重新加载
            tableIns.reload({
                where: paramSearch, // 接口参数
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
            return false;
        });
        $(".refreshBtn").click(function() {
            tableIns.reload({
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
        });
        var tableIns = table.render({
            elem: '#tableContainer',
            height: 'full-' + tableTopHeight, // full
            url: outCordonList, // 数据接口
            // 任意数据格式解析成 table 组件规定的数据格式
            parseData: function(res) { // res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, // 解析接口状态
                    "msg": res.message, // 解析提示文本
                    "count": res.count, // 解析数据长度
                    "data": res.data // 解析数据列表
                }
            },
            // 用于对分页请求的参数：page、limit重新设定名称
            request: {
                pageName: 'offset', // 页码的参数名称，默认：page
                limitName: 'limit' // 每页数据量的参数名，默认：limit
            },
            cols: [
                [ // 标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    }, {
                        field: 'name',
                        title: '仓库主',
                        event: 'click',
                        style: 'color:#0063de;cursor: pointer;',
                        width: 266
                    }, {
                        field: 'stockmoney',
                        title: '现有库存金额' + unitMoney,
                        width: 266,
                        templet: function(d) {
                            //默认无
                            if (d.stockmoney == null || d.stockmoney == 0) {
                                return '<span style="color:red;">---</span>';
                            }
                            return formatNum(d.stockmoney);
                        }
                    }, {
                        field: 'financingmoney',
                        title: '融资金额' + unitMoney,
                        width: 266,
                        templet: function(d) {
                            //默认无
                            if (d.financingmoney == null || d.financingmoney === 0) {
                                return '<span style="color:red;">---</span>';
                            }
                            return formatNum(d.financingmoney);
                        }

                    }, {
                        field: 'cordonmoney',
                        title: '警戒线金额' + unitMoney,
                        width: 266,
                        templet: function(d) {
                            //默认无
                            if (d.cordonmoney == null || d.cordonmoney === 0) {
                                return '<span style="color:red;">---</span>';
                            }
                            return formatNum(d.cordonmoney);
                        }
                    }, {
                        field: 'ratio',
                        title: '比例',
                        templet: function(d) {
                            var financingmoney = d.financingmoney;
                            var cordonmoney = d.cordonmoney;
                            //默认无
                            if (financingmoney == null || financingmoney == 0 || cordonmoney == null || cordonmoney == 0) {
                                return '<span style="color:red;">---</span>';
                            }
                            var ratio = (cordonmoney / financingmoney) * 100;
                            return ratio.toFixed(2) + '%';
                        }
                    }
                ]
            ],
            even: true, // 开启隔行背景
            page: true, // 是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) { // 数据渲染完的回调

            },
            text: { // 自定义文本，如空数据时的异常提示等
                none: "无匹配数据"
            },
            loading: true // 是否显示加载条，默认true
        });


        // 监听仓库主点击事件
        table.on('tool(tableContainer)', function(obj) {
            var curData = obj.data;
            if (obj.event === 'click') {
                // sessionStorage.setItem('layerModifyWarn', JSON.stringify(curData));    
                $.get('view/risk/risk-layerModifyWarn.html', {}, function(str) {
                    modifyLayer = layer.open({
                        title: '出货警戒线修改',
                        type: 1,
                        content: str, // 注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['800px', '560px'],
                    });
                    // 弹框 - 模板渲染
                    var getTpl = templateWarn.innerHTML,
                        view = $(".layerModifyWarnView")[0];

                    laytpl(getTpl).render(curData, function(html) {
                        view.innerHTML = html;
                    });
                    $('div[data-name="proportion"]').html(compute($("input[name='cordonmoney']").val(), $("input[name='financingmoney']").val()));

                    form.on('submit(formDemo)', function(data) {
                        data.field.stockmoney=curData.stockmoney;
                        data.field['SESSION_NAME']= getCookie('SESSION_NAME');
                        data.field['TOKEN']= getCookie('TOKEN');
                        $.ajax({
                            cache: true,
                            type: "POST",
                            url: setOutCordon,
                            async: false,
                            data: data.field,
                            xhrFields: {
                                withCredentials: true
                            },
                            crossDomain: true,
                            error: function(request) {
                                layer.msg('修改失败');
                            },
                            success: function(res) {
                                if (res.status === 1) {
                                    goLogin();// 跳转到登录页
                                }
                                if (res.status == 0) {
                                    layer.msg("保存修改成功");
                                    layer.close(modifyLayer);
                                    tableIns.reload({
                                        page: {
                                            curr: 1 // 重新从第 1 页开始
                                        }
                                    });
                                } else {
                                    layer.msg("保存修改失败");
                                }
                            }
                        });

                        return false;
                    });

                    $("input[name='financingmoney']").bind("input propertychange", function(event) {
                        var a = $("input[name='cordonmoney']").val();
                        var b = $(this).val();

                        if(!isNaN(b) && !isNaN(a)){
                            $('div[data-name="proportion"]').html(compute(a, b));
                        }else{
                            $('div[data-name="proportion"]').html('<span style="color:red;">---</span>');
                            return false;
                        }

                    });

                    $("input[name='cordonmoney']").bind("input propertychange", function(event) {
                        var a = $(this).val();
                        var b = $("input[name='financingmoney']").val();
                        if(!isNaN(b) && !isNaN(a)){
                            $('div[data-name="proportion"]').html(compute(a, b));
                        }else{
                            $('div[data-name="proportion"]').html('<span style="color:red;">---</span>');
                            return false;
                        }
                    });

                    compute($("input[name='cordonmoney']").val(), $("input[name='financingmoney']").val())
                    
                    function compute(a, b) {
                        if (isNaN(a) || a == 0 || isNaN(b) || b == 0) {
                            console.log(1);
                            return '<span style="color:red;">---</span>';
                        } else {
                            console.log(2);
                            return ((a / b) * 100).toFixed(2) + "%"
                        }
                    }

                });
            }
        });

    });
</script>