<div class="table-page" id="risk-shipExamine">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a id="toExport" href="javascript:;"><i class="iconfont icon-daochu"></i>导出</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-dayin"></i>打印</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="refreshBtn"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="toExport"><i class="iconfont icon-daochu"></i>导出</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库主</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">选择仓库主</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer" lay-filter="tableContainer"></table>
        </div>
    </div>
</div>
<style scode>
    .form-right{
        position: absolute;
        left: 250px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 93); //内容区域所需减去的高度

        var menuKey = "a_24"; //当前页面key
        var domObj = $("#risk-shipExamine .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限

        var examineLayer; // 审核-弹层

        form.render(); // 重置表单渲染
        formSelects.render(); // 下拉选项

        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //仓库主列表
        });

        function selectDataInstall(url, param) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                success: function(data) {
                    console.log(data);
                    if (data.status === 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length == 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                    }
                }
            });
            return arr;
        }

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                // 参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key].replace(/^\s*|\s*$/g,"");
                }
            }
            // 表格重新加载
            tableIns.reload({
                where: paramSearch, // 接口参数
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
            return false;
        });
        $(".refreshBtn").click(function() {
            tableIns.reload({
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
        });
        // 渲染母模块table
        var tableIns = table.render({
            elem: '#tableContainer',
            height: 'full-' + tableTopHeight, // full --
            url: outTreasuryList, // 数据接口
            // 任意数据格式解析成 table 组件规定的数据格式
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, // 解析接口状态
                    "msg": res.message, // 解析提示文本
                    "count": res.count, // 解析数据长度
                    "data": res.data // 解析数据列表
                }
            },
            // 用于对分页请求的参数：page、limit重新设定名称
            request: {
                pageName: 'offset', // 页码的参数名称，默认：page
                limitName: 'limit' // 每页数据量的参数名，默认：limit
            },
            cols: [
                [ // 标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    }, {
                        field: 'ownername',
                        title: '仓库主'
                    },{
                        field: 'createdate',
                        title: '创建时间',
                        width: 185
                    }, {
                        field: 'orderno',
                        title: '出库单',
                        event: 'click',
                        style: 'cursor: pointer;color:#0063de;',
                        width: 200
                    }, {
                        field: 'depname',
                        title: '出库仓库'
                    }, {
                        field: 'num',
                        title: '数量（m³）',
                        width: 120,
                    },
                    {
                        field: 'totalamount',
                        title: '订单总金额' + unitMoney,
                        templet: function (d) {
                            return formatNum(d.totalamount);
                        }
                    }, {
                        field: 'stockmoney',
                        title: '库存金额'+ unitMoney,
                        templet: function (d) {
                            return formatNum(d.stockmoney);
                        }
                    }, {
                        field: 'financingmoney',
                        title: '融资金额'+ unitMoney,
                        templet: function (d) {
                            return formatNum(d.financingmoney);
                        }
                    }, {
                        field: 'cordonmoney',
                        title: '警戒线'+ unitMoney,
                        templet: function (d) {
                            return formatNum(d.cordonmoney);
                        }
                    }
                ]
            ],
            even: true, // 开启隔行背景
            page: true, // 是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            title: "异常审核",
            done: function(res, curr, count) { // 数据渲染完的回调

            },
            text: { // 自定义文本，如空数据时的异常提示等
                none: "无匹配数据"
            },
            loading: true // 是否显示加载条，默认true
        });

        // 监听出库单点击事件
        table.on('tool(tableContainer)', function(obj) {
            var curData = obj.data;
            if (obj.event === 'click') {
                sessionStorage.setItem('examineOrderID', curData.orderno);
                $.get('view/risk/risk-layerExamine.html', {}, function(str) { // 请求弹框
                    var layerData; // 当前弹框页面数据
                    $.ajax({
                        url: outDetails,
                        type: "get",
                        data: {
                            orderno: curData.orderno, // 单号
                            'SESSION_NAME': getCookie('SESSION_NAME'),
                            'TOKEN': getCookie('TOKEN')
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        async: false, // 同步
                        success: function(data) {
                            if (data.status === 1) {
                                window.location.href = loginPageUrl;
                            }
                            if (data.status == 0) {
                                layerData = data.data;
                                // 弹出弹框
                                examineLayer = layer.open({
                                    title: '出货申请单审核',
                                    type: 1,
                                    content: str, // 注意，如果str是object，那么需要字符拼接。
                                    area: ['80%', '80%'],
                                });
                                // 渲染弹框页面
                                layerOut(layerData);
                            } else {
                                layer.msg("页面信息获取失败，请刷新浏览器")
                            }
                        }
                    });
                });
            }
        });

        // 渲染弹框函数
        var layerOut = function(layerData) {
            // 弹框 - 模板渲染
            var getTpl = tempExamine.innerHTML,
                view = $(".lay-bread-crumb")[0];
            laytpl(getTpl).render(layerData, function(html) {
                view.innerHTML = html;
            });

            var tableInsShip = table.render({
                elem: '#tableContainer-from',
                height: 'auto', // full -- 高度将始终铺满 - 差值
                data: layerData.datalist,
                // 用于对分页请求的参数：page、limit重新设定名称
                cols: [
                    [ // 标题栏
                        {
                            field: 'LAY_TABLE_INDEX',
                            title: '序号',
                            width: 40,
                            templet: function(d) {
                                return d.LAY_TABLE_INDEX + 1;
                            }
                        }, {
                            field: 'uuid',
                            title: '货物标识码',
                            width: 206,
                            style:'font-family: Consolas;font-size:16px'
                        }, {
                            field: 'code',
                            title: '包号'
                        }, {
                            field: 'varieties',
                            title: '品种'
                        }, {
                            field: 'spec',
                            title: '规格/厚度'
                        }, {
                            field: 'levels',
                            title: '等级'
                        }, {
                            field: 'chang',
                            title: '长度'
                        }, {
                            field: 'brand',
                            title: '品牌'
                        }, {
                            field: 'origin',
                            title: '产地'
                        }, {
                            field: 'num',
                            title: '数量（m³）',
                            width: 120,
                        } ,{
                            field: 'aprice',
                            title: '估值金额' + unitMoney,
                            templet: function (d) {
                                return formatNum(d.aprice);
                            }
                        }, {
                            field: 'pieces',
                            title: '片数',
                        }, {
                            field: 'status',
                            title: '库位'
                        }, {
                            field: 'containernum',
                            title: '货柜号/批次号'
                        }, {
                            field: 'remarks',
                            title: '备注'
                        }
                    ]
                ],
                even: true, // 开启隔行背景
                done: function(res, curr, count) { // 数据渲染完的回调

                },
                text: { // 自定义文本，如空数据时的异常提示等
                    none: "无匹配数据"
                },
                loading: true // 是否显示加载条，默认true
            });

            // 通过按钮点击
            $(".passBtn").click(function() {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: setAdopt,
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    data: {
                        'orderno': sessionStorage.getItem("examineOrderID"),
                        'SESSION_NAME': getCookie('SESSION_NAME'),
                        'TOKEN': getCookie('TOKEN')
                    },
                    error: function(request) {
                        layer.msg('修改失败');
                        return;
                    },
                    success: function(res) {
                        if (res.status === 1) {
                            goLogin();// 跳转到登录页
                        }
                        if (res.status == 0) {
                            layer.msg(res.msg);
                            layer.close(examineLayer);
                            tableIns.reload({
                                page: {
                                    curr: 1 // 重新从第 1 页开始
                                }
                            });
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                });
            });

            // 不通过按钮点击
            $(".nopassBtn").click(function() {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: setNotAdopt,
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    data: {
                        'orderno': sessionStorage.getItem("examineOrderID"),
                        'SESSION_NAME': getCookie('SESSION_NAME'),
                        'TOKEN': getCookie('TOKEN')
                    },
                    error: function(request) {
                        layer.msg('修改失败');
                        return false;
                    },
                    success: function(res) {
                        if (res.status === 1) {
                            goLogin();// 跳转到登录页
                        }
                        if (res.status == 0) {
                            layer.msg(res.msg);
                            layer.close(examineLayer);
                            tableIns.reload({
                                page: {
                                    curr: 1 // 重新从第 1 页开始
                                }
                            });
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                });
            });
        };

        //点击导出
        $(".toExport").on('click', function(e) {
            table.exportFile(tableIns.config.id, tableIns.config.data,"xls");
        });

    });
</script>
