<div class="table-page" id="risk-goodsAssess">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a id="toExport" href="javascript:;"><i class="iconfont icon-daochu"></i>导出</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-dayin"></i>打印</a>
                </li>
                
                 -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-pinggu"></i>评估</a>
                </li> -->
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;" class="refreshBtn"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">仓库主</span>
                            <input type="text" name="name" placeholder="仓库主" autocomplete="off" class="layui-input">
                            <!-- <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">选择仓库主</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-md layui-btn-gray">
                            <i class="iconfont icon-zhongzhi"></i><span>重置</span>
                        </button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i><span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="table-goodsAssess" lay-filter="table-goodsAssess"></table>
        </div>
    </div>
</div>
<!-- 是否评估按钮 -->
<script type="text/html" id="checkboxTpl">
    <!-- <input type="checkbox" name="isapp" value="{{d.id}}" title="评估" lay-filter="isapp" checked> -->
    <input type="checkbox" name="isapp" value="{{d.id}}" lay-skin="switch" lay-text="评　估|不评估" lay-filter="isapp" checked>
</script>
<style scode>
    .form-right{
        position: absolute;
        left: 250px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 93); //内容区域所需减去的高度
        
        var menuKey = "a_22"; //当前页面key
        var domObj = $("#risk-goodsAssess .table-tools").find("ul"); //当前页面容器
        btnIsList(domObj, menuKey); //按钮权限

        var assessLayer; // 评估-弹层
        form.render(); // 重置表单渲染
        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                // 参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key]
                }
            }
            // 表格重新加载
            tableIns.reload({
                where: paramSearch, // 接口参数
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
            return false;
        });

        $(".refreshBtn").click(function() {
            tableIns.reload({
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
        });

        var tableIns = table.render({
            elem: '#table-goodsAssess',
            height: 'full-' + tableTopHeight, // full -- 差值
            url: riskList, //数据接口
            // 任意数据格式解析成 table 组件规定的数据格式
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            // 用于对分页请求的参数：page、limit重新设定名称
            request: {
                pageName: 'offset', // 页码的参数名称，默认：page
                limitName: 'limit' // 每页数据量的参数名，默认：limit
            },
            cols: [[ // 标题栏
                {
                    field: 'LAY_TABLE_INDEX',
                    title: '序号',
                    width: 40,
                    templet: function(d) {
                        return d.LAY_TABLE_INDEX + 1;
                    }
                }, {
                    field: 'name', // 设定字段名。字段名的设定非常重要，且是表格数据列的唯一标识
                    title: '仓库主',
                    event: 'click',
                    style: 'color:#0063de',
                    width: 266,
                }, {
                    field: 'untreated',
                    title: '未评估商品',
                    width: 266,
                    templet: function(d) {
                        //默认无
                        if (d.untreated > 0) {
                            return '<span style="color:red;">' + d.untreated + '</span>';
                        }
                        return d.untreated;
                    }
                }, {
                    field: 'already',
                    title: '已评估商品',
                }
            ]],
            even: true, // 开启隔行背景
            page: true, // 是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) { // 数据渲染完的回调

            },
            text: { // 自定义文本，如空数据时的异常提示等
                none: "无匹配数据"
            },
            loading: true // 是否显示加载条，默认true
        });

        var ownerid = null;
        // 监听仓库主点击事件
        table.on('tool(table-goodsAssess)', function(obj) {
            var curData = obj.data;
            // console.log(curData)
            ownerid = curData.id;
            if (obj.event === 'click') {
                $.get('view/risk/risk-layerAssess.html', {}, function(str) { // 弹出弹框
                    assessLayer = layer.open({
                        title: '商品评估列表',
                        type: 1,
                        content: str, // 注意，如果str是object，那么需要字符拼接。
                        area: ['80%', '78%'],
                    });
                    form.render(); // 重置表单渲染
                    formSelects.render(); // 下拉选项
                    //弹窗页
                    formSelects.data('selectVarieties', 'local', {
                        arr: selectDataInstall(VTSList) //品种列表
                    });

                    formSelects.data('selectLevels', 'local', {
                        arr: selectDataInstall(levelsList) //等级列表
                    });

                    formSelects.data('selectSpec', 'local', {
                        arr: selectDataInstall(specList) //规格列表
                    });

                    formSelects.data('originSelect', 'local', {
                        arr: selectDataInstall(CHDList) //产地列表
                    });

                    function selectDataInstall(url, param) {
                        //下拉选框数据组装
                        var arr = [];
                        //获取列表数据
                        $.ajax({
                            url: url,
                            type: "get",
                            data: param,
                            async: false, //同步
                            traditional: true,
                            success: function(data) {
                                // console.log(data);
                                if (data.status === 0) {
                                    //把接口数据转换为[{"name":str,"value":number}]格式
                                    if (!Array.isArray(data.data) || data.data.length === 0) {
                                        // 判断arr是否为数组并保证内部有值
                                        return false;
                                    }
                                    for (var i = 0; i < data.data.length; i++) {
                                        arr.push({
                                            "name": data.data[i].name,
                                            "value": data.data[i].id
                                        })
                                    }
                                }
                            }
                        });
                        return arr;
                    }
                    form.on('submit(searchAssessForm)', function(data) {
                        console.log(data);
                        var paramSearch = {
                            "ownerid": curData.id
                        };
                        for (var key in data.field) {
                            // 参数赋值
                            if (data.field[key] !== "") {
                                paramSearch[key] = data.field[key]
                            }
                        }
                        // 表格重新加载
                        tableInsAssess.reload({
                            where: paramSearch, // 接口参数
                            page: {
                                curr: 1 // 重新从第 1 页开始
                            }
                        });
                        return false;
                    });

                    var tableInsAssess = table.render({
                        elem: '#tableContainer-from',
                        height: '472', // full -- 高度将始终铺满 - 差值
                        url: ilbstocklblist,
                        where: {
                            "ownerid": curData.id,
                            'isaprice': $("#isaprice").val()
                        },
                        parseData: function(res) { //res 即为原始返回的数据
                            // console.log(res)
                            if (res.status !== 0) {
                                res.status = 0;
                                res.data = []
                            }
                            return {
                                "code": res.status, //解析接口状态
                                "msg": res.message, //解析提示文本
                                "count": res.count, //解析数据长度
                                "data": res.data, //解析数据列表
                            }
                        },
                        request: {
                            pageName: 'offset', // 页码的参数名称，默认：page
                            limitName: 'limit' // 每页数据量的参数名，默认：limit
                        },
                        cols: [[ // 标题栏
                            {
                                field: 'LAY_TABLE_INDEX',
                                title: '序号',
                                width: 40,
                                templet: function(d) {
                                    return d.LAY_TABLE_INDEX + 1;
                                }
                            }, {
                                field: 'uuid',
                                title: '货物标识码',
                                width: 170,
                            }, {
                                field: 'code',
                                title: '包号',
                                sort: true
                            }, {
                                field: 'varieties',
                                title: '品种'
                            }, {
                                field: 'spec',
                                title: '规格/厚度'
                            }, {
                                field: 'levels',
                                title: '等级',
                                sort: true
                            }, {
                                field: 'chang',
                                title: '长度'
                            }, {
                                field: 'brand',
                                title: '品牌',
                                sort: true
                            }, {
                                field: 'origin',
                                title: '产地',
                                sort: true
                            }, {
                                field: 'pprice',
                                width: 130,
                                title: '采购单价' + unitMoney,
                                templet: function (d) {
                                    return formatNum(d.pprice);
                                }
                            }, {
                                field:'isapp',
                                title:'是否评估',
                                width:110,
                                templet: '#checkboxTpl',
                                unresize: true,
                            }, {
                                field: 'aprice',
                                title: '评估单价'+ unitMoney,
                                width: 130,
                                templet: function (d) {
                                    return formatNum(d.aprice) || "";
                                },
                                edit: "text"
                            }, {
                                field: 'remarks',
                                title: '备注',
                            }
                        ]],
                        page: false,
                        limit: null,
                        // limits: [10, 20, 30, 40, 50],
                        even: true, // 开启隔行背景
                        done: function(res, curr, count) { // 数据渲染完的回调

                        },
                        text: { // 自定义文本，如空数据时的异常提示等
                            none: "无匹配数据"
                        }
                    });

                    //监听锁定操作
                    form.on('switch(isapp)', function(obj){
                        console.log(this.value + ":" + obj.elem.checked);
                        // layer.tips(this.value + '-' + this.name + '：'+ obj.elem.checked, obj.othis);
                    });

                    var apriceChangeValue = {}; //单元格编辑更改评估价格数据对象

                    //监听编辑
                    table.on('edit(tableContainer-from)', function(obj) {
                        // console.log(obj.value); //得到修改后的值
                        // console.log(obj.field); //当前编辑的字段名
                        console.log(obj.data); //所在行的所有相关数据
                        if (!obj.value || isNaN(obj.value)) {
                            layer.msg("估价金额只能为数字");
                        }
                        apriceChangeValue[obj.data.id] = obj.value;
                        console.log(apriceChangeValue);
                    });

                    $(".saveEvaluationPriceBtn").click(function() {
                        var status = true;
                        // console.log(apriceChangeValue);
                        //保存评估价
                        if ($.isEmptyObject(apriceChangeValue)) {
                            layer.msg("当前估价未作修改");
                        } else {
                            for (var key in apriceChangeValue) {
                                if (isNaN(apriceChangeValue[key]) || apriceChangeValue[key] === "") {
                                    layer.msg("保存估价失败，金额只能为数字");
                                    status = false;
                                }
                            }
                            // console.log(status);
                            if (status) {
                                status = editAprice(ownerid, apriceChangeValue, tableInsAssess); //提交评估单价
                                if (status) {
                                    apriceChangeValue = {}; //如果提交成功清空估价数组
                                    layer.close(assessLayer); //关闭估价弹窗
                                    tableIns.reload({
                                        page: {
                                            curr: 1 // 重新从第 1 页开始
                                        }
                                    });
                                } else {
                                    layer.msg("提交估价失败，请检查网络"); //估价提交失败提示
                                }
                            } else {
                                return false;
                            }
                        }
                    });

                    $(".cancelBtn").click(function() {
                        if (!$.isEmptyObject(apriceChangeValue)) {
                            layer.confirm('有未提交的评估价格', function(index) {
                                //do something
                                layer.close(index);
                                apriceChangeValue = {};
                                layer.close(assessLayer); //关闭估价弹窗
                            });
                        } else {
                            layer.close(assessLayer); //关闭估价弹窗
                        }
                    });

                    //保持提交  修改的风控数据
                    function editAprice(ownerid, apriceJson, tableObj) {
                        //请求数据源示例
                        var status = false;
                        $.ajax({
                            url: saveEvaluationPrice,
                            type: "POST",
                            async: false,
                            data: {
                                ownerid: ownerid,
                                lbarr: JSON.stringify(apriceJson),
                                'SESSION_NAME': getCookie('SESSION_NAME'),
                                'TOKEN': getCookie('TOKEN')
                            },
                            xhrFields: {
                                withCredentials: true
                            },
                            crossDomain: true,
                            // traditional: true,
                            success: function(res) {
                                if (res.status === 1) {
                                    goLogin();// 跳转到登录页
                                }
                                if (res.status === 0) {
                                    layer.msg("评估单价设置成功");
                                    status = true;
                                } else {
                                    layer.msg(res.msg);
                                }
                            }
                        });
                        return status;
                    }
                });
            }
        });
    });
</script>