<div class="table-page">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <!-- <li class="layui-nav-item">
                    <a id="toExport" href="javascript:;"><i class="iconfont icon-daochu"></i>导出</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-dayin"></i>打印</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li> -->
                <li class="layui-nav-item">
                    <a href="javascript:;" class="refreshBtn"><i class="iconfont icon-shuaxin"></i>刷新</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">货权人</span>
                            <select name="ownerid" xm-select="ownerSelect" xm-select-radio>
                                <option value="">货权人</option>
                            </select>
                        </div>
                        <!-- <div class="table-form-item layui-input-inline">
                            <span class="input-span">审核状态</span>
                            <input type="text" name="auditstatus" placeholder="审核状态" autocomplete="off" class="layui-input">
                        </div> -->
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">出货仓库</span>
                            <select name="depotid" xm-select="depotSelect" xm-select-radio>
                                <option value="">选择仓库</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-recode" lay-filter="tableContainer-recode"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 93); //内容区域所需减去的高度

        form.render(); // 重置表单渲染
        formSelects.render(); // 下拉选项
        formSelects.data('ownerSelect', 'local', {
            arr: selectDataInstall(ownerDropdown) //货权人列表
        });

        layui.formSelects.opened('depotSelect', function(id) {
            var ownerid = formSelects.value('ownerSelect', 'val'); //获取货权人ID
            if (ownerid.length < 1) {
                layer.msg("请先选择货权人");
                formSelects.data(id, 'local', {
                    arr: []
                }); //如果货权人为空则清空列表
            }
        });

        //监听
        formSelects.on('ownerSelect', function(id, vals, val, isAdd, isDisabled) {
            if (!isAdd) {
                formSelects.data('depotSelect', 'local', {
                    arr: [] //清空仓库列表
                });
            } else {
                var depotList = selectDataInstall(depotDropdown, {
                    "ownerid": vals[0].value //仓库列表
                }, true);

                if (depotList.length < 1) {
                    formSelects.data('depotSelect', 'local', {
                        arr: [] //清空仓库列表
                    });
                    layer.msg("该货权人下无仓库信息");
                    return false;
                }
                formSelects.data('depotSelect', 'local', {
                    arr: depotList //仓库列表
                });
            }
        }, true);

        function selectDataInstall(url, param, bool) {
            //下拉选框数据组装
            var arr = [];
            //获取列表数据
            $.ajax({
                url: url,
                type: "get",
                data: param,
                async: false, //同步
                traditional: true,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(data) {
                    if (data.status === 1) {
                        window.location.href = loginPageUrl;
                    }
                    if (data.status == 0) {
                        //把接口数据转换为[{"name":str,"value":number}]格式
                        if (!Array.isArray(data.data) || data.data.length == 0) {
                            // 判断arr是否为数组并保证内部有值
                            return false;
                        }
                        for (var i = 0; i < data.data.length; i++) {
                            arr.push({
                                "name": data.data[i].name,
                                "value": data.data[i].id
                            })
                        }
                        if (bool) {
                            arr[0].selected = "selected";
                        }

                    }
                }
            })
            return arr;
        }

        var assessLayer; //弹窗对象
        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                // 参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key]
                }
            }
            // 表格重新加载
            tableIns.reload({
                where: paramSearch, // 接口参数
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
            return false;
        });
        $(".refreshBtn").click(function() {
            tableIns.reload({
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
        });
        var tableIns = table.render({
            elem: '#tableContainer-recode',
            height: 'full-' + tableTopHeight, // full
            url: outHistoryList, //数据接口
            // 任意数据格式解析成 table 组件规定的数据格式
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            // 用于对分页请求的参数：page、limit重新设定名称
            request: {
                pageName: 'offset', // 页码的参数名称，默认：page
                limitName: 'limit' // 每页数据量的参数名，默认：limit
            },
            cols: [
                [ // 标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 50,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    },
                    {
                        field: 'ownername',
                        title: '货权人',
                        sort: true
                    }, {
                        field: 'status',
                        title: '审核结果',
                        sort: true,
                        templet: function(d) {
                            console.log(d);
                            if (d.isexamine == 2) {
                                return '通过';
                            }
                            if (d.isexamine == 1 && d.status == 3) {
                                return '不通过';
                            }
                            return '';
                        }
                    }, {
                        field: 'orderno',
                        title: '出库单',
                        event: 'click',
                        width: 195
                    }, {
                        field: 'depname',
                        title: '出库仓库',
                        sort: true
                    }, {
                        field: 'num',
                        title: '数量（m³）',
                        sort: true
                    }, {
                        field: 'totalamount',
                        title: '出货金额',
                        sort: true
                    }, {
                        field: 'stockmoney',
                        title: '库存金额',
                        sort: true
                    }, {
                        field: 'financingmoney',
                        title: '融资金额',
                        sort: true
                    }, {
                        field: 'cordonmoney',
                        title: '警戒线',
                        sort: true
                    }, {
                        field: 'createdate',
                        title: '审核时间',
                        sort: true
                    }
                ]
            ],
            even: true, // 开启隔行背景
            page: true, // 是否显示分页
            limits: [10, 20, 30, 40, 50], // 每页条数的选择项
            limit: 10, // 每页默认显示的数量
            done: function(res, curr, count) { // 数据渲染完的回调

            },
            text: { // 自定义文本，如空数据时的异常提示等
                none: "无匹配数据"
            },
            loading: true // 是否显示加载条，默认true
        });

        // 监听出库单点击事件
        //         table.on('tool(tableContainer-recode)', function(obj) {

        //             var curData = obj.data;

        //             if (obj.event === 'click') {
        //                 console.log('111');
        //                 sessionStorage.setItem('recodeOrderID', curData.orderno);
        //                 $.get('view/risk/risk-layerRecode.html', {}, function(str) { // 请求弹框

        //                     var layerData; // 当前弹框页面数据

        //                     $.ajax({
        //                         url: outHistoryDetails,
        //                         type: "get",
        //                         data: {
        //                             orderno: curData.orderno // 单号
        //                         },
        //                         xhrFields: {
        //           withCredentials: true
        //        },
        //        crossDomain: true,
        //                         async: false, // 同步
        //                         success: function(data) {
        //                             if (data.status === 1) {
        //                                 window.location.href = loginPageUrl;
        //                             }
        //                             layerData = data;
        //                         }
        //                     });

        //                     if (layerData.status == 0) {
        //                         // 接口请求正确后把这一段放在ajax的success里执行
        //                         // 弹出弹框
        //                         // layerData = {};
        //                         assessLayer = layer.open({
        //                             title: '出货审核记录',
        //                             type: 1,
        //                             content: str, // 注意，如果str是object，那么需要字符拼接。
        //                             area: ['80%', '80%'],
        //                         });
        //                         // 渲染弹框页面
        //                         layerOut(layerData.data);
        //                     } else {
        //                         layer.msg("信息获取失败");
        //                     }
        //                 });
        //             }
        //         });

        // 渲染弹框函数
        var layerOut = function(layerData) {
            // 弹框 - 模板渲染
            var getTpl = tempExamine.innerHTML,
                view = $(".lss-bread-crumb")[0];
            laytpl(getTpl).render(layerData, function(html) {
                view.innerHTML = html;
            });

            var tableIns = table.render({
                elem: '#tableContainer-from',
                height: 'auto', // full -- 高度将始终铺满 - 差值
                data: layerData.datalist,
                // 用于对分页请求的参数：page、limit重新设定名称
                cols: [
                    [ // 标题栏
                        {
                            field: 'code',
                            title: '包号',
                            sort: true
                        }, {
                            field: 'varieties',
                            title: '品种',
                            sort: true
                        }, {
                            field: 'thickness',
                            title: '规格/厚度',
                            sort: true
                        }, {
                            field: 'levels',
                            title: '等级',
                            sort: true
                        }, {
                            field: 'chang',
                            title: '长度',
                            sort: true
                        }, {
                            field: 'brand',
                            title: '品牌',
                            sort: true
                        }, {
                            field: 'origin',
                            title: '产地',
                            sort: true
                        }, {
                            field: 'num',
                            title: '数量(m³)',
                            sort: true
                        }, {
                            field: 'status',
                            title: '库位',
                            sort: true
                        }, {
                            field: 'containernum',
                            title: '货柜号/批次号',
                            sort: true
                        }, {
                            field: 'remarks',
                            title: '备注',
                            sort: true
                        }
                    ]
                ],
                even: true, // 开启隔行背景
                done: function(res, curr, count) { // 数据渲染完的回调

                },
                text: { // 自定义文本，如空数据时的异常提示等
                    none: "无匹配数据"
                },
                loading: true // 是否显示加载条，默认true
            });
        }

    });
</script>