<div class="table-page">
    <div class="table-page-header">
        <div class="lss-bread-crumb">
            <div class="lss-bread-item">
                <p>出货申请订单号</p>
                <p class="data-gray">000430541dx34xxxx</p>
            </div>
            <div class="lss-bread-item">
                <p>货权人</p>
                <p class="data-gray">亿森木业</p>
            </div>
            <div class="lss-bread-item">
                <p>仓库</p>
                <p class="data-gray">大岭山</p>
            </div>
            <div class="lss-bread-item">
                <p>预计出货日期</p>
                <p class="data-gray">2018-11-15</p>
            </div>
            <div class="lss-bread-item">
                <p>库存金额（RMB）</p>
                <p class="data-green">3,003,225,200</p>
            </div>
            <div class="lss-bread-item">
                <p>融资金额（RMB）</p>
                <p class="data-blue">3,003,225,200</p>
            </div>
            <div class="lss-bread-item">
                <p>警戒线</p>
                <p class="data-orange">3,225,200</p>
            </div>
        </div>
    </div>

    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-from" lay-filter="tableContainer-from"></table>
        </div>
    </div>

    <div class="rightBotBtn">
        <button class="layui-btn" lay-submit="" type="submit" lay-filter="pass">通过</button>
        <button class="layui-btn layui-btn-primary" lay-submit="" type="submit" lay-filter="nopass">不通过</button>
        <button class="layui-btn" lay-submit="" type="submit" lay-filter="nopass">打印</button>
    </div>
</div>
<style scoped>
    .rightBotBtn {
        padding: 15px;
        text-align: right
    }

    .lss-bread-crumb {
        overflow: hidden;
        margin: 20px 0;
    }

    .lss-bread-item {
        float: left;
        padding: 0 40px;
        border-right: 1px solid #979797;
    }

    .lss-bread-item:first-child {
        padding-left: 20px;
    }

    .lss-bread-item>p:first-child {
        font-size: 15px;
        color: #333;
    }

    .lss-bread-item>p:nth-child(2) {
        font-size: 18px;
        color: #333;
        font-weight: bold;
    }

    .lss-bread-item>p:nth-child(2).data-green {
        color: #06a488;
    }

    .lss-bread-item>p:nth-child(2).data-blue {
        color: #07b1bd;
    }

    .lss-bread-item>p:nth-child(2).data-orange {
        color: #f58935;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function () {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度
        var tableData = [];
        var eaitLayer; // 弹层

        form.render(); // 重置表单渲染
        formSelects.render(); // 下拉选项
        element.render('talbe-tools'); // 表格工具栏
        formSelects.btns(['select', 'remove'], { // 干嘛用的
            show: 'name'
        });

        form.on('submit(searchForm)', function (data) {
            var paramSearch = {};
            for (var key in data.field) {
                // 参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key]
                }
            }
            // 表格重新加载
            tableIns.reload({
                where: paramSearch, // 接口参数
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer-from',
            height: 'full-' + tableTopHeight, // full -- 高度将始终铺满 - 差值
            url: entryHistory, //数据接口
            // 任意数据格式解析成 table 组件规定的数据格式
            parseData: function (res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, // 解析接口状态
                    "msg": res.message, // 解析提示文本
                    "count": res.count, // 解析数据长度
                    "data": res.data // 解析数据列表
                }
            },
            // 用于对分页请求的参数：page、limit重新设定名称
            request: {
                pageName: 'offset', // 页码的参数名称，默认：page
                limitName: 'limit' // 每页数据量的参数名，默认：limit
            },
            cols: [
                [ // 标题栏
                    {
                        field: 'packet',
                        title: '包号',
                        sort: true
                    }, {
                        field: 'varieties',
                        title: '品种',
                        sort: true
                    }, {
                        field: 'thickness',
                        title: '规格/厚度',
                        sort: true
                    }, {
                        field: 'grade',
                        title: '等级',
                        sort: true
                    }, {
                        field: 'lenght',
                        title: '长度',
                        sort: true
                    }, {
                        field: 'brand',
                        title: '品牌',
                        sort: true
                    }, {
                        field: 'place',
                        title: '产地',
                        sort: true
                    }, {
                        field: 'cube',
                        title: '数量(m³)',
                        sort: true
                    }, {
                        field: 'place',
                        title: '库位',
                        sort: true
                    }, {
                        field: 'batch',
                        title: '货柜号/批次号',
                        sort: true
                    }, {
                        field: 'remarks',
                        title: '备注',
                        sort: true
                    }
                ]
            ],
            even: true, // 开启隔行背景
            done: function (res, curr, count) { // 数据渲染完的回调

            },
            text: { // 自定义文本，如空数据时的异常提示等
                none: "无匹配数据"
            },
            loading: true  // 是否显示加载条，默认true
        });

    });
</script>