<div class="table-page">
    <div class="table-content-title layer-level">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item">
                    <a class="layui-btn layui-btn-primary passBtn" href="javascript:;"><i class="iconfont icon-tongguo"></i>通过</a>
                </li>
                <li class="layui-nav-item">
                    <a class="layui-btn nopassBtn layui-btn-primary" href="javascript:;"><i class="iconfont icon-butongguo"></i>不通过</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form table-page-info">
            <div class="lay-bread-crumb">
                
            </div>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-from" lay-filter="tableContainer-from"></table>
        </div>
    </div>
</div>

<script id="tempExamine" type="text/html">
    <div class="lay-bread-item">
        <span>出货申请订单号：</span>
        <span class="data-gray">{{d.orderno || ""}}</span>
    </div>
    <div class="lay-bread-item">
        <span>货权人：</span>
        <span class="data-gray">{{d.ownername || ""}}</span>
    </div>
    <div class="lay-bread-item">
        <span>仓库：</span>
        <span class="data-gray">{{d.depname || ""}}</span>
    </div>
    <div class="lay-bread-item">
        <span>预计出货日期：</span>
        <span class="data-gray">{{d.Outdate || ""}}</span>
    </div>
    <div class="lay-bread-item">
        <span>库存金额（RMB）：</span>
        <span class="data-green">{{d.stockmoney || ""}}</span>
    </div>
    <div class="lay-bread-item">
        <span>融资金额（RMB）：</span>
        <span class="data-blue">{{d.financingmoney || ""}}</span>
    </div>
    <div class="lay-bread-item">
        <span>警戒线：</span>
        <span class="data-orange">{{d.cordonmoney || ""}}</span>
    </div>
</script>
