<div class="table-page" id="colruyt-list">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="addColruytBtn"><i class="iconfont icon-tianjia"></i>新增大仓库</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="depotDetail"><i class="iconfont icon-querenpandian"></i>库位详情</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="changeBtn"><i class="iconfont icon-bianji"></i>修改</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="deleteBtn"><i class="iconfont icon-shanchu"></i>删除</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box clearfix">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">大仓库编号</span>
                            <input type="text" name="code" placeholder="仓库编号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">大仓库名称</span>
                            <input type="text" name="name" placeholder="仓库名称" autocomplete="off" class="layui-input">
                        </div>
                        <!-- <div class="table-form-item layui-input-inline">
                            <span class="input-span">管仓</span>
                            <select name="type" xm-select="" xm-select-radio>
                                <option value="0">监管仓</option>
                                <option value="-1">自由仓</option>
                            </select>
                        </div> -->
                    </div>
                    <div class="layui-form-item form-right">
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="table-colruytList" lay-filter="table-colruytList"></table>
        </div>
    </div>
</div>
<style scode>
    .form-right{
        position: absolute;
        left: 510px;
    }
</style>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 93); //内容区域所需减去的高度
        // var menuKey = "a_20"; //当前页面key
        // var domObj = $("#colruyt-list .table-tools").find("ul"); //当前页面容器
        // btnIsList(domObj, menuKey); //按钮权限

        var addColruytLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key].replace(/^\s*|\s*$/g,"");
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#table-colruytList',
            height: 'full-' + tableTopHeight,
            url: bitdepotList,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [[ //标题栏
                {
                    field: 'LAY_TABLE_INDEX',
                    title: '序号',
                    width: 40,
                    templet: function(d) {
                        return d.LAY_TABLE_INDEX + 1;
                    }
                }, {
                    type: 'radio'
                }, {
                    field: 'code',
                    title: '大仓库编号',
                }, {
                    field: 'name',
                    title: '大仓库名称',
                }, {
                    field: 'address',
                    title: '地址',
                }, {
                    field: 'acreage',
                    title: '总面积'
                }, {
                    field: 'remarks',
                    title: '备注',
                }
            ]],
            even: true,
            page: true, //是否显示分页
            limits: [100, 200, 500, 1000],
            limit: 100, //每页默认显示的数量
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        // 打开添加弹窗
        $(".addColruytBtn").click(function() {
            sessionStorage.removeItem('colruytCheck'); //点击新建仓库删除本地存储所选仓库信息
            $.get('view/depot/layer-addColruyt.html', {}, function(str) {
                addColruytLayer = layer.open({
                    title: '添加大仓库',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    resize: false,
                    area: ['640px', '500px'],
                });
            });
        });

        form.on('submit(addColruytForm)', function(data) {
            var dataType = JSON.parse(sessionStorage.getItem('colruytCheck')); //获取本地所选仓库信息，判断是否为修改
            var url;
            var msg = "新建大仓库成功";
            data.field.type = data.field.type.replace(/^\s*|\s*$/g,"");
            //如果是修改
            if (dataType) {
                url = bitdepotUpda;
                data.field.id = dataType.id;
                msg = "修改大仓库成功";
            } else {
                url = bitdepotAdd;
            }
            data.field['SESSION_NAME']= getCookie('SESSION_NAME');
            data.field['TOKEN']= getCookie('TOKEN');
            $.ajax({
                url: url,
                type: "post",
                data: data.field,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(res) {
                    if (res.status === 0) {
                        sessionStorage.removeItem('colruytCheck'); //操作成功删除本地存储
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(msg);
                        layer.close(addColruytLayer);
                    } else if (res.status === 1) {
                        goLogin();// 跳转到登录页
                    }
                }
            });
            return false;
        });

        //库位详情
        $(".depotDetail").click(function() {
            var checkStatus = table.checkStatus('table-colruytList');//获取选中行状态
            console.log(checkStatus);
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要编辑的信息");
            } else {
                sessionStorage.setItem('colruytCheck', JSON.stringify(checkStatus.data[0])); //将所选仓库信息存储到本地作为回显
                location.hash = "#!depot-position/";
            }
        });

        //修改
        $(".changeBtn").click(function() {
            var checkStatus = table.checkStatus('table-colruytList');//获取选中行状态
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要编辑的信息");
            } else if (checkStatus.data.length > 1) {
                layer.msg("请选择需要编辑的单条信息");
            } else {
                sessionStorage.setItem('colruytCheck', JSON.stringify(checkStatus.data[0])); //将所选仓库信息存储到本地作为回显
                $.get('view/depot/layer-addColruyt.html', {}, function(str) {
                    addColruytLayer = layer.open({
                        title: '修改',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['640px', '500px'],
                    });
                });
            }
        });

        // 删除
        $(".deleteBtn").click(function() {
            var checkStatus = table.checkStatus('table-colruytList');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    skin: 'layui-layer-wei',  //layui-layer-wei，维木class
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.id);
                    });
                    //调用删除接口
                    $.ajax({
                        url: bitdepotDele,
                        type: "post",
                        data: {
                            "id": rowId,
                            'SESSION_NAME':getCookie('SESSION_NAME'),
                            'TOKEN':getCookie('TOKEN'),
                        },
                        traditional: true,
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success: function(res) {
                            if (res.status === 0) {
                                // 删除所选行成功
                                layer.close(index);
                                // 刷新表格
                                tableIns.reload({
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                                layer.msg(res.msg);
                            } else if (res.status === 2) {
                                // 当前仓库已存在
                                layer.close(index);
                                // 刷新表格
                                tableIns.reload({
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                                layer.msg(res.msg);
                            } else if (res.status === 1) {
                                goLogin();// 跳转到登录页
                            }
                        }
                    });
                });
            }
        });

    });
</script>
