<div class="table-page">
    <div class="table-content-title">
        <div class="table-tools">
            <ul class="layui-nav" lay-filter="talbe-tools">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="addPositionBtn"><i class="iconfont icon-tianjia"></i>新增库位</a>
                </li>
                <li class="layui-nav-item"><a href="javascript:;" class="changeBtn"><i class="iconfont icon-bianji"></i>修改</a></li>
                <li class="layui-nav-item"><a href="javascript:;" class="deleteBtn"><i class="iconfont icon-shanchu"></i>删除</a></li>
            </ul>
        </div>
    </div>
    <!--<div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">库位名称</span>
                            <input type="text" name="name" placeholder="库位名称" autocomplete="off" class="layui-input">
                        </div>
                        <div class="table-form-item layui-input-inline">
                            <span class="input-span">库位名称</span>
                            <input type="text" name="code" placeholder="库位名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button type="reset" class="layui-btn layui-btn-gray"> <i class="layui-icon layui-icon-refresh"></i></button>
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>-->
    <div class="table-page-header">
        <div class="table-page-form table-page-info">
            <div class="store-bread-crumb" id="details-title">

            </div>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-positionList" lay-filter="tableContainer-positionList"></table>
        </div>
    </div>
</div>

<script id="detailsTitle" type="text/html">
    <div class="store-bread-item">
        <span>仓库主：</span>
        <span>{{d.ownername||''}}</span>
    </div>
    <div class="store-bread-item">
        <span>仓库名称：</span>
        <span>{{d.name||''}}</span>
    </div>
    <div class="store-bread-item">
        <span>仓库类型：</span>
        {{#  if(true){ }}
            <span>监控仓</span>
        {{#  } else { }}
            <span>自有仓</span>
        {{#  } }}
    </div>
</script>

<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 133); //内容区域所需减去的高度

        var addPositionLayer; //编辑-弹层

        //仓库ID
        var depid = null;
        //先获取到仓库信息,如果为空则异常
        var depotPosition = JSON.parse(sessionStorage.getItem('depotPosition'));

        if (null != depotPosition) {
            depid = depotPosition.id;
            console.log("depid:" + depid);
        } else {
            //提示报错。异常
        }

        // 渲染库位详情模板信息
        var getTpl = detailsTitle.innerHTML,
            view = document.getElementById('details-title');
        laytpl(getTpl).render(depotPosition, function(html) {
            view.innerHTML = html;
        });

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] !== "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer-positionList',
            height: 'full-' + tableTopHeight,
            url: positionList,
            where: {
                'depotid': depid
            },
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        field: 'LAY_TABLE_INDEX',
                        title: '序号',
                        width: 40,
                        templet: function(d) {
                            return d.LAY_TABLE_INDEX + 1;
                        }
                    },
                    {
                        type: 'checkbox'
                    },
                    {
                        field: 'name',
                        title: '库位名称',
                    }, {
                        field: 'code',
                        title: '库位编号',
                    }, {
                        field: 'acreage',
                        title: '面积',
                    }, {
                        field: 'address',
                        title: '地址',
                    }, {
                        field: 'remarks',
                        title: '备注',
                    }
                    // ,{
                    //     field: 'status',
                    //     title: '状态',
                    //     templet:function(d){
                    //         if(d.status == 0){
                    //             return '正常';
                    //         }
                    //         return '已删除';
                    //     }
                    // }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [10, 20, 30, 40, 50],
            limit: 10, //每页默认显示的数量
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        $(".addPositionBtn").click(function() {
            // 打开添加弹窗
            sessionStorage.removeItem('positionCheck'); //点击新建仓库删除本地存储所选仓库信息
            $.get('view/form/form-addPosition.html', {}, function(str) {
                addPositionLayer = layer.open({
                    title: '添加库位',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    resize: false,
                    area: ['800px', '560px'],
                });
            });
        });

        form.on('submit(addPositionForm)', function(data) {
            var dataType = JSON.parse(sessionStorage.getItem('positionCheck')); //获取本地所选仓库信息，判断是否为修改
            var url;
            var msg = "新建库位成功";
            if (dataType) {
                //如果是修改
                url = positionUpdate;
                data.field.id = dataType.id;
                msg = "修改仓位成功";
            } else {
                url = positionAdd;
            }
            data.field['depotid'] = depid;

            // 判供库位是否重复
            var isName = true; // 重复标识
            $.ajax({
                cache: true,
                type: "get",
                url: isname_position,
                data: {
                    depotid: data.field.depotid,
                    name: data.field.name
                },
                async: false,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function(data) {
                    if (data.status === 2) {
                        layer.msg('库位已存在');
                        isName = false;
                    }
                }
            });
            if (!isName) {return false;}

            $.ajax({
                url: url,
                type: "POST",
                data: data.field,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                traditional: true,
                success: function(json) {
                    if (json.status === 1) {
                        window.location.href = loginPageUrl;
                    }
                    if (json.status === 0) {
                        sessionStorage.removeItem('positionCheck'); //操作成功删除本地存储
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(msg);
                        layer.close(addPositionLayer);
                    }
                }
            });
            return false;
        });

        $(".changeBtn").click(function() {
            //修改
            var checkStatus = table.checkStatus('tableContainer-positionList');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要编辑的信息");
            } else if (checkStatus.data.length > 1) {
                layer.msg("请选择需要编辑的单条信息");
            } else {
                sessionStorage.setItem('positionCheck', JSON.stringify(checkStatus.data[0])); //将所选仓库信息存储到本地作为回显
                $.get('view/form/form-addPosition.html', {}, function(str) {
                    addPositionLayer = layer.open({
                        title: '修改',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['800px', 'auto'],
                    });
                });
            }
        });

        $(".deleteBtn").click(function() {
            // 删除
            var checkStatus = table.checkStatus('tableContainer-positionList');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    icon: 3,
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.id);
                    });
                    //调删除接口
                    rowDataApi(positionDel, {
                        "ids": rowId
                    }, function(data) {
                        if (data.status === 1) {
                            window.location.href = loginPageUrl;
                        }
                        // 删除所选行成功
                        layer.close(index);
                        // 刷新表格
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(data.msg);
                    });
                });
            }
        });

        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                traditional: true,
                success: funSuc,
                error: funErr
            })
        }
    });
</script>