<div class="table-page">
    <div class="table-page-header">
        <div class="table-page-form">
            <form class="layui-form" action="">
                <div class="form-box">
                    <div class="layui-form-item form-left">
                            <div class="table-form-item layui-input-inline">
                                    <input type="text" name="name" placeholder="仓库名称" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                    <input type="text" name="code" placeholder="仓库编号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="table-form-item layui-input-inline">
                                        <select name="type">
                                                <option value="0">监管仓</option>
                                                <option value="-1">自由仓</option>
                                        </select>
                                </div>
                    </div>
                    <div class="layui-form-item form-right">
                        <button class="layui-btn layui-btn-md layui-btn-green" lay-submit lay-filter="searchForm">
                            <i class="iconfont icon-sousuo"></i> <span>查询</span>
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"> <i class="layui-icon layui-icon-refresh"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-content">
        <div class="table-content-title">
            <div class="table-tools">
                <ul class="layui-nav" lay-filter="talbe-tools">
                    <li class="layui-nav-item">
                        <a href="javascript:;" class="addDepotBtn">新增仓库</a>
                    </li>
                    <li class="layui-nav-item">
                        <a id="toExport" href="javascript:;">导出数据</a>
                    </li>
                </ul>
                <ul class="layui-layout-right">
                    <li><a href="javascript:;" class="changeBtn">修改</a></li>
                    <li><a href="javascript:;" class="deleteBtn">删除</a></li>
                </ul>
            </div>
        </div>
        <div class="table-content-main">
            <table class="layui-hide" id="tableContainer-depotList" lay-filter="tableContainer-depotList"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'table', 'formSelects', 'laytpl', 'laydate', 'upload'], function() {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var table = layui.table;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var upload = layui.upload;
        var tableTopHeight = (parseInt($(".table-page-header").innerHeight()) + parseInt($(".table-content-title").innerHeight()) + parseInt($(".content-header").innerHeight()) + 103); //内容区域所需减去的高度

        var addDepotLayer; //编辑-弹层

        form.render(); //重置表单渲染
        formSelects.render(); //下拉选项
        element.render('talbe-tools'); //表格工具栏
        formSelects.btns(['select', 'remove'], {
            show: 'name'
        });

        form.on('submit(searchForm)', function(data) {
            var paramSearch = {};
            for (var key in data.field) {
                //参数赋值
                if (data.field[key] != "") {
                    paramSearch[key] = data.field[key]
                }
            }
            tableIns.reload({
                where: paramSearch, //接口参数
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var tableIns = table.render({
            elem: '#tableContainer-depotList',
            height: 'full-' + tableTopHeight,
            url: depotList,
            parseData: function(res) { //res 即为原始返回的数据
                if (res.status !== 0) res.status = 0;
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                }
            },
            request: {
                pageName: 'offset', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [
                [ //标题栏
                    {
                        type: 'checkbox'
                    },
                    {
                        field: 'name',
                        title: '仓库名称',
                        event: 'click',
                        style: 'cursor: pointer;',
                        sort: true
                    }, {
                        field: 'code',
                        title: '编号',
                        sort: true
                    }, {
                        field: 'ownername',
                        title: '货权人',
                        sort: true
                    } ,{
                        field: 'personname',
                        title: '负责人',
                        sort: true
                    }, {
                        field: 'address',
                        title: '地址',
                        sort: true
                    }, {
                        field: 'type',
                        title: '仓库类型',
                        sort: true,
                        templet:function(d){
                            if(d.status == 0){
                                return '监管仓';
                            }
                            return '自由仓';
                        }
                    }, {
                        field: 'remarks',
                        title: '备注',
                        sort: true
                    }
                    //,{
                    //     field: 'status',
                    //     title: '状态',
                    //     templet:function(d){
                    //         if(d.status == 0){
                    //             return '正常';
                    //         }
                    //         return '已删除';
                    //     }
                    // }
                ]
            ],
            even: true,
            page: true, //是否显示分页
            limits: [10, 20, 30, 40, 50],
            limit: 10, //每页默认显示的数量
            done: function(res, curr, count) {

            },
            text: {
                none: "无匹配数据"
            },
            loading: true
        });

        $(".addDepotBtn").click(function() {
            // 打开添加弹窗
            sessionStorage.removeItem('depotCheck');//点击新建仓库删除本地存储所选仓库信息
            $.get('view/form/form-addDepot.html', {}, function(str) {
                addDepotLayer = layer.open({
                    title: '添加仓库',
                    type: 1,
                    content: str, //注意，如果str是object，那么需要字符拼接。
                    resize: false,
                    area: ['800px', 'auto'],
                });
            });
        });

        form.on('submit(addDepotForm)', function(data) {
            var dataType = JSON.parse(sessionStorage.getItem('depotCheck'));//获取本地所选仓库信息，判断是否为修改
            var url;
            var msg = "新建仓库成功";
            console.log(dataType)
            if(dataType){
                //如果是修改
                url = depotUpdate;
                data.field.id = dataType.id
                msg = "修改仓库成功";
            }else{
                url = depotAdd;
            }

            $.get(url, data.field, function(json) {
                if (json.status == 0) {
                    sessionStorage.removeItem('depotCheck');//操作成功删除本地存储
                    tableIns.reload({
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                    layer.msg(msg);
                    layer.close(addDepotLayer);
                } else {
                    layer.msg("提交异常");
                }
            })
            return false;
        });

        $(".changeBtn").click(function() {
            //修改
            var checkStatus = table.checkStatus('tableContainer-depotList');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要编辑的信息");
            } else if (checkStatus.data.length > 1) {
                layer.msg("请选择需要编辑的单条信息");
            } else {
                sessionStorage.setItem('depotCheck', JSON.stringify(checkStatus.data[0]));//将所选仓库信息存储到本地作为回显
                $.get('view/form/form-addDepot.html', {}, function(str) {
                    addDepotLayer = layer.open({
                        title: '修改',
                        type: 1,
                        content: str, //注意，如果str是object，那么需要字符拼接。
                        resize: false,
                        area: ['800px', 'auto'],
                    });
                });
            }
        });

        $(".deleteBtn").click(function() {
            // 删除
            var checkStatus = table.checkStatus('tableContainer-depotList');
            if (checkStatus.data.length < 1) {
                layer.msg("请选择需要删除的信息");
            } else {
                layer.confirm('是否确认删除此条信息', {
                    icon: 3,
                    title: '提示'
                }, function(index) {
                    var rowId = [];
                    $.each(checkStatus.data, function(i, v) {
                        //获取所选行数ID
                        rowId.push(v.id);
                    });
                    //调删除接口
                    rowDataApi(depotDel, {
                        "ids": rowId
                    }, function(data) {
                        // 删除所选行成功
                        layer.close(index);
                        // 刷新表格
                        tableIns.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(data.msg);
                    });
                });
            }
        });

        table.on('tool(tableContainer-depotList)', function(obj) {
            //监听单元格点击事件
            var data = obj.data;
            if (obj.event === 'click') {
                data.type = "depotPosition";
                location.hash = "#!depot-position/";
                sessionStorage.setItem('depotPosition', JSON.stringify(data));//将当前仓库的库位信息存储在本地
            }
        });

        //增删行数据
        function rowDataApi(url, data, funSuc, funErr) {
            $.ajax({
                url: url,
                type: "get",
                data: data,
                traditional: true,
                success: funSuc,
                error: funErr
            })
        };
    });
</script>